Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

adding newlines
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
Due: prettier --write

alphabetize props
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

typing and formatting
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

flow item slot
  src/components/calcite-flow-item/readme.md
Due: prettier --write

shell panel slots
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

fixed shell panel slot types
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

fixes for edge
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

calcite shell slot
  src/components/calcite-shell/readme.md
Due: prettier --write

add button test for disabled
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --fix

top slot doc and cleanup
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

wording
  src/components/calcite-flow-item/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
Due: prettier --write

remove comment
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Add a couple styles
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

build & docs
  docs/build/calcite.esm.js
  docs/build/p-3ce557a5.system.js
  docs/build/p-4yrdewqu.system.entry.js
  docs/build/p-gy59ujmc.system.entry.js
  docs/build/p-mhwqtnuk.entry.js
  docs/build/p-yjoskcuw.entry.js
Due: none

v1.0.0-beta.1
  package-lock.json
  package.json
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

#104
  src/demos/calcite-flow.html
Due: none

re: #139. Added foreground styles
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

re #170. Disabled style for action
  src/assets/styles/_color.scss
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-shell.html
Due: prettier --write

v1.0.0-beta.2
  package-lock.json
  package.json
Due: prettier --write

#179 add closed/dismissed events
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

tests
  src/components/calcite-floating-panel/calcite-floating-panel.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

v1.0.0
  package-lock.json
  package.json
Due: prettier --write

Fix invalid markup in demo index page.
  src/index.html
Due: none

Update docs.
  docs/build/calcite.esm.js
  docs/build/p-3amlyfpq.system.entry.js
  docs/build/p-7ftbcdrp.entry.js
  docs/build/p-amob2whe.entry.js
  docs/build/p-ceid7jsz.entry.js
  docs/build/p-ea2c6346.system.js
  docs/build/p-fdtqhvx8.system.entry.js
  docs/build/p-ha5f4zbc.system.entry.js
  docs/build/p-k1qlw43t.entry.js
  docs/build/p-mxfyjtke.system.entry.js
  docs/build/p-qdmirnul.entry.js
  docs/build/p-tf3fpv72.system.entry.js
  docs/build/p-ugaxcehc.entry.js
  docs/build/p-zyud3hfg.system.entry.js
  docs/index.html
Due: none

minor code review edits
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

setup binding outside render
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

toBeDefined ftw
  src/components/calcite-picker/calcite-picker.e2e.ts
Due: prettier --write, tslint --fix

contextual panel fix #181
  src/components/calcite-shell/readme.md
Due: prettier --write

use getProperty()
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.e2e.ts
Due: prettier --write, tslint --fix

change ICON_TYPES to enum
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.tsx
  src/components/calcite-picker/resources.ts
Due: prettier --write, tslint --fix

big rename
  README.md
  docs/build/calcite.esm.js
  docs/build/p-ea2c6346.system.js
  docs/build/p-fdtqhvx8.system.entry.js
  docs/build/p-qdmirnul.entry.js
  docs/demos/calcite-shell.html
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.e2e.ts
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
  src/components/calcite-shell-floating-panel/readme.md
  src/components/calcite-shell-floating-panel/resources.ts
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/demos/calcite-shell.html
  stencil.config.ts
Due: prettier --write, tslint --fix

rename stragglers
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
Due: prettier --write, tslint --fix

testing
  src/demos/calcite-shell.html
Due: none

added dash
  src/components/calcite-shell-panel/readme.md
Due: prettier --write
