Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

split pickList and valueList
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

delete value-list-item supporting files
  src/components/calcite-value-list-item/calcite-value-list-row.e2e.ts
  src/components/calcite-value-list-item/resources.ts
Due: prettier --write, tslint --fix

have value-list-item use pick-list-item
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

add valueList demo
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

proxy the list item better in value-list-item
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

disabled state styles
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

fix merge error
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

remove undocumented `dismissed` attribute in favor of hidden. A developer can remove hidden if necessary which is an added benefit. Currently, they can't unhide once hidden.
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

leave the host alone!
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
Due: prettier --write, tslint --fix

add label editing demo
  src/demos/calcite-value-list.html
Due: none

update changelog for 3.0.0
  CHANGELOG.md
Due: prettier --write

3.0.0
  docs/demos/calcite-shell-full-window.html
  package-lock.json
  package.json
Due: prettier --write

remove slot
  README.md
  src/components/calcite-action/readme.md
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
  src/components/calcite-panel/resources.ts
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.e2e.ts
  src/components/calcite-shell-floating-panel/readme.md
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/demos/calcite-shell-full-window.html
  stencil.config.ts
Due: prettier --write, tslint --fix

fix: pick list needs to be visible to be clicked by puppeteer
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
Due: prettier --write, tslint --fix

fix ma tests
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

progress on panel component
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

test app
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/calcite-panel.html
Due: prettier --write, tslint --fix

fix: pick list needs to be visible to be clicked by puppeteer (#294)
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
Due: prettier --write, tslint --fix

fix typo
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

remove popper
  package-lock.json
  package.json
Due: prettier --write

flow-item use panel
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

add JSDoc
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

add typing
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

add JSDoc
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

WIP
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.e2e.ts
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.scss
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.tsx
  src/components/calcite-dismissible-panel/readme.md
  src/components/calcite-dismissible-panel/resources.ts
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
  src/demos/calcite-dismissible-panel.html
Due: prettier --write, tslint --fix

fix ids. Change metadata to be prop instead of attr
  src/demos/calcite-pick-list.html
Due: none

refactor: remove tabindex @Prop from tipManager (#267)
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

remove redundant hidden styles
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

update disable styles to match new look and feel
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

styling
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write

keyboard toggles
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

update opacity variable
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

fix: flow demo chang width to max-width (#277)
  src/demos/calcite-flow.html
Due: none

styles and some structural changes
  src/assets/styles/_color.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

feat: add disabled prop to pick-list-item (#281)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

no message
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.tsx
  src/demos/calcite-dismissible-panel.html
Due: prettier --write, tslint --fix

fix HTML
  src/demos/calcite-dismissible-panel.html
Due: none

update placeholder
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --fix

slight demo tweak
  src/demos/calcite-value-list.html
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
