Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

#1031 fix shell center row error
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

typing
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

add test?
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Updated icon scales in Action. (#1034)
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(action): fixed icon scales
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.1-beta.0
  package-lock.json
  package.json
Due: prettier --write

cleanup
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(changelog): ensure changelog includes entries from prereleases
  package.json
  support/ensureNonPrereleaseChangelog.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(changelog): ensure changelog includes entries from prereleases (#1036)
  package.json
  support/ensureNonPrereleaseChangelog.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

rework tests
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(shell-center-row): Error when no action-bar is provided (#1032)
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.1-beta.1
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

update calcite-components and fix calcite-block-section switch event
  package-lock.json
  package.json
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#1039)
  package-lock.json
  package.json
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

pin colorette to avoid bumping node to v14
  package-lock.json
  package.json
  src/components/calcite-fab/calcite-fab.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#1041)
  package-lock.json
  package.json
  src/components/calcite-fab/calcite-fab.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs: fix changelog handling script
  package-lock.json
  package.json
  support/ensureNonPrereleaseChangelog.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs: fix changelog handling script (#1043)
  package-lock.json
  package.json
  support/ensureNonPrereleaseChangelog.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(panel): slot-container height
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

6.1.2-beta.0
  package-lock.json
  package.json
Due: prettier --write

update peer deps
  package.json
Due: prettier --write

build(deps): bump versions (#1046)
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1047)
  package-lock.json
  package.json
Due: prettier --write

fix(panel): remove slot-container and associated styles
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.3-beta.0
  package-lock.json
  package.json
Due: prettier --write

#859 add test for scrolling
  src/components/calcite-panel/calcite-panel.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix test.
  src/components/calcite-panel/calcite-panel.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

cleanup
  src/components/calcite-panel/calcite-panel.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
