Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

wip
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #791: Drop styling for invalid use case.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Removed unnecessary `container` style. Added default class for container section node. Updated demos to also show non-nested pick-list-group.
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/demos/pick-list/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

feat: add styling and some updates for pick-list nesting (#783)
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/action-bar/add-action-after-init.html
  src/demos/pick-list/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Issue #791: Tidy up.
  .storybook/utils.ts
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add setFocus and change to span tag
  src/components/calcite-handle/calcite-handle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

spacing
  src/demos/sortable-list/basic.html
Due: none

don't trigger observer when sorting
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: Add nesting support to picklist groups (#770)
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/action-bar/add-action-after-init.html
  src/demos/pick-list/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

undo unintended change
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
Due: prettier --write, stylelint --fix

refactor: Hrobbins/list rename event 773 (#797)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove unused property
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: drag n drop component 483 (#747)
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-handle/calcite-handle.e2e.ts
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-handle/resources.ts
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
  src/components/calcite-sortable-list/calcite-sortable-list.scss
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-sortable-list/resources.ts
  src/demos/block/basic.html
  src/demos/handle/basic.html
  src/demos/sortable-list/basic.html
  src/demos/sortable-list/sortable-blocks.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

change css for action to support multiples
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/value-list/doubleAction.html
Due: prettier --write, stylelint --fix

fix(block): Remove extra padding applied to slotted icon content (#793)
  .storybook/utils.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

took out getting started
  PROJECT_GUIDELINES.md
Due: prettier --write

commits
  PROJECT_GUIDELINES.md
Due: prettier --write

redid github subsection
  PROJECT_GUIDELINES.md
Due: prettier --write

added link to dist/package in getting started readme
  PROJECT_GUIDELINES.md
Due: prettier --write

investigating
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-test/calcite-test.scss
  src/components/calcite-test/calcite-test.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/test.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

lint
  src/components/calcite-test/calcite-test.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

removed shadowRoot reference.
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

added ref to input
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix story prop
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fixed toc and synced it with the example structure
  PROJECT_GUIDELINES.md
Due: prettier --write

new comp
  PROJECT_GUIDELINES.md
Due: prettier --write

?
  PROJECT_GUIDELINES.md
Due: prettier --write

new comp checklist link added
  PROJECT_GUIDELINES.md
Due: prettier --write

ids and dir utils
  PROJECT_GUIDELINES.md
Due: prettier --write

a11y
  PROJECT_GUIDELINES.md
Due: prettier --write

updated toc
  PROJECT_GUIDELINES.md
Due: prettier --write

best practices
  PROJECT_GUIDELINES.md
Due: prettier --write

stab at testing
  PROJECT_GUIDELINES.md
Due: prettier --write

structure
  PROJECT_GUIDELINES.md
Due: prettier --write

wording
  PROJECT_GUIDELINES.md
Due: prettier --write

docs: update
  docs/iframe.html
  docs/main.1eb3b4d565b29bfb7b0f.bundle.js
  docs/main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/main.6ed89cf18aa0fc32c807.bundle.js
  docs/main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/runtime~main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/runtime~main.6ed89cf18aa0fc32c807.bundle.js
  docs/runtime~main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/vendors~main.1eb3b4d565b29bfb7b0f.bundle.js
  docs/vendors~main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js.LICENSE
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js.map
Due: none

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

trying to remove the line break that isnt appearing haha
  PROJECT_GUIDELINES.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
