Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

Fix typo
  .github/ISSUE_TEMPLATE/enhancement.md
Due: prettier --write

#56 ActionBar
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --fix

update i18n
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

readme
  src/components/calcite-action-bar/readme.md
  src/components/calcite-flow-item/readme.md
Due: prettier --write

fix attr and readme
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
Due: prettier --write, tslint --fix

#56
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
Due: prettier --write, tslint --fix

#56
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
Due: prettier --write, tslint --fix

Update readme.md
  src/components/calcite-action-bar/readme.md
Due: prettier --write

test progress
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

flow tests
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

Add a third tip to the demo that doesn't have a group title
  src/demos/calcite-tip-manager.html
Due: none

Update Calcite-Tip pattern and Events Pattern updated to match example file Register and Unregister Events emitters added.
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

progress
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

Remove dissmissed state and public methods Change hideTipManager to private method
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Adding prop for defaultTitle text override
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Fix Prettier config file name.
  .prettierrc.json
Due: prettier --write

tests
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --fix

rename files
  src/demos/calcite-action-bar/index.html
  src/demos/calcite-action-pad/index.html
  src/demos/calcite-action/index.html
Due: none

rename demo
  src/demos/calcite-flow/index.html
Due: none

build and add demo
  src/demos/calcite-flow-item/index.html
  src/demos/index.html
Due: none

rename demo
  src/demos/calcite-shell-panel/index.html
  src/demos/calcite-shell/index.html
Due: none

cleanup
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write

add lodash-es
  package-lock.json
  package.json
Due: prettier --write

remove console log statements
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

add new slotchange event to handle modifications
  package-lock.json
  package.json
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

remove braces
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

remove console log
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

remove the showTipManager call from the tests
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

shell tests
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --fix

position tests
  src/components/calcite-floating-panel/calcite-floating-panel.e2e.ts
Due: prettier --write, tslint --fix

Add missing closing tag.
  src/index.html
Due: none

changed lifecycle events tip uses for event emitters
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

move state mutations into separate function
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

renamed animation state classes
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

replace slotchange event with mutation observer
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

add mechanics to demo to add/remove tips
  src/demos/calcite-tip-manager.html
Due: none
