Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

Added heightScale to calcite-flow-item which is passed to calcite-panel.
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

#612
  src/demos/calcite-flow.html
Due: none

fix: JS error in flow demo by removing unnecessary script. #617
  src/demos/calcite-flow.html
Due: none

#619 calcite-action-usage documentation
  src/components/calcite-action/readme.md
  src/components/calcite-action/usage/basic.md
Due: prettier --write

added default slots documentation #561"
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project . --fix

additional fix for #573
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write, stylelint --fix

fix(value-list-item): focus inset
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write, stylelint --fix

simplifying wording
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --project . --fix

fix: added default slots documentation #561" (#622)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project . --fix

Package number.
  package.json
Due: prettier --write

Temporarily disabled check for master branch.
  support/prepublish.js
Due: none

Keep value-list-item selected in sync with pick-list-item
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

#619 calcite-action-usage documentation (#620)
  src/components/calcite-action/readme.md
  src/components/calcite-action/usage/basic.md
Due: prettier --write

fix: keep value-list-item selected in sync with pick-list-item (#623)
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

reverse deprecation for breaking change after fern.
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project . --fix

Replaces "calcite-example" with a boilerplate readme.
  BOILERPLATE_COMPONENT.md
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-example/calcite-example.scss
  src/components/calcite-example/readme.md
  src/components/calcite-example/resources.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

styling
  BOILERPLATE_COMPONENT.md
Due: prettier --write

link files
  CONTRIBUTING.md
  README.md
Due: prettier --write

refactor: update typography and size to use rems
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_type.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/calcite-typography.html
  src/demos/demos.css
Due: prettier --write, stylelint --fix

Refactor flow frame CSS
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

action bar snippets
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

words
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

added filter placeholder prop
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project . --fix

docs(demos): wire up storybook
  .lintstagedrc.json
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/declarations.d.ts
  .storybook/logo.svg
  .storybook/preview-head.html
  .storybook/theme.ts
  .storybook/utils.ts
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  stencil.config.ts
  stencil.docs.config.ts
  support/tempDocDirCleaner.js
  tsconfig-base.json
  tsconfig-storybook.json
  tsconfig-tslint.json
  tsconfig.json
Due: prettier --write, tslint --project . --fix

actions to action\s
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

updated per matts feedback!
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

spacing
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

english. no apostrophies sp?
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

Issue #401: Use calcite-colors for story background.
  .storybook/declarations.d.ts
  .storybook/utils.ts
Due: prettier --write, tslint --project . --fix

#626 fix animation being removed when the subtree of a flow changes during the animation
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

Issue #401: Extract common attributes.
  .storybook/resources.ts
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, tslint --project . --fix

#626 fix animation being removed when the subtree of a flow changes during the animation (#632)
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

Added height
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
Due: prettier --write, stylelint --fix

Issue #401: Tidy up.
  .storybook/theme.ts
Due: prettier --write, tslint --project . --fix

Add demo code
  src/demos/advanced/flow-adding-items.html
Due: none

docs: action bar snippets (#629)
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

spelling error
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

Issue #401: Update fonts URL.
  .storybook/preview-head.html
Due: none

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project . --fix: any of: *.{ts,tsx}
