Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

flow-item and panel footer actions fix. (#367)
  src/components/calcite-panel/calcite-panel.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

remove maquette
  src/demos/calcite-pick-list-advanced.html
Due: none

calciteListItemPropsUpdated is internal only
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

Set the property of the component instead of the attribute as a best practice. Also adds a selected property where it wasn't defined but being used.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --fix

remove commit noise from changelog
  CHANGELOG.md
Due: prettier --write

feat: Pick-list filter now only filters on text, value and metadata props (#461)
  .gitignore
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/tests/commonTests.ts
Due: prettier --write, tslint --fix

Styles for pick-list-group heading.
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
Due: prettier --write

fix: Pick-list filter now works if props have been modified after first-render (#400)
  src/components/calcite-pick-list/shared-list-logic.ts
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

remove script tag from demo
  src/demos/calcite-pick-list-advanced.html
Due: none

fix missing issue links
  CHANGELOG.md
Due: prettier --write

docs: remove commit noise from changelog (#504)
  CHANGELOG.md
  src/demos/calcite-pick-list-advanced.html
Due: prettier --write

docs: updates to changelog v4.5.0
  CHANGELOG.md
Due: prettier --write

set more props
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

fix: Set the property of the component instead of the attribute (#502)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

Issue #402: Add tests for loading and disabled.
  src/components/calcite-block/calcite-block.e2e.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Issue #402: Tidy up.
  src/components/calcite-block/calcite-block.e2e.ts
Due: prettier --write, tslint --fix

minor update to release instructions
  README.md
Due: prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

feat: pick-list and value-list sticky filter
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

Fix for missed action-pad styles. (#506)
  src/components/calcite-action-pad/calcite-action-pad.scss
Due: prettier --write

Fix for missed block-section switch mode style. (#507)
  src/components/calcite-block-section/calcite-block-section.scss
Due: prettier --write

style(action-pad): added missing styles
  src/components/calcite-action-pad/calcite-action-pad.scss
Due: prettier --write

style(block-section): missed style for switch mode #512 #507
  src/components/calcite-block-section/calcite-block-section.scss
Due: prettier --write

Issue #402: Tidy up.
  src/demos/calcite-block.html
Due: none

test(block): add tests for loading and disabled properties (#508)
  src/components/calcite-block/calcite-block.e2e.ts
Due: prettier --write, tslint --fix

4.5.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-6cofceuj.entry.js
  docs/build/p-8bxdpxln.system.entry.js
  docs/build/p-9abf81df.system.js
  docs/build/p-9xyia2rk.entry.js
  docs/build/p-cfrryygc.system.entry.js
  docs/build/p-i1rbntil.entry.js
  docs/build/p-irrgrfno.entry.js
  docs/build/p-kpdczxke.system.entry.js
  docs/build/p-mau2nxei.system.entry.js
  docs/build/p-medooydd.entry.js
  docs/build/p-nimfj3oe.entry.js
  docs/build/p-p06wztze.system.entry.js
  docs/build/p-rcjpba5w.entry.js
  docs/build/p-shij6imw.system.entry.js
  docs/build/p-uwcezhrk.system.entry.js
  docs/build/p-v4p8fmyz.system.entry.js
  docs/build/p-vsu0sbqr.entry.js
  package-lock.json
  package.json
  src/components/calcite-tip/readme.md
Due: prettier --write

add to changelog
  CHANGELOG.md
Due: prettier --write

chore(deps): Bump versions. (#510)
  package-lock.json
  package.json
Due: prettier --write

Style for block-section switch mode. Label spacing. (#455)
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

#477 kickstart work for @alansangma
  src/components/calcite-shell/calcite-shell.scss
  src/demos/calcite-shell.html
Due: prettier --write

style(block-section): Label spacing in switch mode.
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

Refactor for layout vars. Use CSS vars for calculations. (#516)
  src/assets/styles/_layout.scss
Due: prettier --write

Style. shell > tip-manager. Added tip-manager to full-window.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

Demo. Added toggle for tip-manager.
  src/demos/calcite-shell-full-window.html
Due: none

shell > tip-manager minor tweaks.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

add missing styles to valueList for sticky
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write

remove filterSticky prop
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

add default focus style for calcite-action
  src/components/calcite-action/calcite-action.scss
Due: prettier --write
