Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

mutation observer definition accessibility button
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

explicit version for classnames dependency
  package.json
Due: prettier --write

move watch handlers closer to their props
  src/components/calcite-example/calcite-example.tsx
Due: prettier --write, tslint --fix

remove is-animating class the direction modifier class suffices to trigger the animation
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

comment out helper text
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

comment out helper text (#73)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

New Component: Tip Manager (#48)
  .github/ISSUE_TEMPLATE/enhancement.md
  package-lock.json
  package.json
  src/assets/styles/_mixins.scss
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip-manager.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

minor typing adjustement to tip manager
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

tipmanager cleanup
  src/components/calcite-example/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/demos/calcite-tip-manager.html
Due: prettier --write, tslint --fix

rename method and add method return types
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

casing :)
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

remove nodeListToArray
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

review fixes.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

remove storageUID
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

FLIP IT!
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

setup observer after first render, remove observer when unloaded.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Update and fix calcite dep versions.
  package-lock.json
  package.json
Due: prettier --write

re #34. Added shadows from calcite-components base. Reverted mistakes from merge.
  src/assets/styles/_layout.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

Issue #8: Add Block component.
  src/components/calcite-block-content/calcite-block-content.e2e.ts
  src/components/calcite-block-content/calcite-block-content.scss
  src/components/calcite-block-content/calcite-block-content.tsx
  src/components/calcite-block-content/readme.md
  src/components/calcite-block-header/calcite-block-header.e2e.ts
  src/components/calcite-block-header/calcite-block-header.scss
  src/components/calcite-block-header/calcite-block-header.tsx
  src/components/calcite-block-header/readme.md
  src/components/calcite-block-header/resources.ts
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/readme.md
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-block/resources.ts
  src/demos/calcite-block.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

re: #34. Some tweaks. Demo updates. TSX fixes.
  src/assets/styles/_type.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip.html
  src/demos/demos.css
Due: prettier --write, tslint --fix

Sort demo tabs.
  src/demos/nav.js
Due: none

Update docs.
  docs/assets/styles/_mixins.scss
  docs/build/calcite.esm.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-1m5omyqe.system.entry.js
  docs/build/p-6f42f185.system.js
  docs/build/p-758a8528.js
  docs/build/p-787b7561.js
  docs/build/p-b690b19b.system.js
  docs/build/p-byqpyhj6.system.entry.js
  docs/build/p-clshqrt5.entry.js
  docs/build/p-de5convf.entry.js
  docs/build/p-etppfvop.entry.js
  docs/build/p-etqhjir9.entry.js
  docs/build/p-gcnp7pwx.entry.js
  docs/build/p-hbgzntmh.system.entry.js
  docs/build/p-hvzqkt87.entry.js
  docs/build/p-irwvwenq.system.entry.js
  docs/build/p-jdfuoobk.entry.js
  docs/build/p-lmartogd.system.entry.js
  docs/build/p-m5mzoyxb.system.entry.js
  docs/build/p-qbi4hkev.entry.js
  docs/build/p-shndjepk.entry.js
  docs/build/p-sky8dnyd.system.entry.js
  docs/build/p-vg4yrm5k.system.entry.js
  docs/build/p-yj7kcxua.system.entry.js
  docs/demos/calcite-tip-manager.html
  docs/demos/nav.js
Due: prettier --write

Fix PR template comment.
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

re: #34. Demo tweaks.
  src/demos/calcite-tip.html
Due: none

re: #34. Cleanup.
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

re: #34. Comment cleanup.
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

Initial formatting.
  src/assets/styles/_layout.scss
  src/assets/styles/_type.scss
  src/assets/styles/includes.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.scss
Due: prettier --write, tslint --fix

re: Flow and FlowItem. More styles. Using calcite-app-action in header.
  src/assets/styles/_color.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/calcite-flow/index.html
Due: prettier --write, tslint --fix

re: FlowItem. More styles and demo updates.
  src/assets/styles/_layout.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/demos/calcite-flow/index.html
Due: prettier --write

temp. trying to get ::slotted selector to work.
  src/assets/styles/_layout.scss
  src/assets/styles/includes.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/demos/calcite-flow/index.html
Due: prettier --write

re: FlowItem. Added animation keyframes. TODO: cleanup.
  src/assets/styles/_animation.scss
  src/assets/styles/_layout.scss
  src/assets/styles/includes.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/demos/calcite-flow/index.html
Due: prettier --write

re: FlowItem. Clean up and demo stuff.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/calcite-flow/index.html
Due: prettier --write, tslint --fix

re: FlowItem. Some tsk tweaks. @driskull it might be gross.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/demos/calcite-flow/index.html
Due: prettier --write, tslint --fix

wip picker
  package-lock.json
  package.json
  src/components/calcite-picker/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.scss
  src/components/calcite-picker/calcite-picker.tsx
  src/components/calcite-picker/resources.ts
  src/demos/calcite-picker.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

re: FlowItem. Top level heading class.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --fix

Revert "re: FlowItem. Top level heading class."
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --fix

Revert "re: FlowItem. Some tsk tweaks. @driskull it might be gross."
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/demos/calcite-flow/index.html
Due: prettier --write, tslint --fix

re: Flow and FlowItem. Redid heading class and closing of header menu when adding a Flow.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

clean up
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

re: #34. Removed unneeded :host selectors
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write
