Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write", "git add"]
}

chore: bump versions (#745)
  package-lock.json
  package.json
Due: prettier --write

add tests to handle
  src/components/calcite-handle/calcite-handle.e2e.ts
  src/components/calcite-handle/calcite-handle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

review fixes
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/panel/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

sortable list tests
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

review fixes
  src/scss/global.scss
  src/scss/injected.scss
  src/scss/mixins/_utilities.scss
  src/scss/mixins/variables/_animation.scss
  src/scss/mixins/variables/_layout.scss
  src/scss/mixins/variables/_shadow.scss
  src/scss/mixins/variables/_typography.scss
  src/scss/mixins/variables/theme/_dark.scss
  src/scss/mixins/variables/theme/_light.scss
Due: prettier --write, stylelint --fix

fix mixins
  src/scss/includes/_component.scss
Due: prettier --write, stylelint --fix

rename comment
  src/scss/mixins/variables/_animation.scss
Due: prettier --write, stylelint --fix

Only apply bg color if necessary. default is app bg.
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/scss/placeholders/_host.scss
Due: prettier --write, stylelint --fix

use underscore
  src/scss/injected.scss
Due: prettier --write, stylelint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

review fixes
  src/scss/global.scss
  src/scss/mixins/variables/_animation.scss
  src/scss/mixins/variables/_layout.scss
  src/scss/mixins/variables/_shadow.scss
  src/scss/mixins/variables/_typography.scss
  src/scss/mixins/variables/theme/_dark.scss
  src/scss/mixins/variables/theme/_light.scss
  src/scss/placeholders/_host.scss
Due: prettier --write, stylelint --fix

rename type
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove comments from output
  src/scss/includes/_component.scss
Due: prettier --write, stylelint --fix

refactor: styles. (#741)
  src/assets/styles/_animation.scss
  src/assets/styles/_color.scss
  src/assets/styles/_type.scss
  src/assets/styles/includes.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/scss/README.md
  src/scss/global.scss
  src/scss/includes/_animation.scss
  src/scss/includes/_component.scss
  src/scss/includes/_header.scss
  src/scss/injected.scss
  src/scss/mixins/_utilities.scss
  src/scss/mixins/variables/_animation.scss
  src/scss/mixins/variables/_layout.scss
  src/scss/mixins/variables/_shadow.scss
  src/scss/mixins/variables/_typography.scss
  src/scss/mixins/variables/theme/_dark.scss
  src/scss/mixins/variables/theme/_light.scss
  src/scss/placeholders/_host.scss
  stencil.config.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions. (#749)
  package-lock.json
  package.json
Due: prettier --write

lists react to value prop changes in items
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/valueUpdate.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #751: Prevent unintentional toggling from bubbled control space/enter.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(demos): replace missed inline SVG icons with calcite-icon
  src/demos/action-bar/add-action-after-init.html
  src/demos/action/add-action-icon-after-init.html
Due: none

Dedent templated markup.
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/_assets/head.ts
  src/demos/flow/adding-items.html
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(demos): replace missed inline SVG icons with calcite-icon (#754)
  src/demos/action-bar/add-action-after-init.html
  src/demos/action/add-action-icon-after-init.html
Due: none

add test for value change functionality
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove .only
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

change config so readme only built on prod build
  package.json
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

rename event
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test for review
  src/components/calcite-panel/calcite-panel.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

change config so readme only built on prod build (#756)
  package.json
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Refactor header toggling element.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add ability to focus on container as well.
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: setFocus on dismiss button method #740 (#742)
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/panel/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(block): prevent unintentional toggling when interacting with a slotted control
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Bump @stencil/core.
  package-lock.json
  package.json
Due: prettier --write

fix(block): prevent unintentional toggling when interacting with a slotted control (#762)
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions. (#761)
  package-lock.json
  package.json
Due: prettier --write
