Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

Action story
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

docs(calcite-block): update stories to use property name
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, tslint --project . --fix

action stories
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, tslint --project . --fix

remove comment
  src/demos/calcite-flow-item.html
Due: none

docs(calcite-block): update stories to use property name (#658)
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, tslint --project . --fix

docs: [Storybook] Action component stories (#659)
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

only query actions
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

flow progress
  src/components/calcite-flow/calcite-flow.stories.ts
Due: prettier --write, tslint --project . --fix

docs(demos): add missing vendor stylesheet
  .storybook/preview-head.html
Due: none

progress
  .storybook/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
Due: prettier --write, tslint --project . --fix

docs(demos): add missing vendor stylesheet (#661)
  .storybook/preview-head.html
Due: none

flow story
  src/components/calcite-flow/calcite-flow.stories.ts
Due: prettier --write, tslint --project . --fix

calcite-panel
  .storybook/resources.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/interfaces.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

add slots to tip
  src/components/calcite-tip/calcite-tip.stories.ts
Due: prettier --write, tslint --project . --fix

docs: [Storybook] Flow & Panel component stories (#662)
  .storybook/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/interfaces.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

shell progress
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

shell progress
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

fix formatting
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

advanced demo
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

ready for review
  .storybook/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

formatting
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

checkered bg
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

remove storage id default
  src/components/calcite-tip/calcite-tip.stories.ts
Due: prettier --write, tslint --project . --fix

docs: [Storybook] Shell component stories (#663)
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
Due: prettier --write, tslint --project . --fix

4.11.0
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-0v3fshqq.system.entry.js
  docs/build/p-3pxjvly1.system.entry.js
  docs/build/p-7961d131.system.js
  docs/build/p-79775314.system.js
  docs/build/p-7xngsgtd.entry.js
  docs/build/p-81734265.system.js
  docs/build/p-8w1lvmo5.entry.js
  docs/build/p-ai4jxptf.entry.js
  docs/build/p-apixaalx.entry.js
  docs/build/p-b08e1198.js
  docs/build/p-b8edhukk.system.entry.js
  docs/build/p-c66afrt3.entry.js
  docs/build/p-dc89b1eb.js
  docs/build/p-h0leox0x.system.entry.js
  docs/build/p-l2xfurvq.system.entry.js
  docs/build/p-lhz8qam9.entry.js
  docs/build/p-mkkhgl7n.system.entry.js
  docs/build/p-mv6p1jdu.system.entry.js
  docs/build/p-q2zuns3m.system.entry.js
  docs/build/p-wfkjz80l.entry.js
  docs/build/p-ycba3gum.entry.js
  docs/demos/demoPageReloader.js
  docs/demos/demoPageReloader.ts
  docs/demos/head.js
  docs/demos/head.ts
  docs/demos/toggles.js
  docs/demos/toggles.ts
  package-lock.json
  package.json
  src/components/calcite-pick-list/readme.md
  src/components/calcite-value-list/readme.md
Due: prettier --write, tslint --project . --fix

fix aXe
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

Fix attempt for Safari bug with pick-list + flow (#565).
  src/components/calcite-flow/calcite-flow.scss
Due: prettier --write, stylelint --fix

docs: calcite block snippets (#657)
  src/components/calcite-block/usage/basic.md
Due: prettier --write

sortable list component wip
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
  src/components/calcite-sortable-list/calcite-sortable-list.scss
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-sortable-list/resources.ts
  src/demos/calcite-sortable-list.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

fix(flow): remove height rule for frame
  src/components/calcite-flow/calcite-flow.scss
Due: prettier --write, stylelint --fix

4.11.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-81734265.system.js
  docs/build/p-b8edhukk.system.entry.js
  docs/build/p-e5riypq1.entry.js
  docs/build/p-l4a4t0fr.system.entry.js
  docs/build/p-wfkjz80l.entry.js
  package-lock.json
  package.json
  src/components/calcite-block/readme.md
Due: prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

no message
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

sort stories, generate mdx docs, add categories
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/presets.ts
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/introduction.stories.mdx
Due: prettier --write, tslint --project . --fix

cleanup
  .storybook/addons.ts
Due: prettier --write, tslint --project . --fix

no message
  src/introduction.stories.mdx
Due: none

chore(demos): ensure demo files are kept in sync on initial load
  package.json
Due: prettier --write

chore(deps): Bump versions. (#666)
  package-lock.json
  package.json
Due: prettier --write

setup all docs
  CONTRIBUTING.md
  GETTING_STARTED.md
  LICENSING.md
  README.md
  src/1-introduction.stories.mdx
  src/2-getting-started.stories.mdx
  src/3-contributing.stories.mdx
  src/4-code-of-conduct.stories.mdx
  src/5-licensing.stories.mdx
  src/introduction.stories.mdx
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project . --fix: any of: *.{ts,tsx}
