Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

fix const
  src/components/calcite-popover/calcite-popover.tsx
Due: prettier --write, tslint --fix

hide overflow content in main
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

add docs generation to npm version script
  package.json
Due: prettier --write

update test app
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: none

update package name and description
  package.json
Due: prettier --write

npm install prior to bumping version Also add a prepublish check that you are on the master branch.
  package-lock.json
  package.json
  support/prepublish.js
Due: prettier --write

set access to public
  .npmrc
Due: none

add release scripts
  package.json
Due: prettier --write

remove unused release bash script
  support/release.sh
Due: none

revert version
  package.json
Due: prettier --write

Updates to Readme to include release instructions
  README.md
Due: prettier --write

code review follow ups
  README.md
  package.json
  stencil.config.ts
  support/prepublish.js
Due: prettier --write, tslint --fix

Hrobbins/npm publish preparation (#255)
  .gitignore
  .npmrc
  README.md
  package-lock.json
  package.json
  stencil.config.ts
  support/prepublish.js
  support/release.sh
Due: prettier --write, tslint --fix

chore: initial changelog
  CHANGELOG.md
Due: prettier --write

build docs
  src/components/calcite-action-bar/readme.md
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

chore: initial changelog (#256)
  CHANGELOG.md
Due: prettier --write

changelog add v2.1.0
  CHANGELOG.md
Due: prettier --write

2.1.0
  docs/build/calcite-app.esm.js
  docs/build/p-0seg58jt.entry.js
  docs/build/p-28pfmwso.entry.js
  docs/build/p-48d8dubq.entry.js
  docs/build/p-6jlpwklp.system.entry.js
  docs/build/p-7npsx9ik.system.entry.js
  docs/build/p-9squsnbu.entry.js
  docs/build/p-bmxmuobb.entry.js
  docs/build/p-elqgwr04.system.entry.js
  docs/build/p-f1d2167d.system.js
  docs/build/p-fu7febss.entry.js
  docs/build/p-kxppkh7f.system.entry.js
  docs/build/p-l0cipexh.system.entry.js
  docs/build/p-pprmmiuq.entry.js
  docs/build/p-pwpq5rlo.system.entry.js
  docs/build/p-toud9p1z.system.entry.js
  docs/build/p-v3sbsnbu.system.entry.js
  docs/build/p-xxryrtdv.entry.js
  docs/host.config.json
  package-lock.json
  package.json
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-shell-floating-panel/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

fix: prepublish script. trim the branchname string
  support/prepublish.js
Due: none

Hrobbins/enhancement tipmanager arrowkeynavigation 126 (#242)
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

undo merge error adding back calcite fonts
  package-lock.json
  package.json
Due: prettier --write

update changelog
  CHANGELOG.md
Due: prettier --write

PickList Component (#141)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/calcite-action-pad/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-demo-nav/readme.md
  src/components/calcite-example/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-row.e2e.ts
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-row.e2e.ts
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-group/readme.md
  src/components/utils/guid.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

add loading prop and css selector for it
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

v2.2.0 changelog entries
  CHANGELOG.md
Due: prettier --write

review fixes
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

docs
  src/components/calcite-action-pad/readme.md
  src/components/calcite-shell-floating-panel/readme.md
Due: prettier --write

#257 update calcite-ui-icons to 2.5.0
  package-lock.json
  package.json
Due: prettier --write

package lock
  package-lock.json
Due: prettier --write

demos
  src/demos/calcite-popover-rtl.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: none

start bottom end when on right side of body.
  src/components/calcite-popover/calcite-popover.tsx
Due: prettier --write, tslint --fix

safety checks
  src/components/calcite-popover/calcite-popover.tsx
Due: prettier --write, tslint --fix

#259
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write

Popover open
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/resources.ts
  src/demos/calcite-popover-rtl.html
  src/demos/calcite-popover.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

TESTS
  src/components/calcite-popover/calcite-popover.e2e.ts
Due: prettier --write, tslint --fix

wording
  src/components/calcite-popover/calcite-popover.tsx
Due: prettier --write, tslint --fix

build & docs
  docs/build/calcite-app.esm.js
  docs/build/p-07rpupyw.system.entry.js
  docs/build/p-0m546fqh.system.entry.js
  docs/build/p-a38833da.system.js
  docs/build/p-ljmativt.entry.js
  docs/build/p-yc7vkbsj.entry.js
  docs/demos/calcite-popover-rtl.html
  docs/demos/calcite-popover.html
  docs/demos/calcite-shell-rtl.html
  docs/demos/calcite-shell.html
  src/components/calcite-popover/readme.md
Due: prettier --write

fix changelog
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
