Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write", "git add"]
}

note about calcite icon being in different repo
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

docs: calcite shell snippets (#706)
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/demos/shell/basic.html
Due: prettier --write

basic and action pad
  src/components/calcite-shell-panel/usage/basic.md
Due: prettier --write

closing calcite-icon for shell😬
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

reverting the basic demo that i just plastered over
  src/demos/shell/basic.html
Due: none

A shell with only a contextual panel displays on the incorrect side #259
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/demos/shell/demo-app-full-window-reversed.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

use variable
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: calcite shell panel snippets (#707)
  src/components/calcite-shell-panel/usage/basic.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

reverting the basic demo that i just plastered over (#708)
  src/demos/shell/basic.html
Due: none

Focus styles are important too.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix

basic
  src/components/calcite-tip/usage/basic.md
Due: prettier --write

storage-id
  src/components/calcite-tip/usage/basic.md
Due: prettier --write

prevent window scrolling when using arrow keys in flow-item menu
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: calcite tip snippets (#711)
  src/components/calcite-tip/usage/basic.md
Due: prettier --write

only css files modified
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix

basic
  src/components/calcite-tip-manager/usage/basic.md
Due: prettier --write

description wording
  src/components/calcite-tip-manager/usage/basic.md
Due: prettier --write

docs: calcite tip manager snippets (#714)
  src/components/calcite-tip-manager/usage/basic.md
Due: prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions. (#715)
  package-lock.json
  package.json
Due: prettier --write

prevent window scrolling when using arrow keys in flow-item menu (#712)
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

slots const
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

basic
  src/components/calcite-value-list/usage/basic.md
Due: prettier --write

add slots const for panel and flow
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: add slots const for panel and flow (#716)
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

label editing dragon compavt
  src/components/calcite-value-list/usage/basic.md
Due: prettier --write

use storybook default values
  .storybook/resources.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/resources.ts
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: calcite value list snippets (#717)
  src/components/calcite-value-list/usage/basic.md
Due: prettier --write

remove empty text-description
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

docs: calcite pick list snippets (#700)
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

action
  src/components/calcite-action/usage/basic.md
Due: prettier --write

action bar icons
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

action pad icon
  src/components/calcite-action-pad/usage/basic.md
Due: prettier --write

panel icon snips
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

pick list icons
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

docs: snippet cleanup (#719)
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action-pad/usage/basic.md
  src/components/calcite-action/usage/basic.md
  src/components/calcite-panel/usage/basic.md
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

- remove localstorage support - thumbnail slot - remove unused utilities - update demo
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/utils/array.ts
  src/components/utils/dom.ts
  src/components/utils/localStorage.ts
  src/demos/tip/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

no message
  src/components/calcite-tip/usage/basic.md
Due: prettier --write

fix styling
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write, stylelint --fix

Storybook - Add knob for RTL/LTR toggle for each component #722
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
