Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

fix nav width on edge.
  docs/build/calcite.esm.js
  docs/build/p-1mrlhtkq.system.entry.js
  docs/build/p-3ce557a5.system.js
  docs/build/p-4e3mmf5e.system.entry.js
  docs/build/p-f1ndqjk7.entry.js
  docs/build/p-ombcxsk4.entry.js
  src/components/calcite-demo-nav/calcite-demo-nav.scss
Due: prettier --write

v1.0.0-beta.0
  package-lock.json
  package.json
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-demo-nav/readme.md
  src/components/calcite-example/readme.md
  src/components/calcite-floating-panel/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

review fixes
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
Due: prettier --write, tslint --fix

build and docs
  docs/build/calcite.esm.js
  docs/build/p-15nqsznl.system.entry.js
  docs/build/p-1b465636.system.js
  docs/build/p-3ce557a5.system.js
  docs/build/p-58ae39d2.system.js
  docs/build/p-aa1feb72.js
  docs/build/p-dedpkfwa.entry.js
  docs/build/p-e5f29ee9.js
  docs/build/p-e6zpo8f9.system.entry.js
  docs/build/p-hyo8ngad.system.entry.js
  docs/build/p-ie5i2kro.system.entry.js
  docs/build/p-iru22o6k.system.entry.js
  docs/build/p-j07hxdhs.system.entry.js
  docs/build/p-kw7zkuvv.entry.js
  docs/build/p-m9vghlhs.entry.js
  docs/build/p-oyj7hwhg.system.entry.js
  docs/build/p-pwi8f5dg.entry.js
  docs/build/p-vgpvjkly.entry.js
  docs/build/p-wa30wbap.system.entry.js
  docs/build/p-wb7i7u5w.entry.js
  docs/build/p-y5bunw44.entry.js
  docs/build/p-zkm4yjrx.entry.js
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

homepage blurb
  src/index.html
Due: none

added links to components in demos
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
Due: none

added links to demos in readmes
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

remove rich data property
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

Merge _support folder into utils.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/utils/CalciteIcon.spec.ts
  src/components/utils/CalciteIcon.tsx
  src/components/utils/resources.ts
Due: prettier --write, tslint --fix

Assimilate localStorage utils.
  src/components/calcite-tip/calcite-tip.tsx
  src/components/utils/localStorage.ts
Due: prettier --write, tslint --fix

linked <demo> instead of <here>
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
  src/demos/calcite-action-bar.html
Due: prettier --write

link wording update again
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

reworded links in demos
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
Due: none

homepage blurb rewording
  src/index.html
Due: none

Issue #157: Restore Block control example.
  src/components/calcite-block/calcite-block.e2e.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Issue #157: Remove unnecessary attribute from example.
  src/demos/calcite-block.html
Due: none

Update docs.
  docs/demos/calcite-block.html
Due: none

update stencil add npmrc to make save-exact true by default
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

add tests for picker-group
  src/components/calcite-picker/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker-group/resources.ts
Due: prettier --write, tslint --fix

lock file
  package-lock.json
Due: prettier --write

undo change to icon type
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

namespace events
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

fix edit watcher
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

namespace event names
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

disabled property on calcite-action #162
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

#164 add collapsed property to hide content
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

wip on tests
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

tseting
  src/components/calcite-action-bar/readme.md
Due: prettier --write

replace hardcoded icons with ICON_TYPES
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

replace hardcoded strings with constants
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker-row/resources.ts
  src/components/calcite-picker/resources.ts
Due: prettier --write, tslint --fix

add test for click behavior
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.e2e.ts
Due: prettier --write, tslint --fix

remove the editing code from picker
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

rename picker-row to picker-item
  src/components/calcite-picker/calcite-picker-item/calcite-picker-item.scss
  src/components/calcite-picker/calcite-picker-item/calcite-picker-item.tsx
  src/components/calcite-picker/calcite-picker-item/resources.ts
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

update stencil (#160)
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

action bar/block
  src/components/calcite-action-bar/readme.md
  src/components/calcite-block/readme.md
Due: prettier --write

update sortable to explicit version
  package-lock.json
  package.json
Due: prettier --write

adding comments
  src/components/calcite-picker/calcite-picker-group/calcite-picker-group.tsx
Due: prettier --write, tslint --fix
