Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write", "git add"]
}

ordering
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: Storybook - Add knob for RTL/LTR toggle for each component (#723)
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: storybook only set dir and theme for main components.
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

FlowItem RTL trailing icon isn't on the far side #721
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix action display on edge.
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

fix: focus button styles #713
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix

fix: FlowItem RTL trailing icon isn't on the far side #721
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix for safari bugs with pick-list and value-list. (#565)
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

fix: action display on edge. #725
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

test for 1.9.0-7
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix: addresses safari bugs with pick-list and value-list
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

1.9.0-9
  package.json
Due: prettier --write

1.9.0-9
  package-lock.json
Due: prettier --write

fixed duplicate SLOT defs
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Clean up and demo updates.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/demos/flow/adding-items.html
Due: prettier --write, stylelint --fix

Remove scale transform from flow animation.
  src/components/calcite-flow/calcite-flow.scss
Due: prettier --write, stylelint --fix

change logic for label and text
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix aria roles
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

modifying a11y tests to use combined HTML
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

style: added role="menu" to value and pick list (#655)
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

reset e2e
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Removed demos. Removed unused SLOT defs. Made summary optional.
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/resources.ts
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-panel.html
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(flow-item, panel): add summary and related styles (#583)
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

text container should always be in dom.
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test, fix label optional, fix textEnabled reflecting
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix demo labels
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix action tests
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

title fix
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor: action - make text prop required (#670)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/basic.html
  src/demos/block/with-value-list.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell/demo-app-full-window.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

slot fixes and test apps
  src/demos/action-bar/edge-slot.html
  src/demos/action/edge-slot.html
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

rename secondary-action slot
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

modify test apps
  src/demos/action-bar/add-action-after-init.html
  src/demos/action-bar/edge-slot.html
  src/demos/action/add-action-icon-after-init.html
  src/demos/action/edge-slot.html
Due: none

chore: bump stencil to 1.9.0 pre-release (#731)
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/action-bar/add-action-after-init.html
  src/demos/action/add-action-icon-after-init.html
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat!: BREAKING CHANGE rename secondary-action slot
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix: A shell with only a contextual panel displays on the incorrect side (#709)
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/demos/shell/demo-app-full-window-reversed.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

no message
  src/components/calcite-pick-list/usage/basic.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-value-list/usage/basic.md
  src/demos/block/with-value-list.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: prettier --write

docs: replace secondaryAction with secondary-action
  src/components/calcite-pick-list/usage/basic.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-value-list/usage/basic.md
  src/demos/block/with-value-list.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: prettier --write

new handle component
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-handle/resources.ts
  src/demos/handle/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

refactor sortable-list to not include handle
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-sortable-list/resources.ts
  src/demos/sortable-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
