Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(deps): bump versions (#982)
  package-lock.json
  package.json
Due: prettier --write

cleanup
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Update shared-list-render.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

refactor util
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Make direct behavior default
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix logic to disable descendant check behavior.
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(deps): fix npm audit
  package-lock.json
Due: prettier --write

refactor(dom): enhance getSlotted to process direct children (#983)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(deps): fix npm audit (#984)
  package-lock.json
Due: prettier --write

fix tests/cleanup
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix scrim
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore: Use calcite-scrim component (#964)
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore: use Travis environment vars for notification setup
  .travis.yml
Due: none

split up vars
  .travis.yml
Due: none

chore: use Travis environment vars for notification setup (#985)
  .travis.yml
Due: none

#618 fix scrim theme
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

get closest theme
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore: fix scrim theme (#987)
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore: encrypted notification settings
  .travis.yml
Due: none

chore: encrypted notification settings (#988)
  .travis.yml
Due: none

build: drop ci-linting
  .travis.yml
Due: none

chore(standard-version): use changelogHeader replacement
  .versionrc.json
Due: prettier --write

chore(standard-version): use changelogHeader replacement (#990)
  .versionrc.json
Due: prettier --write

docs(changelog): simplify header
  .versionrc.json
Due: prettier --write

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#992)
  package-lock.json
  package.json
Due: prettier --write

build: drop ci-linting (#989)
  .travis.yml
Due: none

docs(changelog): simplify header (#991)
  .versionrc.json
Due: prettier --write

build(travis): set up calcite-app-components@next publishing
  .travis.yml
  .versionrc.json
  package.json
  support/prepNextDeploymentForTravis.sh
Due: prettier --write

Fixed RTL check. Small tweak to block-section toggle. Updated demo CSS to all for smaller containers. (#993)
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/_assets/demos.css
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(travis): set up calcite-app-components@next publishing (#994)
  .travis.yml
  .versionrc.json
  package.json
  support/prepNextDeploymentForTravis.sh
Due: prettier --write

build(travis): update config for auto-deployment
  .travis.yml
Due: none

Using classes object for dynmaic. (#993). Cleaned up CSS.
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(block-section): rtl class was getting incorrectly applied
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/_assets/demos.css
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Replace line-clamp with break-word. (#996)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/shell/demo-app-full-window.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

build(deps): bump versions (#998)
  package-lock.json
  package.json
Due: prettier --write

travis update test
  .travis.yml
Due: none

test output
  .travis.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
