Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix shared list test typings
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(value-list): ensure keyboard-enabled DND stays active when moving items around (#1012)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.5
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

a start
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/interfaces.ts
  src/demos/shell/demo-app-center-row-shell-panel.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Adding action-bar slot to center-row. (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-center-row/resources.ts
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-center-row-shell-panel.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

notes.
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

revert shell-panel.
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/interfaces.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

revert shell-panel scss.
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

ugh
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

position action bar
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added RTL checks and styles (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

cleanup.
  src/demos/shell/demo-app-center-row-action-bar.html
Due: none

Added E2E for action-bar slot. (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Readme update. (#1007)
  src/components/calcite-shell-center-row/readme.md
Due: prettier --write

Formatting and factoring (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix

Added E2E for action-bar positions. (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Refactored action-bar check and position check. Added default value for action-bar position. Fixed typo in SCSS. (#1007)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Removed default position from action-bar. Updated styles and demo app. (#1007)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Replaced css var with sass var. (#1007)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
Due: prettier --write, stylelint --fix

feat(shell-center-row): add slot for action-bar
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-center-row/readme.md
  src/components/calcite-shell-center-row/resources.ts
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.6
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1019)
  package-lock.json
  package.json
Due: prettier --write

Updated Action icon scale logic. Cleaned up demo app. (#1020)
  src/components/calcite-action/calcite-action.tsx
  src/demos/shell/demo-app-advanced.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(action): icon scale update
  src/components/calcite-action/calcite-action.tsx
  src/demos/shell/demo-app-advanced.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.7
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1022)
  package-lock.json
  package.json
Due: prettier --write

Add expanded example for adding action after init
  src/demos/action-bar/add-action-after-init.html
Due: none

Add mutation observer to detect new children
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Refactor observer
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Add E2E test
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(action-bar): Sync expanded state with new children (#1025)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/demos/action-bar/add-action-after-init.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.8
  package-lock.json
  package.json
Due: prettier --write

fix(pick-list): hide non-nested groups that do not match filter
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(pick-list): hide non-nested groups that do not match filter (#1028)
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.9
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1030)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
