Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

formatting
  PROJECT_GUIDELINES.md
Due: prettier --write

fix: Action - Remove padding when used without an icon (#810)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

deprecating work in progress
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/interfaces.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

position changes
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/demos/shell-panel/basic.html
  src/demos/shell/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix zee tests
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

bump stencil
  package-lock.json
  package.json
Due: prettier --write

chore: bump stencil (#813)
  package-lock.json
  package.json
Due: prettier --write

wording
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

review fixes
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #784: Add util for finding slotted elements.
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove responsive work
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write, stylelint --fix

comments
  src/scss/mixins/variables/_breakpoints.scss
Due: prettier --write, stylelint --fix

review fixes
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/utils/CalciteExpandToggle.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: deprecate layout in favor of position (#812)
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/components/interfaces.ts
  src/components/utils/CalciteExpandToggle.tsx
  src/components/utils/dom.ts
  src/demos/shell-panel/basic.html
  src/demos/shell/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

rename file from https://github.com/Esri/calcite-app-components/pull/798#discussion_r374895381
  src/demos/value-list/double-action.html
Due: none

chore: rename demo file #816
  src/demos/value-list/double-action.html
Due: none

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

Issue #784: Refactor util to query for all slots.
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #784: Fix test name.
  src/components/utils/dom.spec.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions. (#817)
  package-lock.json
  package.json
Due: prettier --write

refactor(dom): Add util for finding slotted elements (#814)
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(demos): tidy up test pages
  src/demos/action-bar/add-action-after-init.html
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/add-action-icon-after-init.html
  src/demos/action/basic.html
  src/demos/block/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/handle/basic.html
  src/demos/panel/basic.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/shell-panel/basic.html
  src/demos/shell/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/sortable-list/basic.html
  src/demos/sortable-list/sortable-blocks.html
  src/demos/tip-manager/basic.html
  src/demos/tip/basic.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/demos/value-list/double-action.html
  src/demos/value-list/value-update.html
Due: none

add removable prop
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/demos/pick-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Minor padding and margin tweaks to filter + value-list (#781)
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/pick-list/basic.html
  src/demos/value-list/basic.html
Due: prettier --write, stylelint --fix

Use calcite-icons instead of inlined SVGs.
  src/demos/action-bar/add-action-after-init.html
  src/demos/shell/demo-app-full-window-reversed.html
Due: none

chore(demos): tidy up test pages (#819)
  src/demos/action-bar/add-action-after-init.html
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/add-action-icon-after-init.html
  src/demos/action/basic.html
  src/demos/block/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/handle/basic.html
  src/demos/panel/basic.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/shell-panel/basic.html
  src/demos/shell/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/sortable-list/basic.html
  src/demos/sortable-list/sortable-blocks.html
  src/demos/tip-manager/basic.html
  src/demos/tip/basic.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/demos/value-list/double-action.html
  src/demos/value-list/value-update.html
Due: none

Filter border and margin in lists. (#795)
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/pick-list/basic.html
Due: prettier --write, stylelint --fix

feat: styles for a tighter calcite-filter and related styles in pick-list and value-list
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/pick-list/basic.html
  src/demos/value-list/basic.html
Due: prettier --write, stylelint --fix

FAB WIP
  package-lock.json
  package.json
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/resources.ts
  src/demos/fab/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fab
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/resources.ts
  src/components/interfaces.ts
  src/demos/fab/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

#818 deprecate text for locale (action-bar & action-pad)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/locale/en-us.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

stories
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-fab/calcite-fab.tsx
  src/components/interfaces.ts
  src/demos/fab/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/resources.ts
  src/demos/fab/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-fab/calcite-fab.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

usage, story, tests, readme, fix bg color
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/readme.md
  src/components/calcite-fab/usage/basic.md
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(docs): migrate Storybook setup to latest
  .storybook/addons.ts
  .storybook/main.ts
  .storybook/presets.ts
  .storybook/preview.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
