Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

clean up
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

add this typing to shared logic file https://stackoverflow.com/questions/54710927/typescript-types-and-bind
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

moving compact prop to alpha order
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

added typing to items
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

add compact property to value list
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

fix test apps for edge.
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list.html
Due: none

fix footer slot for edge
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

fix type error on textHeading
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

fixed erroneous ternary in pick-list
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

Added z-index for disabled and loading panel. (#472)
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

updated action compact padding. (#487)
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

fix action loading in edge.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

use classNames
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --fix

fix typings
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

update lists to use common MO callback MO: Mutation Observer
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

comment touchup
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

fix backwards compat and event typing
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

add missing typings
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --fix

space the tests out
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --fix

code review follow up
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

change existing demo to advanced demo
  src/demos/calcite-pick-list-advanced.html
Due: none

change simple demo to default
  src/demos/calcite-pick-list.html
Due: none

initial styling. Needs vetting. (#367)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, tslint --fix

wip demos
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list.html
Due: none

abstracted some types
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

move comment up
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
Due: prettier --write, tslint --fix

PickList and ValueList: share more code between lists 461 (#484)
  .gitignore
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

PickList and ValueList: share render methods between lists 461 (#488)
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

fix calcite-block accessible test.
  src/components/calcite-block/calcite-block.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, tslint --fix

update calciteListItemPropsUpdated event docs
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

#409 better fix. but not perfect.
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

add const
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

Kinna working. (#367)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --fix

test progress
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --fix

replace attribute logic with properties
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

minor demo changes
  src/demos/calcite-pick-list.html
Due: none

clean up demo
  src/demos/calcite-pick-list-advanced.html
Due: none

removing redundant warn message
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix
