Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

wording update
  .github/ISSUE_TEMPLATE/accessibility.md
Due: prettier --write

Updated action-bar demos
  src/demos/calcite-action-bar.html
Due: none

remove demo-specific styling from action-pad
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/demos/calcite-action-pad.html
Due: prettier --write

rename event.
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

enhance test
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

feat: Add property & event for toggling the opening or closing of the TipManager (#533)
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --fix

Enhancement: Panel. Add scale property to set dynamic height #513
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

move desired new behavior
  .github/ISSUE_TEMPLATE/enhancement.md
Due: prettier --write

put back out of scope
  .github/ISSUE_TEMPLATE/new-component.md
Due: prettier --write

clean up tooling headings
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

chore: Update issue templates (#526)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

Style for Panel. Added max-height vars. Added animation. Updated demo. Small fix for footer padding. (#513)
  src/components/calcite-panel/calcite-panel.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

remove prop
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

abstracted disabled and loading toggle buttons
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list-simple.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list.html
  src/demos/head.js
  src/demos/toggles.js
  src/demos/toggles.template
Due: none

remove debugger;
  src/demos/toggles.js
Due: none

minor fixes
  src/demos/calcite-pick-list.html
  src/demos/toggles.js
Due: none

update demo
  src/demos/calcite-shell-full-window.html
Due: none

feat: CalcitePanel - Add scale property to set dynamic height #513 (#541)
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --fix

Fix. value-list-item last child selection (#542)
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

Fix for item not matching correctly. Update test to fix event call count.
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --fix

modify simple demos to show components raw
  src/demos/calcite-action-bar.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
Due: none

fix(value-list-item): last child selection
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

make sure event only fires when one is selected.
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --fix

fix test. only emit when selected or multiple
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --fix

Smaller example container
  src/demos/demos.css
Due: none

add handle-back flow prop
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

remove width constraint
  src/demos/calcite-block.html
Due: none

minor adjustements
  src/demos/calcite-flow-item.html
Due: none

add chokidar to replace fs.watch
  package-lock.json
  package.json
  support/demoPageSync.js
Due: prettier --write

split flow demos into simple and advanced
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/flow-adding-items.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
Due: prettier --write, tslint --fix

fix advanced demo nav
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-full-window.html
Due: prettier --write, tslint --fix

fixed example-container mobile
  src/demos/demos.css
Due: none

make it resizable
  src/demos/demos.css
Due: none

docs: add jsdocs for slot's for the list elements
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

Update panel demos
  src/demos/calcite-panel.html
Due: none

change test app event.
  src/demos/calcite-pick-list.html
Due: none

remove hardcoded width
  src/demos/calcite-pick-list.html
Due: none

fix heading levels
  src/demos/calcite-panel.html
Due: none

uppercase h1
  src/demos/demos.css
Due: none
