Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project . --fix", "prettier --write", "git add"]
}

Refactor. Typography. Setting line-height correctly. formatting tweak (#601)
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

Refactor. Typography. Removed redundant styles. (#601)
  src/assets/styles/_base.scss
Due: prettier --write, stylelint --fix

Refactor. Typography. Heading tweaks and cleanup.
  src/assets/styles/_base.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

Refactor. Typography. Moved heading styles into _type.scss. (#601)
  src/assets/styles/_base.scss
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

Style. line-height.
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

cleanup.
  src/assets/styles/_layout.scss
Due: prettier --write, stylelint --fix

Updated typography demo page.
  src/demos/calcite-typography.html
Due: none

Updated typography demo page.
  src/components/calcite-block/calcite-block.scss
  src/demos/calcite-typography.html
Due: prettier --write, stylelint --fix

Typography. cleaned up heading styles.
  src/assets/styles/_type.scss
  src/demos/demos.css
Due: prettier --write, stylelint --fix

Enhancement: Flow should remove the current panel automatically when back is clicked #586. Remove deprecations. Remove text-display in favor of textEnabled
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/interfaces.ts
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/calcite-action.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

Feature. Detached shell-panel and associated styles to respect sticky headers and footer. (#590)
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

demo page ie fixes
  src/demos/demoPageReloader.js
  src/demos/head.js
Due: none

Feature. Detached shell-panel - some fixes partly for Safari. (#590)
  src/assets/styles/_base.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

no message
  src/demos/demoPageReloader.js
  src/demos/head.js
Due: none

Better conditional CSS class. @dris0000 (#590)
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --project . --fix

Shorter detached property. Also slightly larger medium scale. (#590)
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

no message
  src/demos/head.js
Due: none

fix tests
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

ie11 check
  src/demos/head.js
Due: none

review fix for port
  src/demos/head.js
Due: none

review comment
  src/demos/head.js
Due: none

fix: demo pages in IE11 (#610)
  src/demos/head.js
Due: none

style:test
  .versionrc.json
Due: prettier --write

test:bla
  package.json
Due: prettier --write

style(stuff): psyche!
  package-lock.json
  package.json
Due: prettier --write

4.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Only render header when a heading exists or the dismiss button. #566
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

Cleanup. @jcfranco @pr3tori4n. Moved the watcher to reight below its associated prop. But who's watching the watcher?
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --project . --fix

Feature. Added mixin for interim focus style. (#573)
  src/assets/styles/_layout.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix

review fixes
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --project . --fix

update declaration path
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project . --fix

fix: Only render header when a heading exists or the dismiss button. #566 (#613)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

feat: add mixin for interim focus style
  src/assets/styles/_layout.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix
