Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

Fix for block-section focus state. (#862)
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

build(deps): bump versions (#861)
  package-lock.json
  package.json
Due: prettier --write

Issue #828: Fix all relative links when parsing readmes.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Remove pattern whitespace.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Drop no longer needed escape char removal.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Migrate to new Stencil compiler.
  package.json
  stencil.config.ts
  tsconfig.json
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: use optional chaining wherever applicable
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Restore skipped spec test.
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(storybook): fix all relative readme links (#864)
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #753: Tidy up removable prop.
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/demos/pick-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Tidy up.
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Add missing optional chain operator.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: use optional chaining wherever applicable (#865)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Tidy up.
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(pick-list): add removable prop for easier item removal (#820)
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/demos/pick-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(block-section): increased top and bottom margins on block-section label to fix focus ring overlap (#862) (#863)
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

resetting typography before adding heirarchy.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix

fix(flow-item): update to only show fab-container when fab slot is used
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build: fix shared list logic types.
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build: fix shared list logic types. (#869)
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Revisit getSlotted API and usage.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

#871 don't automatically set title on the button. Let the user set the title on the action if they want it. This is to allow them to create tooltips.
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

more
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix

fix(action): When using tooltips with an action, browsers title popup shows up (#872)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

5.5.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-bortxncy.entry.js
  docs/build/p-e09a508f.system.js
  docs/build/p-hr8yz2wq.entry.js
  docs/build/p-pzafskji.system.entry.js
  docs/build/p-zlruaylq.system.entry.js
  package-lock.json
  package.json
Due: prettier --write

fixed default selection pick list
  src/demos/pick-list/basic.html
Due: none

removed compact demo in pick list and removed simple pick list file dumb not needed
  src/demos/pick-list/advanced.html
  src/demos/pick-list/simple.html
Due: none

semantic demo names
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
Due: none

removed compact from doc example and storybook, noted deprecated in readme
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

removed compact from readmes and examples as well as storybook knobs, added deprecated tag to all compact props
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/readme.md
  src/components/calcite-value-list/usage/basic.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

removed compact prop from basic vl demo
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

deprecated tag to prop
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

spacing prop definition
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fixed deprecated tags
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

added deprecation note
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
