Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions (#885)
  package-lock.json
  package.json
Due: prettier --write

minor border reduction per ui feedback
  src/components/calcite-block/calcite-block.scss
  src/demos/shell/mvb-simulator.html
Due: prettier --write, stylelint --fix

Updated FAB to align with other ui updates. Reduced default Action font size.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/interfaces.ts
  src/demos/shell/mvb-simulator.css
  src/demos/shell/mvb-simulator.html
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

FAQ markdown
  FAQ.md
  README.md
Due: prettier --write

docs(readme): Enhance with more information (#884)
  FAQ.md
  README.md
Due: prettier --write

WIP
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Tweaks to FAB. TODO: cleanup (#886)
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/demos/shell/mvb-simulator.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

MVB simulator tweaks.
  src/demos/shell/mvb-simulator.html
Due: none

block. working through padding updates and text+control collisions. TODO: cleanup & RTL
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-handle/calcite-handle.scss
  src/demos/shell/mvb-simulator-popup.html
Due: prettier --write, stylelint --fix

Update to Esri MLA license
  LICENSE.txt
  LICENSING.md
  README.md
Due: prettier --write

revert readme license, points to license files
  README.md
Due: prettier --write

revert to what's in master
  README.md
Due: prettier --write

updated package.json license
  package.json
Due: prettier --write

docs(license): Update license (#888)
  LICENSE.txt
  LICENSING.md
  package.json
Due: prettier --write

mvb simulator
  src/demos/shell/mvb-simulator-popup.html
Due: none

UI tweaks. demo updates.
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/shell/layerlist.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: prettier --write, stylelint --fix

minor fix
  src/demos/shell/mvb-simulator-popup.html
Due: none

tweak
  src/demos/shell/mvb-simulator.css
Due: none

block, pick-list, value-list, handle spacing refinements.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: prettier --write, stylelint --fix

more ui tweaks. mvb demo updates.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/demos/shell/layerlist.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

add extra to config for default slot info
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

update to check for slot length
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

getSlotted cleanup
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

ignore storybook bleh
  .gitignore
Due: none

demo tweaks
  src/demos/shell/layerlist.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: none

fix(action): Add slotChildNodesFix to stencil config extras (#890)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove ignore change
  .gitignore
Due: none

chore: Bump versions (#891)
  package-lock.json
  package.json
Due: prettier --write

build(deps): fix vulnerable deps
  package-lock.json
Due: prettier --write

build: update project config
  stencil.config.ts
  tsconfig.json
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build: update project config (#893)
  stencil.config.ts
  tsconfig.json
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Tweaks and simulator updates.
  src/components/calcite-block/calcite-block.scss
  src/demos/shell/layerlist.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: prettier --write, stylelint --fix

build(deps): fix vulnerable deps (#892)
  package-lock.json
Due: prettier --write

Issue #849: Use CSS grid to improve block header layout.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

Tidy up.
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Update lists to follow radio group UX.
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Tidy up.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

feat(block): drop open/close icon
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/block/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(value-list, pick-list): support ↑↓ arrow keys for navigation and value selection when multiple mode is disabled (#887)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
