Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

Issue #401: Fix centered decorator zoom issue.
  .storybook/preview-head.html
Due: none

docs: spelling mistake (#633)
  src/components/calcite-action-bar/usage/basic.md
Due: prettier --write

chore: refactor flow frame CSS (#630)
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

chore: reverse deprecation for breaking change after fern. (#625)
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project . --fix

remove example exclusion
  stencil.config.ts
  stencil.docs.config.ts
Due: prettier --write, tslint --project . --fix

clear button only shows when not empty
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project . --fix

chore: replace "calcite-example" component with doc (#627)
  BOILERPLATE_COMPONENT.md
  CONTRIBUTING.md
  README.md
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-example/calcite-example.scss
  src/components/calcite-example/readme.md
  src/components/calcite-example/resources.ts
  stencil.config.ts
  stencil.docs.config.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

action pad snips
  src/components/calcite-action-pad/usage/basic.md
Due: prettier --write

basic pad desc
  src/components/calcite-action-pad/usage/basic.md
Due: prettier --write

chore(deps): Bump versions. (#624)
  package-lock.json
  package.json
Due: prettier --write

chore(deps): fix vulnerable deps
  package-lock.json
Due: prettier --write

chore(deps): fix vulnerable deps (#638)
  package-lock.json
Due: prettier --write

docs: action pad snips (#636)
  src/components/calcite-action-pad/usage/basic.md
Due: prettier --write

fix. Adding min-heights for panel header and footer. Related to #565.
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

remove demo-nav
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-demo-nav/readme.md
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/advanced/shell-panel-with-action-bar.html
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-panel.html
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list-simple.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/demos/calcite-value-list-advanced.html
  src/demos/calcite-value-list.html
  src/demos/demos.css
  src/demos/toggles.js
  src/index.html
  stencil.config.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

default snip
  src/components/calcite-block/usage/basic.md
Due: prettier --write

fix(panel): adding min-heights for panel header and footer
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

header and conrol snip
  src/components/calcite-block/usage/basic.md
Due: prettier --write

header and icon
  src/components/calcite-block/usage/basic.md
Due: prettier --write

modify changelog
  CHANGELOG.md
Due: prettier --write

header and content open
  src/components/calcite-block/usage/basic.md
Due: prettier --write

version
  package.json
Due: prettier --write

added tests for clear button and placeholder
  src/components/calcite-filter/calcite-filter.e2e.ts
Due: prettier --write, tslint --project . --fix

Issue #401: Allow building old and new docs.
  package.json
  stencil.storybook.config.ts
Due: prettier --write, tslint --project . --fix

docs(demos): wire up storybook (#631)
  .lintstagedrc.json
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/declarations.d.ts
  .storybook/logo.svg
  .storybook/preview-head.html
  .storybook/resources.ts
  .storybook/theme.ts
  .storybook/utils.ts
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  stencil.config.ts
  stencil.storybook.config.ts
  support/tempDocDirCleaner.js
  tsconfig-base.json
  tsconfig-storybook.json
  tsconfig-tslint.json
  tsconfig.json
Due: prettier --write, tslint --project . --fix

remove space
  stencil.docs.config.ts
Due: prettier --write, tslint --project . --fix

fix. flex grow, shrink, basis for panel headers and footers. (#642)
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

fix(panel): flex grow, shrink, basis for panel headers and footers
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

4.10.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-81734265.system.js
  docs/build/p-c66afrt3.entry.js
  docs/build/p-i9gzsp3m.system.entry.js
  docs/build/p-mv6p1jdu.system.entry.js
  docs/build/p-yx1qpm7e.entry.js
  package-lock.json
  package.json
Due: prettier --write

chore(docs): ensure storybook doc build runs fully.
  package.json
  support/tempDocDirCleaner.js
Due: prettier --write

chore(deps): use concurrently instead of npm-run-all
  package-lock.json
  package.json
Due: prettier --write

feat: clear button only shows when not empty (#599) (#634)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project . --fix

chore(docs): ensure storybook doc build runs fully. (#645)
  package.json
  support/tempDocDirCleaner.js
Due: prettier --write

chore(deps): use concurrently instead of npm-run-all (#646)
  package-lock.json
  package.json
Due: prettier --write

Issue #548: Prevent disabled block content from tabbed into via keyboard.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, stylelint --fix, tslint --project . --fix

wrap :host in @supports
  src/assets/styles/_color.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project . --fix: any of: *.{ts,tsx}
