Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

enhance demos with RTL demos
  src/demos/calcite-action-bar.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
Due: none

docs & build
  docs/demos/calcite-action-bar.html
  docs/demos/calcite-flow.html
  docs/demos/calcite-shell-panel.html
  docs/demos/calcite-shell-rtl.html
  docs/demos/calcite-shell.html
  docs/demos/calcite-tip-manager.html
Due: none

Remove the editing code from picker (#167)
  src/components/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

Issue #159: Add control slot to <calcite-block-section>.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

going back to original folder structure will change in rename branch.
  src/components/calcite-picker/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker-group/resources.ts
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker-row/resources.ts
Due: prettier --write, tslint --fix

filepaths
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

rename rows to items in tests
  src/components/calcite-picker/calcite-picker-item/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker.e2e.ts
Due: prettier --write, tslint --fix

remove console.log
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

move to parent folder
  src/components/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker-group/resources.ts
  src/components/calcite-picker-item/calcite-picker-item.scss
  src/components/calcite-picker-item/calcite-picker-item.tsx
  src/components/calcite-picker-item/calcite-picker-row.e2e.ts
  src/components/calcite-picker-item/resources.ts
Due: prettier --write, tslint --fix

fix location path
  src/components/calcite-picker-item/calcite-picker-item.tsx
Due: prettier --write, tslint --fix

rename picker-row to picker-item (#168)
  src/components/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker-group/resources.ts
  src/components/calcite-picker-item/calcite-picker-item.scss
  src/components/calcite-picker-item/calcite-picker-item.tsx
  src/components/calcite-picker-item/calcite-picker-row.e2e.ts
  src/components/calcite-picker-item/resources.ts
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.e2e.ts
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

v2.0.1
  package-lock.json
  package.json
  src/components/calcite-action/readme.md
  src/components/calcite-shell-floating-panel/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

#202
  src/assets/styles/_base.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

code review feedback
  src/components/calcite-picker-item/calcite-picker-item.scss
  src/components/calcite-picker-item/calcite-picker-item.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

#208 fix placement bug
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write

#212 fix demo bug
  src/demos/calcite-flow.html
Due: none

docs & build
  docs/demos/calcite-flow.html
Due: none

remove prerelease script
  package.json
Due: prettier --write

v2.0.2
  package-lock.json
  package.json
Due: prettier --write

initial styling re: #210
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

conditionally render pagination set min-height on tip manager
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

fix flot-item test from randomly failing
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --fix

Mobile version of demo nav
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

fix flot-item test from randomly failing (#220)
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --fix

pagination icons respect dir=rtl
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

#223 add events to notify changing of panel size
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

add tests
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
Due: prettier --write, tslint --fix

text wording
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --fix

re #210. Updated demo
  src/demos/calcite-shell.html
Due: none

remove current positioning logic from components
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action-pad/resources.ts
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.e2e.ts
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
  src/components/calcite-shell-floating-panel/readme.md
  src/components/calcite-shell-floating-panel/resources.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

progress
  src/components/calcite-position/calcite-position.scss
  src/components/calcite-position/calcite-position.tsx
  src/components/calcite-position/readme.md
  src/components/calcite-position/resources.ts
  src/components/interfaces.ts
  src/components/utils/position.ts
Due: prettier --write, tslint --fix

re: #184. Updated shell to make content full width and height of the .main div. Note, focus state on the esri-view is a bit weird.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --fix

no message
  src/components/calcite-position/calcite-position.tsx
Due: prettier --write, tslint --fix

re: #187. Action style. Collapse button width when not text-enabled.
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

position component progress
  src/components/calcite-position/calcite-position.scss
  src/components/calcite-position/calcite-position.tsx
  src/components/utils/position.ts
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

re: #184. Reset node order. Updated styles accordingly.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --fix

shell formatting
  src/demos/calcite-shell.html
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
