Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

advanced demo architecture
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/popover-menu.html
  src/demos/head.js
Due: prettier --write, tslint --fix

added values so filter would work
  src/demos/advanced/popover-menu.html
Due: none

Issue #403: Tidy up.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

added popover in full width. behind view right now
  src/demos/calcite-shell-full-window.html
Due: none

remove .only from test
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --fix

Tidy up.
  src/demos/demoPageReloader.js
  support/demoPageSync.js
Due: none

Improve concurrency.
  package-lock.json
  package.json
Due: prettier --write

removed broken styles
  src/demos/calcite-shell-full-window.html
Due: none

Issue #244: Add info/error messaging.
  support/githubReleaseFromChangelog.js
Due: none

moved popover bc of zindexing issues
  src/demos/advanced/popover-menu.html
  src/demos/calcite-shell-full-window.html
Due: none

removed advanced nav item for now
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/popover-menu.html
Due: prettier --write, tslint --fix

Update nav to support submenus
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

move full window demo
  src/demos/advanced/shell-full-window.html
Due: none

wip on migrating block+valuelist demo
  src/demos/advanced/block-with-value-list.html
Due: none

fix lint errors
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

chore(release): automate GitHub release (#480)
  package-lock.json
  package.json
  support/githubReleaseFromChangelog.js
Due: prettier --write

Update NPM scripts to be Windows-compliant.
  package.json
Due: prettier --write

added comments and removed advanced from nav
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --fix

add temporary backup files to gitignore
  .gitignore
Due: none

abstract common methods to a shared location
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

share selection/deselection tests
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

fix shiftClick behavior for valueList
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

abstract shared tests between lists
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

improve method return type
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

normalize render functions
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

filter: add a warning when there is no data.
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

fix getTag to work with no attributes
  src/tests/commonTests.ts
Due: prettier --write, tslint --fix

add tests for filter
  src/components/calcite-filter/calcite-filter.e2e.ts
Due: prettier --write, tslint --fix

fix accessibility
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

abstract the render methods to functional comp
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --fix

Initial spacing updates (#487)
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

switch value list over to use shared render
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

pick-list, value-list, block spacing.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

block - styles for icon slot. TODO rtl (#487)
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
Due: prettier --write, tslint --fix

Alignment with calcite-components: action, action-bar, action-group, and panel. (#487)
  src/assets/styles/_color.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

Update calcite-flow-item.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

Reset compact action. Tidy up block-section. Clean up unused style block.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write

action-bar
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
