Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

Bug: Flow animation kicks in if the edit button is clicked on the BasemapLayerList jsapi widget #343
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

refactor: rename valuelist sort event (#350)
  CHANGELOG.md
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

review cleanup
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

Issue #82: Simplify setup.
  .versionrc.json
  README.md
  package.json
Due: prettier --write

Issue #82: Rename release prep scripts.
  README.md
  package.json
Due: prettier --write

rename action to menu-actions slot
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

fix: rename action to menu-actions slot in PickList and ValueList #355
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

update v4.1.1 changelog
  CHANGELOG.md
Due: prettier --write

4.1.1
  docs/build/calcite-app.esm.js
  docs/build/p-1czs57l8.system.entry.js
  docs/build/p-4c6jx5ot.entry.js
  docs/build/p-5iikia5x.system.entry.js
  docs/build/p-6ce807db.system.js
  docs/build/p-6uyfc50r.entry.js
  docs/build/p-brdwhomy.entry.js
  docs/build/p-fhzgahgk.system.entry.js
  docs/build/p-ggngkqqo.system.entry.js
  docs/build/p-oh6jz4x5.system.entry.js
  docs/build/p-rpd9v1zi.entry.js
  docs/build/p-w38ma14b.entry.js
  docs/build/p-x4mwtmzp.system.entry.js
  docs/build/p-z4n141jy.entry.js
  package-lock.json
  package.json
  src/components/calcite-pick-list/readme.md
  src/components/calcite-value-list/readme.md
Due: prettier --write

Issue #82: Fix inverted comparison URLs.
  CHANGELOG.md
Due: prettier --write

remove host styling for action
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Add Loading Prop to Components (#282)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

Issue #82: Drop release scripts and rely on built-in NPM version.
  README.md
  package.json
Due: prettier --write

simplify slot
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

fix(lists): added bg-color rules. (#364)
  src/assets/styles/_color.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write

style(flow-item): using filled version of back icons.
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

Issue #82: Add stopgap delay wnen loading calcite-components to stability tests.
  src/tests/utils.ts
Due: prettier --write, tslint --fix

style(block-section): use small calcite-switch. (#370)
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

fix(demos): updated ids (#318).
  src/demos/calcite-value-list.html
Due: none

style(block-section): move border to bottom.
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/calcite-shell-full-window.html
Due: prettier --write

fix(panel, flow-item): added min-height.
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
Due: prettier --write

fix(block): add padding to block > header > .toggle when closed
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

style(block, panel, value list, demos): updated spacing for how stuff fits together. (#217)
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/calcite-pick-list.html
  src/demos/calcite-shell-full-window.html
Due: prettier --write

feat(action): added calcite-loader and associated styles (#357)
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

feat(block): added calcite-loader and associated styles. Updated demo. (#358)
  src/assets/styles/_color.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

feat(block): demo tweak
  src/demos/calcite-block.html
Due: none

feat(block): added disabled style. updated demo with way to toggle disabled property. (#358)
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

feat(action): updated disabled styles. updated demo.
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-action.html
Due: prettier --write

feat(flow-item, panel): added loading and disabled props, nodes, and styles. (#359)
  src/assets/styles/_color.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/calcite-flow.html
Due: prettier --write, tslint --fix

feat(block): a11y aria labels for disabled and loading (#358)
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

feat(action): a11y aria labels for disabled and loading (#357)
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

feat(all): blocking scrim + pick-list loading and disabled. TODO clean-up (#361 #357 #358 #359 #361 #362)
  src/assets/styles/_color.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-scrim/calcite-scrim.scss
  src/components/calcite-scrim/calcite-scrim.tsx
  src/components/calcite-scrim/resources.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

cleaning
  src/components/calcite-scrim/calcite-scrim.scss
Due: prettier --write

feat(all): blocking scrim. added option to turn off aria attibutes.
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-scrim/calcite-scrim.tsx
Due: prettier --write, tslint --fix

fixed event name in demo file
  src/demos/calcite-value-list.html
Due: none

Issue #37: Add a11y test helper.
  package-lock.json
  package.json
  src/tests/commonTests.ts
Due: prettier --write, tslint --fix

Issue #385: Add a11y test for calcite-block.
  src/components/calcite-block/calcite-block.e2e.ts
Due: prettier --write, tslint --fix

feat(all): converted Scrim to FunctionalComponent.
  src/components/calcite-scrim/calcite-scrim.tsx
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
