Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

fix event handlers
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

Issue #205: Set up @esri/calcite-components.
  package-lock.json
  package.json
  src/demos/head.js
  stencil.config.ts
  tsconfig.json
Due: prettier --write, tslint --fix

Update broke pagination text. Fixing with key and test.
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

fix changelog
  CHANGELOG.md
Due: prettier --write

*** post container nix. styles.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
Due: prettier --write

docs: fix demo nav in landscape mobile
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

update changelog
  CHANGELOG.md
Due: prettier --write

fixed dismissed tip styles
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

modify changelog
  CHANGELOG.md
Due: prettier --write

update package lock
  package-lock.json
Due: prettier --write

filter styles. NEEDED : RTL class adding.
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, tslint --fix

add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

update sample image
  src/assets/view-it-live.png
  src/index.html
Due: none

Issue #205: Add switch mode to calcite block section.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/demos/calcite-block.html
  src/tests/utils.ts
Due: prettier --write, tslint --fix

sass tweak.
  src/components/calcite-pick-list/calcite-pick-list.scss
Due: prettier --write

Issue #152: Wire up Travis CI.
  .travis.yml
  README.md
Due: prettier --write

Issue #152: Test build failure.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, tslint --fix

Issue #152: Revert intentional test failure.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Due: prettier --write, tslint --fix

Issue #152: Make badge a link to Travis CI page.
  README.md
Due: prettier --write

UI tweaks to match design updates.
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
Due: prettier --write

Issue #152: Add master to branch-building safelist.
  .travis.yml
Due: none

add codeowners
  CODEOWNERS
Due: none

simplify codeowners
  CODEOWNERS
Due: none

Issue #205: Fix failing test.
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

test
  src/components/calcite-example/calcite-example.tsx
Due: prettier --write, tslint --fix

docs update
  docs/assets/view-it-live.png
  docs/index.html
Due: none

adding label and slots
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

update travis yml for slack notifications
  .travis.yml
Due: none

Issue #205: Tidy up.
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

Issue #205: Restore private method order to keep proper binding.
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

Issue #205: Include @esri/calcite-components in docs output.
  stencil.docs.config.ts
Due: prettier --write, tslint --fix

UI tweaks to match design.
  src/components/calcite-block-section/calcite-block-section.scss
Due: prettier --write

re: #308. Nixed animations to fix flicker. also includes some other minor ui tweaks.
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, tslint --fix

fixed typo [ci skip]
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

deprecating pickList props [ci skip]
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

deprecating pickList props
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

feat: New ValueList component
  src/assets/styles/_color.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
