Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

docs: updated storybook and doc for compact property (#875)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/usage/basic.md
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/readme.md
  src/components/calcite-value-list/usage/basic.md
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

more ui tweaks
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

bump stencil@core.
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#876)
  package-lock.json
  package.json
Due: prettier --write

experimenting
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/scss/mixins/variables/theme/_light.scss
Due: prettier --write, stylelint --fix

Issue #492: Improve shared list logic typings.
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions (#878)
  package-lock.json
  package.json
Due: prettier --write

Tidy up.
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor(pick-list,value-list): improve shared logic typings (#879)
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

put back text resources
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/intl/en-us.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

put back TEXT resources
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/intl/en-us.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix deprecation
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix deprecation
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

put TEXT back in resources
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/intl/en-us.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(flow-item,panel): Add intl string properties. (#843)
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(tip,tip-manager): Add intl string properties. (#844)
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(action-pad,action-bar): Add intl string properties. (#823)
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

test & cleanup
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cool
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

Issue #839: Drop Storybook build fixing script.
  package-lock.json
  package.json
  support/ensureStorybookBuildHasModuleScripts.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #839: Drop Storybook build fixing script. (#880)
  package-lock.json
  package.json
  support/ensureStorybookBuildHasModuleScripts.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #822: Update unit tests.
  src/components/utils/dom.spec.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor(dom): revisit getSlotted API and usage (#870)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Fix linting warnings.
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/utils/CalciteExpandToggle.tsx
  src/components/utils/dom.spec.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Added more padding for block header
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

mvb simulator
  src/demos/shell/mvb-simulator.css
  src/demos/shell/mvb-simulator.html
Due: none

Adding flex to menu-actions slot. This keeps stuff like calcite-action in that slot behaving like the back button.
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix

Correctly count menu actions content. Update tests.
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

clean up test apps
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
Due: none

cleanup
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add to readme.
  README.md
Due: prettier --write

cleanup ariaLabel
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix text
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(flow-item): Fix count for menu-actions (#883)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
