Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

adding basic render test
  src/components/calcite-tip-manager/calcite-tip-group/calcite-tip-group.e2e.ts
Due: prettier --write, tslint --fix

remove commented code
  src/demos/calcite-tip-manager.html
Due: none

use getAttribute to sate typescript
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

updated test to reflect new implementation
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

re #106. Fixed e2e
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --fix

shell/panel/floating panel doc
  src/components/calcite-floating-panel/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
Due: prettier --write

adding links for shell/floating panel to main doc #84
  README.md
Due: prettier --write

shellpanelwording
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

Tip Manager group title refactor (#103)
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/calcite-tip-group/calcite-tip-group.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip-manager.html
Due: prettier --write, tslint --fix

Hotfix tipmanager title test (#112)
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

#109 ability to layout action-bar independently.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/interfaces.d.ts
  src/demos/calcite-shell-panel/index.html
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

doc
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
Due: prettier --write, tslint --fix

remove console logs
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Hrobbins/hotfix tipmanager title test (#114)
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

getElementDir
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/utils/dom.ts
Due: prettier --write, tslint --fix

import { getElementDir } from "calcite-components/dist/collection/utils/dom";
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/utils/dom.ts
Due: prettier --write, tslint --fix

adjust click behavior
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

demo minor update
  src/demos/calcite-picker.html
Due: none

color for block-header summary`
  src/components/calcite-block-header/calcite-block-header.scss
Due: prettier --write

added var for icon in block
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

updated dark border color so that blocks look better in dark theme
  src/assets/styles/_color.scss
Due: prettier --write

color var for tip-manager page position and tip link slot
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

use root. cc @asangma. This allows cascading
  src/assets/styles/_color.scss
Due: prettier --write

variable power!
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-content/calcite-block-content.tsx
  src/components/calcite-block-header/calcite-block-header.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/utils/dom.ts
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/interfaces.d.ts
  src/utils/dom.ts
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

fix demo
  src/demos/calcite-shell/dark-side.html
Due: none

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --fix

no message
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

fix test
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

re: #105. Updated global CSS var scope to :root. Moved animation vars to _animation.scss
  src/assets/styles/_animation.scss
  src/assets/styles/_color.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_type.scss
Due: prettier --write

re #105. action - removed :host
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

re: #105. action-group - removed :host
  src/components/calcite-action-bar/calcite-action-bar.scss
Due: prettier --write

re: #105. action-pad - removed :host
  src/components/calcite-action-pad/calcite-action-pad.scss
Due: prettier --write

re: #105. floating-panel - moved CSS to resources.ts
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-floating-panel/resources.ts
Due: prettier --write, tslint --fix

re: #105. Moved CSS to resources.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
Due: prettier --write, tslint --fix

moving sortable from dev dependency to dependency
  package-lock.json
  package.json
Due: prettier --write

some styles for picker container
  src/components/calcite-picker/calcite-picker.scss
Due: prettier --write

config mode styles and cursors
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
