Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

flow cleanup
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Added nowrap to flex-flow rule. Cleaned up demo page.
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

panel cleanup
  src/components/calcite-flow-item/readme.md
  src/components/calcite-panel/readme.md
Due: prettier --write

picklist cleanup
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

set bg on docs iframe
  .storybook/preview-head.html
Due: none

pick list group and item cleanup
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/readme.md
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(panel, shell-panel): flex-flow fix
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

shell and shellpanel cleanup
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
Due: prettier --write

tip manager/group cleanup
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

value list and item cleanup
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/readme.md
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

punctuation
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

matts change requests
  src/components/calcite-block-section/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: punctuation cleanup (#694)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-group/readme.md
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/readme.md
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/readme.md
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/readme.md
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/readme.md
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(demos): hide duplicate title from docs tab (#687)
  .storybook/utils.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

basic flow snip
  src/components/calcite-flow/usage/basic.md
Due: prettier --write

menu actions snips ;
  src/components/calcite-flow/usage/basic.md
Due: prettier --write

basic
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

header and footer
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

with header actions
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

rtl dismissable
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

file
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

took out rtl example
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

docs: calcite panel snippets (#698)
  src/components/calcite-panel/usage/basic.md
Due: prettier --write

docs: calcite flow snippets (#696)
  src/components/calcite-flow/usage/basic.md
Due: prettier --write

basic
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

filter and multiselect
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

sub groups
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

compact
  src/components/calcite-pick-list/usage/basic.md
Due: prettier --write

no message
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

basic
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

with header and panels
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

shell with panel and action bar
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

start on advanced
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

flow tip manager blocks
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

footer
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

stuff
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

matts change request
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/demos/shell/basic.html
Due: prettier --write

added scale to icons
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

added icon attributes to icons
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
