Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

readme updates
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  stencil.config.ts
Due: prettier --write, tslint --fix

cleanup and doc
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/calcite-panel.html
Due: prettier --write, tslint --fix

fix slot on flow-item
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

update readme
  README.md
Due: prettier --write

rename event
  src/components/calcite-action/readme.md
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.e2e.ts
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.tsx
  src/components/calcite-dismissible-panel/readme.md
  src/demos/calcite-dismissible-panel.html
Due: prettier --write, tslint --fix

Additional UI tweaks.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/calcite-value-list.html
Due: prettier --write

UI tweak. Demo tweak.
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/calcite-value-list.html
Due: prettier --write

reset class used for Sortable
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

fix test
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

fix event.
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --fix

feat: keyboard toggles (#295)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

removed label editing
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

remove dismissible panel.
  README.md
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.e2e.ts
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.scss
  src/components/calcite-dismissible-panel/calcite-dismissible-panel.tsx
  src/components/calcite-dismissible-panel/readme.md
  src/components/calcite-dismissible-panel/resources.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
  src/components/calcite-panel/resources.ts
  src/demos/calcite-dismissible-panel.html
  src/demos/calcite-panel.html
  stencil.config.ts
Due: prettier --write, tslint --fix

fix tip test.
  src/components/calcite-tip/calcite-tip.e2e.ts
Due: prettier --write, tslint --fix

fix test
  src/components/calcite-tip/calcite-tip.e2e.ts
Due: prettier --write, tslint --fix

deprecating props on pickList
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

initial pass at a compact mode for pick-list and pick-list-item
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

hold off on deprecating drag and mode
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

refactor: deprecating props on pickList (#299)
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

changelog for v3.1.0
  CHANGELOG.md
Due: prettier --write

minor UI tweak. Allowing bg-color to be defined by container panel or whatever.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write

updated CSS obj in resources with matching key.
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

fix edge trailing content
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

conditionally hides slot
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  stencil.config.ts
Due: prettier --write, tslint --fix

edit demo
  src/demos/calcite-panel.html
Due: none

slot doc
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

code review follow up
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

set dismissed to mutable
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

fix test app event.
  src/demos/calcite-panel.html
Due: none

test app RTL
  src/demos/calcite-panel.html
Due: none

Sass cleanup.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

moved compact check to renderIcon and getIconType. May need a cleaner way?
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

fix typing
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

feat: Mobile Nav Updates Hamburger icon spans to 1024.
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

add pre-select on componentDidLoad
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

build readme's
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

update readme
  src/components/calcite-panel/readme.md
Due: prettier --write

#311 disable svg pointer events
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
