Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

cleanup
  GETTING_STARTED.md
  README.md
  src/1-introduction.stories.mdx
Due: prettier --write

simplify CSS
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

cleanup
  LICENSING.md
  README.md
  src/1-introduction.stories.mdx
Due: prettier --write

docs: Configure storybook to have getting started info (#667)
  .storybook/config.ts
  .storybook/presets.ts
  CONTRIBUTING.md
  GETTING_STARTED.md
  LICENSING.md
  README.md
  package-lock.json
  package.json
  src/1-introduction.stories.mdx
  src/2-getting-started.stories.mdx
  src/3-contributing.stories.mdx
  src/4-code-of-conduct.stories.mdx
  src/5-licensing.stories.mdx
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project . --fix

update docs.
  docs/build/calcite-app.esm.js
  docs/build/p-6vkhvcqa.system.entry.js
  docs/build/p-81734265.system.js
  docs/build/p-edyp93t4.entry.js
  docs/build/p-ei4kmwzc.system.entry.js
  docs/build/p-wtyjgigc.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.04c6ec15b5aa44ca33d0.bundle.js
  docs/main.04c6ec15b5aa44ca33d0.bundle.js.map
  docs/main.95a4a159132ff3f4170d.bundle.js
  docs/main.b437c22b1a7f9aa7536f.bundle.js
  docs/main.b437c22b1a7f9aa7536f.bundle.js.map
  docs/main.f8e2d5a35b0aa3e66ed7.bundle.js
  docs/runtime~main.04c6ec15b5aa44ca33d0.bundle.js.map
  docs/runtime~main.b437c22b1a7f9aa7536f.bundle.js
  docs/runtime~main.b437c22b1a7f9aa7536f.bundle.js.map
  docs/vendors~main.04c6ec15b5aa44ca33d0.bundle.js
  docs/vendors~main.04c6ec15b5aa44ca33d0.bundle.js.map
  docs/vendors~main.a299c67b4a5d0fb411ea.bundle.js
  docs/vendors~main.b437c22b1a7f9aa7536f.bundle.js
  docs/vendors~main.b437c22b1a7f9aa7536f.bundle.js.map
  docs/vendors~main.b66997efa167d1189808.bundle.js
Due: none

remove comment.
  src/demos/demos.css
Due: none

add index page :)
  src/index.html
Due: none

refactor: action - remove label Use text string for title and aria-label when text is disabled
  docs/demos/advanced/block-with-value-list.html
  docs/demos/advanced/shell-demo-app-full-window.html
  docs/demos/calcite-action.html
  docs/demos/calcite-pick-list-advanced.html
  docs/demos/calcite-pick-list-simple.html
  docs/demos/calcite-pick-list.html
  docs/demos/calcite-value-list-advanced.html
  docs/demos/calcite-value-list.html
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/calcite-action.html
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list-simple.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list-advanced.html
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --project . --fix

review fixes
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project . --fix

add demos link
  src/index.html
Due: none

wording
  src/index.html
Due: none

feat: Setting focus to a calcite-action & Flow Menu keyboard navigation (#651)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/utils/array.ts
  src/components/utils/dom.ts
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --project . --fix

chore: Remove `calcite-demo-nav` (#641)
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-demo-nav/readme.md
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/advanced/shell-panel-with-action-bar.html
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-panel.html
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list-simple.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/demos/calcite-value-list-advanced.html
  src/demos/calcite-value-list.html
  src/demos/demos.css
  src/demos/toggles.ts
  src/index.html
  stencil.config.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

text tidy up
  README.md
Due: prettier --write

tidy up
  README.md
Due: prettier --write

fix readme urls to demos
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

docs: fix action html
  .storybook/resources.ts
Due: prettier --write, tslint --project . --fix

remove createAction utility.
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

chore: update docs
  docs/build/calcite-app.esm.js
  docs/build/p-3a76379b.system.js
  docs/build/p-5f89340e.system.js
  docs/build/p-7b5c9241.js
  docs/build/p-81734265.system.js
  docs/build/p-9ozjnplz.system.entry.js
  docs/build/p-a4tsxiwf.entry.js
  docs/build/p-ar052sgz.system.entry.js
  docs/build/p-e34ae673.js
  docs/build/p-ei4kmwzc.system.entry.js
  docs/build/p-mathex1n.entry.js
  docs/build/p-mehkeie8.entry.js
  docs/build/p-mwvgjdxa.system.entry.js
  docs/build/p-nox8111v.system.entry.js
  docs/build/p-p4ljcjmd.entry.js
  docs/build/p-rrahv0gy.system.entry.js
  docs/build/p-rrfxajno.system.entry.js
  docs/build/p-sbtq7sfz.entry.js
  docs/build/p-tamyl7dz.system.entry.js
  docs/build/p-uvghrpur.entry.js
  docs/build/p-wtyjgigc.entry.js
  docs/build/p-zmgixajj.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.4e0a0cfd805c1700b0f0.bundle.js
  docs/main.4e0a0cfd805c1700b0f0.bundle.js.map
  docs/main.665041523b02bbb5d696.bundle.js
  docs/main.95a4a159132ff3f4170d.bundle.js
  docs/main.b437c22b1a7f9aa7536f.bundle.js
  docs/main.b437c22b1a7f9aa7536f.bundle.js.map
  docs/runtime~main.4e0a0cfd805c1700b0f0.bundle.js
  docs/runtime~main.4e0a0cfd805c1700b0f0.bundle.js.map
  docs/runtime~main.b437c22b1a7f9aa7536f.bundle.js.map
  docs/static/media/logo.6259bbd3.svg
  docs/vendors~main.4e0a0cfd805c1700b0f0.bundle.js
  docs/vendors~main.4e0a0cfd805c1700b0f0.bundle.js.map
  docs/vendors~main.7bdb86c2bbd15cf444a8.bundle.js
  docs/vendors~main.a299c67b4a5d0fb411ea.bundle.js
  docs/vendors~main.b437c22b1a7f9aa7536f.bundle.js
  docs/vendors~main.b437c22b1a7f9aa7536f.bundle.js.map
Due: none

chore(linting): enable no-descending-specificity rule
  .stylelintrc.json
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
Due: prettier --write, stylelint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

chore(demos): ensure demo files are kept in sync on initial load (#668)
  package.json
Due: prettier --write

remove .only
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --project . --fix

chore: bump versions (#676)
  package-lock.json
  package.json
Due: prettier --write

chore: turn on storybook toolbar so docs can be toggled.
  .storybook/config.ts
Due: prettier --write, tslint --project . --fix

#524 updated action appearance
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project . --fix

promise review update
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

reverting "stupid" text hehe
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
Due: prettier --write, tslint --project . --fix

review fixes
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
Due: prettier --write, stylelint --fix, tslint --project . --fix

remove option
  .storybook/config.ts
Due: prettier --write, tslint --project . --fix

chore: turn on storybook toolbar so docs can be toggled. (#677)
  .storybook/config.ts
Due: prettier --write, tslint --project . --fix

Issue #552: Bump peerDependencies.
  package.json
Due: prettier --write

Issue #552: Update test utility to use vendor modules.
  src/tests/utils.ts
Due: prettier --write, tslint --project . --fix

fix!: Flow - Remove current panel automatically when back is clicked #586 (#608)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/interfaces.ts
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/calcite-action.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

test(block-section): add a11y tests (#580)
  package.json
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/tests/commonTests.ts
  src/tests/utils.ts
Due: prettier --write, tslint --project . --fix

remove helpers. next up fixing everything
  .storybook/resources.ts
  src/components/utils/CalciteIcon.spec.ts
  src/components/utils/CalciteIcon.tsx
Due: prettier --write, tslint --project . --fix

feat(block): prevent disabled block content from being tabbed into (#652)
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, stylelint --fix, tslint --project . --fix

update icons
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

remove deps
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project . --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project . --fix: any of: *.{ts,tsx}
