Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

caching iconType
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

WIP
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
  src/components/calcite-shell-floating-panel/resources.ts
Due: prettier --write, tslint --fix

partial rtl
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
Due: prettier --write, tslint --fix

replace _support with utils
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

add generated guid if no id is supplied
  src/components/calcite-picker/calcite-picker.tsx
  src/components/utils/guid.ts
Due: prettier --write, tslint --fix

Issue #190: Inline calcite-component utilities to avoid unnecessary bundling.
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --fix

Issue #177: Reference partials by exact name to ensure rebuild.
  src/assets/styles/includes.scss
Due: prettier --write

rtl floating panel and rtl action pad
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.scss
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

rtl test app
  src/demos/calcite-shell.html
Due: none

Issue #182: Use different namespace for app components.
  stencil.config.ts
Due: prettier --write, tslint --fix

Update README.
  README.md
Due: prettier --write

rtl test app
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/calcite-shell-rtl.html
Due: prettier --write, tslint --fix

no message
  src/demos/calcite-shell.html
Due: none

demo fixes
  src/demos/calcite-shell-rtl.html
Due: none

Issue #182: Update missed references.
  package.json
  src/demos/head.js
  stencil.docs.config.ts
Due: prettier --write, tslint --fix

1.0.1
  package-lock.json
  package.json
Due: prettier --write

fix tslint complaint
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

simplify rtl
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

add return types to functions
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

cleanup rtl
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

add drag handle class to CSS object
  src/components/calcite-picker/calcite-picker.tsx
  src/components/calcite-picker/resources.ts
Due: prettier --write, tslint --fix

move component folders to root.
  src/components/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker-row/calcite-picker-row.scss
  src/components/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker-row/resources.ts
Due: prettier --write, tslint --fix

add a lint script command
  package.json
Due: prettier --write

Adding docs for public props
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

fix bugs introduced by merge
  src/components/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker-group/resources.ts
  src/components/calcite-picker-row/calcite-picker-row.e2e.ts
  src/components/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

update event names in demos
  src/demos/calcite-picker.html
Due: none

specific version of lodash-es
  package-lock.json
  package.json
Due: prettier --write

add any type for event
  package-lock.json
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

changed to filled in circle icons
  src/components/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

remove unused classes
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --fix

fix reference to utils
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-shell-floating-panel/calcite-shell-floating-panel.tsx
Due: prettier --write, tslint --fix

refactor inputHandler
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

Add type for dataForFilter
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

Picker component: End to End Tests (#166)
  src/components/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker-group/resources.ts
  src/components/calcite-picker-row/calcite-picker-row.e2e.ts
  src/components/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker-row/resources.ts
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.tsx
  src/components/calcite-picker/resources.ts
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

fixed errors from merge
  src/components/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix
