Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

intl strings for calcite-flow-item and calcite-panel
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/intl/en-us.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

use intl in stories
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

tip, tip-manager intl
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/intl/en-us.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Added back styles for deprecated leading and trailing attributes. (#846)
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

fix(shell-panel): style for deprecated leading and trailing attributes
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix

chore(docs): update storybook build
  docs/build/calcite-app.esm.js
  docs/build/p-e09a508f.system.js
  docs/build/p-jphbg3eg.entry.js
  docs/build/p-kjrjuuca.system.entry.js
  docs/build/p-pp1bpvyg.system.entry.js
  docs/build/p-s4trzshg.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.470ae631a11e83038698.bundle.js
  docs/main.5c7f852ababc81a94a99.bundle.js
  docs/main.8deaa5e52d91ccc49311.bundle.js
  docs/main.8deaa5e52d91ccc49311.bundle.js.map
  docs/main.bbf06c535b1a32a15e88.bundle.js
  docs/main.bbf06c535b1a32a15e88.bundle.js.map
  docs/runtime~main.8deaa5e52d91ccc49311.bundle.js.map
  docs/runtime~main.bbf06c535b1a32a15e88.bundle.js
  docs/runtime~main.bbf06c535b1a32a15e88.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.402c5fb894cf1269d5b9.bundle.js
  docs/vendors~main.8deaa5e52d91ccc49311.bundle.js
  docs/vendors~main.8deaa5e52d91ccc49311.bundle.js.map
  docs/vendors~main.952a1ad7b53432ab157c.bundle.js
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js.LICENSE.txt
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js.map
Due: prettier --write

chore(docs): update storybook build (#848)
  docs/build/calcite-app.esm.js
  docs/build/p-e09a508f.system.js
  docs/build/p-jphbg3eg.entry.js
  docs/build/p-kjrjuuca.system.entry.js
  docs/build/p-pp1bpvyg.system.entry.js
  docs/build/p-s4trzshg.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.470ae631a11e83038698.bundle.js
  docs/main.5c7f852ababc81a94a99.bundle.js
  docs/main.8deaa5e52d91ccc49311.bundle.js
  docs/main.8deaa5e52d91ccc49311.bundle.js.map
  docs/main.bbf06c535b1a32a15e88.bundle.js
  docs/main.bbf06c535b1a32a15e88.bundle.js.map
  docs/runtime~main.8deaa5e52d91ccc49311.bundle.js.map
  docs/runtime~main.bbf06c535b1a32a15e88.bundle.js
  docs/runtime~main.bbf06c535b1a32a15e88.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.402c5fb894cf1269d5b9.bundle.js
  docs/vendors~main.8deaa5e52d91ccc49311.bundle.js
  docs/vendors~main.8deaa5e52d91ccc49311.bundle.js.map
  docs/vendors~main.952a1ad7b53432ab157c.bundle.js
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js.LICENSE.txt
  docs/vendors~main.bbf06c535b1a32a15e88.bundle.js.map
Due: prettier --write

reset typography for rework.
  src/components/calcite-block/calcite-block.scss
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix

Added appearance, scale, and icon props.
  src/components/calcite-fab/calcite-fab.tsx
  src/demos/fab/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Minor style rule. e2e updates. Readme updates.
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/readme.md
  src/components/calcite-panel/calcite-panel.scss
  src/components/interfaces.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

feat: props and style for fab
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/readme.md
  src/components/calcite-panel/calcite-panel.scss
  src/components/interfaces.ts
  src/demos/fab/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Added knobs for new FAB props.
  .storybook/resources.ts
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #818: Add intl props to block, block-section and filter.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

WIP
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/flow-item/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

import CSS object for .button
  src/components/calcite-fab/calcite-fab.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #818: Add missing intl prop.
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #818: Tidy up.
  src/components/calcite-filter/calcite-filter.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #818: Update stories.
  src/components/calcite-block/calcite-block.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

I FORGOT THE DOT!
  src/components/calcite-fab/calcite-fab.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Cleanup.
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(block, block-section, filter): add intl props (#852)
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor(block, block-section, filter): make props optional and add text fallbacks
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor(block, block-section, filter): make props optional and add text fallbacks (#853)
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(filter): add placeholder property
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Use new prop in rendering
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Give higher precedence to replacement prop.
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(filter): add placeholder property (#854)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test maybe
  src/components/calcite-handle/calcite-handle.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

review fixes
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(fab): Floating Action Button (FAB) aka FABULOUS!!! component. (#824)
  .storybook/resources.ts
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-fab/readme.md
  src/components/calcite-fab/resources.ts
  src/components/calcite-fab/usage/basic.md
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-handle/calcite-handle.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/interfaces.ts
  src/demos/fab/basic.html
  src/demos/flow/basic.html
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Issue #822: Use getSlotted.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

doc: drop version from @deprecated tags
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-fab/readme.md
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

removed default return from getCalcitePosition. (#857)
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(action): Add icon property to display calcite-icon. (#837)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(flow-item,panel): Add an onscroll event for FlowItem and Panel #842
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/flow-item/basic.html
  src/demos/panel/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: drop version from @deprecated tags (#856)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-fab/readme.md
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Updated getClosestShellPosition (#857)
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(action-bar): removed default return from getCalcitePosition
  src/components/utils/CalciteExpandToggle.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
