Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

re: #3. update demo because of chnage in block-section.
  src/demos/calcite-shell/index.html
Due: none

re: #3. Removed unused class from CSS object.
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
Due: prettier --write, tslint --fix

Add stopgap CalciteIcon unit test.
  src/components/_support/CalciteIcon.spec.ts
Due: prettier --write, tslint --fix

re: #3. @driskull. Updated shell test. Please review.
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --fix

adding these
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

re: #3. Initial block-section e2e test fix.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/resources.ts
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.e2e.ts
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/interfaces.d.ts
  src/components/utils/position.ts
Due: prettier --write, tslint --fix

move picker row into subfolder. wip
  src/components/calcite-picker/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker-row/resources.ts
Due: prettier --write, tslint --fix

picker CSS
  src/components/calcite-picker/calcite-picker.scss
Due: prettier --write

picker wip
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

progress
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/utils/dom.ts
  src/utils/index.ts
Due: prettier --write, tslint --fix

fix sizing
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

shell theme
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, tslint --fix

partially fix header
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --fix

re: #3. e2e test fixes for tip-manager and block-section. TODO isVisible test in tip-manager.
  src/components/calcite-block-content/calcite-block-content.scss
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

remove use of `onCalciteActionClick`. #95
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-action-bar/index.html
Due: prettier --write, tslint --fix

replace custom event with native
  src/demos/calcite-picker.html
Due: none

move secondaryAction render into its own function
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

build and docs
  docs/build/calcite.esm.js
  docs/build/p-0ojoiucp.system.entry.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-1mdmbeek.system.entry.js
  docs/build/p-2mdgookc.entry.js
  docs/build/p-7yactepn.system.entry.js
  docs/build/p-asfqch0c.entry.js
  docs/build/p-cdn6idgd.entry.js
  docs/build/p-ejljdzru.system.entry.js
  docs/build/p-fcybqvqs.system.entry.js
  docs/build/p-glavyj82.system.entry.js
  docs/build/p-hverdfmt.entry.js
  docs/build/p-hvzqkt87.entry.js
  docs/build/p-iadyv17q.entry.js
  docs/build/p-ipq86z9y.entry.js
  docs/build/p-lb7i7lye.system.entry.js
  docs/build/p-lmartogd.system.entry.js
  docs/build/p-lqsyrffl.entry.js
  docs/build/p-n51qjpuv.system.entry.js
  docs/build/p-qbac6751.system.entry.js
  docs/build/p-qhlrg70k.entry.js
  docs/build/p-rclac8yb.system.entry.js
  docs/build/p-rs0oepwo.entry.js
  docs/build/p-s8j5ke1p.system.entry.js
  docs/build/p-sbs1zuhg.system.entry.js
  docs/build/p-scowr1ld.entry.js
  docs/build/p-sq6w25eq.system.entry.js
  docs/build/p-uzk9yvfm.entry.js
  docs/build/p-vajfvvkk.entry.js
  docs/build/p-vxgirrs3.entry.js
  docs/build/p-wm0cc0kz.entry.js
  docs/build/p-x6pnagrv.entry.js
  docs/build/p-xkzkaf3s.system.entry.js
  docs/build/p-zbnrgniz.system.entry.js
  docs/demos/calcite-action-bar/index.html
  src/components/calcite-action/readme.md
Due: prettier --write

re: #3. Fixed tip-manager e2e.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

re: #3. Updated block-section e2e. TODO action text test
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --fix

theme ready for review and alanizing
  src/components/calcite-block-content/calcite-block-content.tsx
  src/components/calcite-block-header/calcite-block-header.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

dark demo
  src/demos/calcite-shell/dark-side.html
Due: none

re: #3. block-section passing now
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --fix

re #3. Updated block-section text-label attribut to text because there is no default.
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/calcite-block.html
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

update tip to use dismissed behavior use `dismissed` instead of `hidden` when closing (aka dismissing) a tip
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

move tip-group into a subfolder
  src/components/calcite-tip-manager/calcite-tip-group/calcite-tip-group.tsx
Due: prettier --write, tslint --fix

move styles for tip in a manager under tip
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

toggle hidden property for non-selected tips
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

fixed action text-align for RTL
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

reset action scss
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Condense demo page.
  src/demos/nav.js
Due: none

fix demo and typescript error
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/demos/calcite-tip-manager.html
Due: prettier --write, tslint --fix

update tip-manager icons to 16px
  package-lock.json
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

packagelock
  package-lock.json
Due: prettier --write

clean up
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --fix

re: #101. Unset text-align. Removed text-align rules from text-container
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Adding JSDoc
  src/components/calcite-tip-manager/calcite-tip-group/calcite-tip-group.tsx
Due: prettier --write, tslint --fix
