Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

Add test:headed command wip parsing node args
  package-lock.json
  package.json
  stencil.config.ts
Due: prettier --write, tslint --fix

lock file
  package-lock.json
Due: prettier --write

simplify uses built-in stencil flag ^_^
  package.json
  stencil.config.ts
Due: prettier --write, tslint --fix

removed minimist
  package.json
  stencil.config.ts
Due: prettier --write, tslint --fix

remove @types/core-js
  package-lock.json
  package.json
Due: prettier --write

abstracted CSS object removed .catch statements from e2e tests
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

make nextTip and previousTip public methods
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

CSS classes kebab case
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

remove test data attrs
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

removing unused event emitters
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

fix public methods by adding async
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

removed equal check from observer callback
  package-lock.json
  package.json
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

rename it again because clarity
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Add a new test for dom updates
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

not testing removed.
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

minor change
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

Updated to spec test to reflect new public methods Keeping it commented out due to bug stil being open.
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
Due: prettier --write, tslint --fix

Fixed dismissible attribute It's now applied on tips on initialLoad and on childList change.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

moved observer to constructor
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

nav should work on github pages
  src/demos/index.html
  src/demos/nav.js
Due: none

nav now works with any root path depth
  src/demos/calcite-action-bar/index.html
  src/demos/calcite-action-pad/index.html
  src/demos/calcite-action/index.html
  src/demos/calcite-tip.html
  src/demos/index.html
  src/demos/nav.js
Due: none

introduce a common script file that handles demo dependencies
  src/demos/calcite-action-bar/index.html
  src/demos/calcite-action-pad/index.html
  src/demos/calcite-action/index.html
  src/demos/calcite-tip.html
  src/demos/head.js
  src/demos/index.html
  src/index.html
Due: none

removing duplicate homepage
  src/demos/index.html
Due: none

updated test scripts syntax to use colon
  package.json
Due: prettier --write

Add a link to demos.
  README.md
Due: prettier --write

temp
  package-lock.json
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip.html
Due: prettier --write, tslint --fix

re: #34. Initial styles and restructure.
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/demos/calcite-tip.html
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --fix

review fixes 2
  src/components/calcite-example/calcite-example.tsx
  src/components/calcite-example/readme.md
  src/components/calcite-example/resources.ts
  src/components/calcite-flow-item/readme.md
  src/demos/calcite-flow-item/index.html
  src/demos/calcite-flow/index.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/resources.ts
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/resources.ts
Due: prettier --write, tslint --fix

review fixes
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/demos/calcite-shell-panel/index.html
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

no message
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --fix

re: #34. Cleaner padding defs. Box shadow var.
  src/assets/styles/_layout.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

test names
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --fix

added line break
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

skip the empty spec test
  src/components/calcite-tip-manager/calcite-tip-manager.spec.ts
Due: prettier --write, tslint --fix
