Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Reverted the removal of the tip-manager slot. Arranged nodes in shell to put center-row after contextual-panel and added associated flex order.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added demo app for center-row.
  src/demos/shell/demo-app-advanced-center-row.html
Due: none

added e2e
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

updated e2e
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Rearranged nodes. Nixed styles no longer needed after rearranging nodes.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added shell-center-row to shell Storybook.
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Removed collapsed property and associated tests. Added expand/collpase toggle to demo.
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/demos/shell/demo-app-advanced-center-row.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Removed collapsed property from storybook.
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Removed unused Watch import.
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Fixed e2e test.
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

restored tip-manager slot references
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Fixed e2e test. Reset block-configuration demo.
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/demos/shell/block-configurations.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

removed non-behavioral test.
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat: new calcite-shell-center-row component and updated slot for calcite-shell (#950)
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-center-row/resources.ts
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/resources.ts
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

update package
  package.json
Due: prettier --write

Slight tweak for FAB slot when h-scroll. Added FAB to demo app. (#952)
  src/components/calcite-panel/calcite-panel.scss
  src/demos/shell/demo-app-advanced-center-row.html
Due: prettier --write, stylelint --fix

chore: bump versions (#951)
  package-lock.json
  package.json
Due: prettier --write

feat(panel): tweak for FAB slot when h-scroll
  src/components/calcite-panel/calcite-panel.scss
  src/demos/shell/demo-app-advanced-center-row.html
Due: prettier --write, stylelint --fix

add usage for 'calcite-shell-center-row`
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
Due: prettier --write

update stories to use tip-manager in center-row
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Don't use component for tip-manager
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/usage/advanced.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

#618 use calcite-scrim component
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(shell-center-row): tip-manager usage (#954)
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Style tweaks for shell-panel and center-row. (#955)
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

update storybook home info and link to calcite-components
  src/1-introduction.stories.mdx
Due: none

Added rtl class to block-section. (#957)
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/block/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Add a11y to storybook
  .storybook/main.ts
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Update demo heading.
  src/demos/block/basic.html
Due: none

docs: update storybook home info and link to calcite-components (#961)
  src/1-introduction.stories.mdx
Due: none

add a11y to all stories
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix failure
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(changelog): add script to preview changelog since last release (#944)
  package.json
Due: prettier --write

fix(block-section): added rtl check and css
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/block/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat: css tweaks for shell-panel and center-row
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

a11y fixes
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

make a11y last.
  .storybook/main.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix one test.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added RTL check in calite-filter. Updated related styles. @jcfranco could use a hand getting filter to see element direction. (#959)
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/demos/pick-list/advanced.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

ActionPad. Added horizontal mode and added orientation to interfaces. (#967)
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/interfaces.ts
  src/demos/action-pad/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
