Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

re: #34. Demo update. Alt text
  src/demos/calcite-tip.html
Due: none

cleanup :-/
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

updated toggle event description
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
Due: prettier --write, tslint --fix

fixed spacing issue
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

updated demo for new tips
  src/demos/calcite-tip-manager.html
Due: none

started...some stuff busted
  src/assets/styles/_mixins.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

re: #34. Replaced hand-rolled close button with calcite-action component.
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

CalciteIcon instead of CalciteSVG
  src/components/_support/CalciteIcon.tsx
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

re: #34. Messy. Added heading styles to _base. Replacing button with caclite-action.
  src/assets/styles/_base.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

updated hideTip() to be cool with calcite-action
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

review fixes
  src/components/_support/CalciteIcon.tsx
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

re: #34. Page controls now use calcite-actions.
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

re: #34. Updated "title" to "heading". Replaced bespoke buttons with calcite-action. Added private functions to call Methods, re: using calcite-action. Size var updates.
  src/assets/styles/_base.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

added descriptions to tsx file and added to flow item readme
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
Due: prettier --write, tslint --fix

Update readme.md
  src/components/calcite-flow-item/readme.md
Due: prettier --write

Update readme.md
  src/components/calcite-flow/readme.md
Due: prettier --write

re: #3. Initial styles and refactors.
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

re: #3. Renamed footer to be app-footer.
  src/components/calcite-shell/calcite-shell.tsx
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

re: #3. Reworking demo and tweaking Block to aid Shell and Shell Panel styling.
  src/assets/styles/_base.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-content/calcite-block-content.scss
  src/components/calcite-block-header/calcite-block-header.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-tip/calcite-tip.scss
  src/demos/calcite-shell/index.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

re: #3. Updated icons for block sections. Added blocks to Shell demo.
  src/assets/styles/_color.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

Update README.md
  README.md
Due: prettier --write

event wording changed for flow item and action
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
Due: prettier --write, tslint --fix

remove bind use
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

nav and icon direction for action-bar
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/demos/nav.js
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
Due: prettier --write, tslint --fix

re: #3. Added dark theme to primary action-bar.
  src/demos/calcite-shell/index.html
Due: none

rephrased event language
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
Due: prettier --write, tslint --fix

added block link to main readme
  README.md
Due: prettier --write

re: #3. Updated shell to use full width and height of container. Otherwise panels, etc. don't get full height. Updated Demo app.
  src/components/calcite-shell/calcite-shell.scss
  src/demos/calcite-shell/index.html
Due: prettier --write

re: #3. Updated demo to trigger scrolling in flow-item. Minor tweak to flow-item style. Height for shell-panel.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/calcite-shell/index.html
Due: prettier --write

re: #3. Slight tweaks to match designs.
  src/assets/styles/_color.scss
  src/assets/styles/_layout.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

re #34. cleanup.
  src/demos/calcite-tip-manager.html
Due: none

re: #34. Removed !default from vars.
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

re: #3. Styles and tweaks for FloatingPanel.
  src/assets/styles/_layout.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-floating-panel/calcite-floating-panel.scss
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

re #3. Removing bad ::slotted(*) pattern and updating demo.
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.scss
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

re: #3. app-header and app-footer is now shell-header and shell-footer.
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/demos/calcite-shell/index.html
Due: prettier --write, tslint --fix

re: #3. Tweaks per @pr3tori4n. Renamed text to textLabel. Updated nav order.
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/nav.js
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
