Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

update picker demo 2 data
  src/demos/calcite-picker.html
Due: none

#129 action RTL for indicator
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

#136 fix vars on edge
  src/assets/styles/_color.scss
Due: prettier --write

#100 don't use toggleAttribute :(
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-floating-panel/calcite-floating-panel.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

fix edge bug
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

use utility class
  src/components/_support/resources.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
Due: prettier --write, tslint --fix

renames
  src/components/_support/resources.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --fix

fix edge styling issues with slots
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write, tslint --fix

minor style fixes for edge.
  src/components/calcite-shell/calcite-shell.scss
  src/demos/calcite-shell.html
Due: prettier --write

fix test app
  src/demos/calcite-shell.html
Due: none

Add missing components to README.
  README.md
Due: prettier --write

v1.0.0-alpha.1
  package-lock.json
  package.json
Due: prettier --write

Issue: 147: Rename supporting interfaces file so it gets included in dist.
  src/components/interfaces.ts
Due: prettier --write, tslint --fix

Fix test and edge support.
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --fix

Bump dev deps.
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

update readme
  README.md
  src/assets/view-it-live.png
Due: prettier --write

readme
  README.md
Due: prettier --write

edits to readme
  README.md
  src/assets/view-it-live.png
Due: prettier --write

img
  src/assets/view-it-live.png
Due: none

homepage blurb? too addy?
  src/index.html
Due: none

Update README with integration info.
  README.md
Due: prettier --write

readme, demo pages, aXe contrast #104
  README.md
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/index.html
Due: prettier --write

Add i18n strings for tip buttons
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

aXe fixes #104
  src/components/calcite-shell/calcite-shell.tsx
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

use placeimg
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/index.html
Due: none

docs
  docs/demos/calcite-tip-manager.html
  docs/demos/calcite-tip.html
  docs/index.html
Due: none

fix demos
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
Due: none

fix docs
  docs/build/calcite.esm.js
  docs/build/p-3ce557a5.system.js
  docs/build/p-jhrhiu72.entry.js
  docs/build/p-kw7zkuvv.entry.js
  docs/build/p-oyj7hwhg.system.entry.js
  docs/build/p-tbgkmxee.system.entry.js
  docs/demos/calcite-tip-manager.html
  docs/demos/calcite-tip.html
Due: none

fix url
  src/index.html
Due: none

fix docs
  docs/index.html
Due: none

fix path?
  docs/demos/head.js
  src/demos/head.js
Due: none

change paths from `ArcGIS` to `Esri`
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package-lock.json
  package.json
  src/assets/styles/README.md
  support/release.sh
Due: prettier --write

doc test
  docs/demos/calcite-action-bar.html
Due: none

docs
  docs/demos/calcite-action-bar.html
Due: none

docs
  docs/assets/styles/README.md
  stencil.docs.config.ts
Due: prettier --write, tslint --fix

re #9. initial styling
  src/assets/styles/_color.scss
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
  src/components/calcite-picker/calcite-picker.scss
Due: prettier --write

is this thing on?
  src/index.html
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
