Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

add demo app advanced shell demo
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/calcite-shell-demo-app.html
Due: prettier --write, tslint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

move rtl shell to advanced demos
  src/demos/advanced/calcite-shell-rtl.html
Due: none

move jsapi integration to advanced demos
  src/demos/advanced/shell-with-jsapi-map.html
Due: none

remove hardcoded width
  src/demos/calcite-value-list.html
Due: none

simple shell demo
  src/demos/calcite-shell.html
Due: none

debounce event
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

DOUBLE BUMP
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions. (#550)
  package-lock.json
  package.json
Due: prettier --write

cleanup redundant code
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

change debounce to next tick
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

review fixes. thanks @jcfranco
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

Fix for panel header leading slot causing weird layout. (#547)
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

Fix for panel header layout. Tweaks. (#547)
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

UI tweak because @mitc7862 said so. Adds a little more padding to header-content (#547)
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

re: last commit. Forgot RTL.
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

formatting
  src/demos/calcite-shell.html
Due: none

rename advanced demo files
  src/demos/advanced/shell-demo-app.html
  src/demos/advanced/shell-rtl.html
Due: none

shell panel w/ action bar advanced demo
  src/demos/advanced/shell-panel-with-action-bar.html
Due: none

remove docs for non-existent slot
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

remove h1 uppercase
  src/demos/demos.css
Due: none

remove img styling
  src/demos/calcite-block.html
Due: none

simple shell panel demo
  src/demos/calcite-shell-panel.html
Due: none

fix type typo
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --fix

fix(panel): header-content layout when leading slot is empty (#547)
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

fix: Stencil build warnings (#537)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

Enhancement to Action. Added appearance property and associated styles (#557)
  src/assets/styles/_color.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

Added e2e for Action.
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --fix

move drag handle to valuelistitem
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

require activating dragHandle keyboard
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

Update drag and drop test
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

code review follow up
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

docs: add jsdocs for slot's for the list elements (#549)
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

get advanced demos in order
  docs/demos/calcite-shell-full-window.html
  docs/demos/calcite-shell-panel.html
  docs/demos/calcite-shell-rtl.html
  docs/demos/calcite-shell.html
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/advanced/shell-panel-with-action-bar.html
  src/demos/advanced/shell-with-jsapi-map.html
  src/demos/calcite-shell.html
  src/demos/demos.css
Due: prettier --write, tslint --fix

feat(action): add ability to set appearance to clear
  src/assets/styles/_color.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

Add doc issue template
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/research.md
Due: prettier --write

REMOVE template heading
  .github/ISSUE_TEMPLATE/documentation.md
Due: prettier --write

chore: Add doc issue template (#563)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/research.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
