Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Add summary prop to flow story
  src/components/calcite-flow/calcite-flow.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

only modify textEnabled when expand functionality is enabled
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Add summary prop to flow story (#765)
  src/components/calcite-flow/calcite-flow.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

review fixes
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add tests
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix: only modify textEnabled when expand functionality is enabled (#766)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

style: dedent HTML template strings (#755)
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/_assets/head.ts
  src/demos/flow/adding-items.html
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup rendering of the header in flow item
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: cleanup rendering of the header in flow item (#768)
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: cleanup flow slots
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Add nesting support to groups
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list/shared-list-logic.ts
  src/demos/pick-list/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore: cleanup flow slots (#769)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

rename slot
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/demos/pick-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix for shell-panel, flow, flow-item nesting and height issues.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

fix: nesting and height issues.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

adding tests
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

reflect props
  src/components/calcite-handle/calcite-handle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

update items on dom changes
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add global component imports.
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-sortable-list/calcite-sortable-list.scss
Due: prettier --write, stylelint --fix

remove unwanted change.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove state to prevent re-render
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: lists react to value prop changes in items (#750)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/valueUpdate.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(tooling): add script to preview changelog
  .versionrc.json
  package.json
Due: prettier --write

Fix for value-list-item focus state (#543).
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/scss/mixins/_utilities.scss
  src/scss/mixins/variables/_layout.scss
  src/scss/mixins/variables/theme/_light.scss
Due: prettier --write, stylelint --fix

fix(value-list-item): focus state fix
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/scss/mixins/_utilities.scss
  src/scss/mixins/variables/_layout.scss
  src/scss/mixins/variables/theme/_light.scss
Due: prettier --write, stylelint --fix

code review comment follow up
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

New component. switch-row. Initial development. (#496)
  src/components/calcite-switch-row/calcite-switch-row.scss
  src/components/calcite-switch-row/calcite-switch-row.tsx
  src/components/calcite-switch-row/resources.ts
  src/demos/shell/demo-app-full-window.html
  src/demos/switch-row/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

simplify
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

handleSelector
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Clean up. (#496)
  src/components/calcite-switch-row/calcite-switch-row.scss
  src/components/calcite-switch-row/calcite-switch-row.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

removed rest of svgs in demos #682"
  src/demos/action-bar/add-action-after-init.html
  src/demos/shell/demo-app-full-window-reversed.html
Due: none

chore: removed extra svgs (#779)
  src/demos/action-bar/add-action-after-init.html
  src/demos/shell/demo-app-full-window-reversed.html
Due: none

initial tweaks
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Some clean up and demo updates (#767)
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/pick-list/basic.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

Issue #774: Tidy up.
  .versionrc.json
  package.json
Due: prettier --write

chore(tooling): add script to preview changelog (#775)
  package.json
Due: prettier --write

Better check and radio UI. Interim solution until Icon Team delivers a `blank` icon. (#767)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Only render secondary action node if slot is populated. (#767)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Added `indented` modifier class. Spacing and demo updates. (#767)
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/demos/pick-list/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
