Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

Issue #205: Tidy up.
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/head.js
  stencil.config.ts
  stencil.docs.config.ts
Due: prettier --write, tslint --fix

Issue #205: Replace toggle w/ toggleDisplay property.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/interfaces.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Update to Stencil core to pre-release 1.60-2.
  package-lock.json
  package.json
Due: prettier --write

removed workaround for tip manager verified tests still pass with update Also replaced hardcoded `tip` with resource variable
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

rename picklistitem event name
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

Adding JSDocs to pick list events
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

changed valueList event names and added docs
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

prepare for upcoming release.
  CHANGELOG.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-pick-list/readme.md
  src/components/calcite-value-list-item/readme.md
  src/components/calcite-value-list/readme.md
Due: prettier --write

update event listener in demos
  src/demos/calcite-value-list.html
Due: none

remove retargeting of value-list-item event
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

remove item from list-item event data
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

add filterEnabled prop
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

remove unneeded array
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

re #339. value-list style tweaks.
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write

rename list change event calciteListSelectionChange to calciteListChange
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

added @deprecated to comment
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

re #339. pick-list-item added fade-in animation.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

no message
  CHANGELOG.md
  package.json
Due: prettier --write

package lock
  package-lock.json
Due: prettier --write

re #175. light refactoring of bg and foreground CSS var usage.
  src/assets/styles/_base.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

1.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

re #175. Removed redundant background and foreground vars. Leaving pick-list and pick-list-item as is until #342 is merged.
  src/assets/styles/_base.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

moved icon inside label
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

Issue #82: Standardize changelog.
  CHANGELOG.md
Due: prettier --write

Issue #82: Automate changelog generation.
  .versionrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat: valueList event added for drag and drop (#324)
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

refactor
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

docs: textHeading changes
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

Update valuelist docs
  src/demos/calcite-value-list.html
Due: none

update props in tests
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

Merge branch 'master' into hrobbins/picklistitem-rename-prop-288
  src/assets/styles/_base.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

refactor: picklistitem rename textHeading prop to textLabel (#325)
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

feat(pick-list): adding compact mode
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

remove redundant comment
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

fix(pick-list demo): fixed incorrect ids in the demo.
  src/demos/calcite-pick-list.html
Due: none

feat: pickListItem events bubble (remove stopPropagation) (#341)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

feat: Picklist and ValueList add filterEnabled prop (#342)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

update changelog for v4.1.0
  CHANGELOG.md
Due: prettier --write

changed sort event name to calciteListOrderChange
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix
