Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

minor fixes
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

remove cosole
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

remove handleBack for new PR
  src/components/calcite-flow/calcite-flow.tsx
  src/demos/calcite-flow.html
Due: prettier --write, tslint --fix

removed commented lines
  support/demoPageSync.js
Due: none

removing prism.
  src/demos/advanced/flow-adding-items.html
Due: none

use calcite colors
  src/demos/demos.css
Due: none

added template files to watch
  support/demoPageSync.js
Due: none

used calcite color
  src/demos/toggles.template
Due: none

full window open in new window full window
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, tslint --fix

remove inline nav
  src/demos/calcite-shell.html
  src/demos/toggles.js
Due: none

minor updates
  src/demos/toggles.js
  support/demoPageSync.js
Due: none

prop instead of state. button instead of anchor
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

rename arraymove to arrayMove
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --fix

with prop, no need for custom method.
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

handle zIndex issues for CalciteScrim
  src/components/calcite-block/calcite-block.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, tslint --fix

lock file
  package-lock.json
Due: prettier --write

optional chaining huzzah
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

scrim for panel
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

apply to other components.
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

revert stuff
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --fix

set loading prop
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

more legible code
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, tslint --fix

new array.ts file
  src/components/utils/array.ts
Due: prettier --write, tslint --fix

changed button to span with role button
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

moved to array.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --fix

fix Edge styling issue
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

update component required props
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

self closing tags
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --fix

fix: calcite-block disabled state doesn't 'hide' slider handle #560 (#567)
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/CalciteScrim.tsx
Due: prettier --write, tslint --fix

Fix. Action focus outline (#569).
  src/assets/styles/_layout.scss
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

fix(Action): focus outline
  src/assets/styles/_layout.scss
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Issue #531: Set up stylelint.
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

Issue #531: Restore linting scripts.
  package-lock.json
  package.json
Due: prettier --write

Issue #531: Tweak rules.
  .stylelintrc.json
Due: prettier --write

Issue #531: Fix linting errors.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

update event target for keydown
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

value-list-item. drag handle style + a11y focus ring style.
  src/assets/styles/_layout.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

handle node swap internally for Edge
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

removed text node from fitler label.
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
