Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project . --fix", "prettier --write", "git add"]
}

clean up ignore file
  .gitignore
Due: none

clean up ignore file (#648)
  .gitignore
Due: none

Issue #564: TSify all files.
  .gitignore
  .storybook/webpack.config.js
  .storybook/webpack.config.ts
  package-lock.json
  package.json
  src/demos/demoPageReloader.ts
  src/demos/head.js
  src/demos/head.ts
  src/demos/toggles.js
  src/demos/toggles.ts
  src/tests/setup.ts
  stencil.config.ts
  support/demoPageSync.js
  support/demoPageSync.ts
  support/githubReleaseFromChangelog.ts
  support/prepublish.ts
  support/tempDocDirCleaner.ts
  support/tslint.json
  tsconfig-demos.json
Due: prettier --write, tslint --project . --fix

progress
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --project . --fix

Issue #564: Update head script.
  src/demos/head.ts
Due: prettier --write, tslint --project . --fix

cleanup
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

no message
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

utilities cleanup
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/utils/array.ts
  src/components/utils/dom.ts
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --project . --fix

chore(tooling): tsify all files (#649)
  .gitignore
  .storybook/webpack.config.js
  .storybook/webpack.config.ts
  package-lock.json
  package.json
  src/demos/demoPageReloader.ts
  src/demos/head.ts
  src/demos/toggles.js
  src/demos/toggles.ts
  src/tests/setup.ts
  stencil.config.ts
  support/demoPageSync.js
  support/demoPageSync.ts
  support/githubReleaseFromChangelog.ts
  support/prepublish.ts
  support/tempDocDirCleaner.ts
  support/tslint.json
  tsconfig-demos.json
Due: prettier --write, tslint --project . --fix

Delete toggles.js
  src/demos/toggles.js
Due: none

fix typing
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

small fixes
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, stylelint --fix, tslint --project . --fix

review fixes; test in progress.
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

cleanup
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

demos update, make beforeBack optional.
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
Due: prettier --write, tslint --project . --fix

fix test
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

fix tests
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

no message
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

need to get this test working
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

add __docs-temp__ to gitignore
  .gitignore
Due: none

pick list stories
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
Due: prettier --write, tslint --project . --fix

value list story
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project . --fix

tip manager stories
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
Due: prettier --write, tslint --project . --fix

tip stories
  src/components/calcite-tip/calcite-tip.stories.ts
Due: prettier --write, tslint --project . --fix

docs(demos): fix docs output.
  package.json
  stencil.docs.config.ts
  stencil.storybook.config.ts
Due: prettier --write, tslint --project . --fix

put animation back.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, stylelint --fix, tslint --project . --fix

update tests for action
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project . --fix

get things running
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project . --fix

docs: storybook stories for 4 components (#653)
  .gitignore
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project . --fix

header/content block snip
  src/components/calcite-block/usage/basic.md
Due: prettier --write

added role="listbox" to value and pick list
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project . --fix

test code
  src/demos/advanced/flow-adding-items.html
Due: none

simplify test
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

called 1 time
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --project . --fix

review fixes
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/demos/advanced/flow-adding-items.html
Due: prettier --write, tslint --project . --fix

fixed always open blurb
  src/components/calcite-block/usage/basic.md
Due: prettier --write

made all headings similar
  src/components/calcite-block/usage/basic.md
Due: prettier --write

docs(demos): fix docs output. (#654)
  package.json
  stencil.docs.config.ts
  stencil.storybook.config.ts
Due: prettier --write, tslint --project . --fix
