Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Added drag-handle to block
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/demos/block/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

remove bottom box shadow from handle
  src/components/calcite-handle/calcite-handle.scss
Due: prettier --write, stylelint --fix

fix for when handle is in nested shadow dom
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

advanced demo of sortable blocks
  src/demos/sortable-list/sortable-blocks.html
Due: none

review fixes
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Remove unused utility methods
  src/components/utils/array.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Remove unused utility methods
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

move host styles into mixin.
  src/assets/styles/_base.scss
  src/assets/styles/_color.scss
  src/assets/styles/_mixins.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

cleanup comment.
  src/assets/styles/_mixins.scss
Due: prettier --write, stylelint --fix

Updated tip-manager demo.
  src/demos/tip-manager/basic.html
Due: none

Issue #688: Include note sections in docs tab.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #688: Tidy up.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(demos): replace inlined SVGs with calcite-icon (#737)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow/adding-items.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: Remove unused utility methods (#735)
  src/components/utils/array.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix interface
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

move fonts and other styles
  src/assets/styles/_base.scss
  src/assets/styles/_mixins.scss
  src/assets/styles/_type.scss
  src/assets/styles/includes.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

feat: ActionPad. Add same expand/collapse behavior as ActionBar (#690)
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/resources.ts
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/resources.ts
  src/components/interfaces.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

refactor!: Modify Tip API & remove unused utilities (#720)
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/calcite-tip/usage/basic.md
  src/components/utils/localStorage.ts
  src/demos/tip-manager/basic.html
  src/demos/tip/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(docs): include note sections in docs tab (#739)
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

My attempt to reorganize the styles in order to eliminate multiple `:root{}` declarations
  src/assets/styles/_animation.scss
  src/assets/styles/_color.scss
  src/assets/styles/_component.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_mixins.scss
  src/assets/styles/_root.scss
  src/assets/styles/_shadow.scss
  src/assets/styles/_type.scss
  src/assets/styles/includes.scss
  src/assets/styles/theme/_dark.scss
  src/assets/styles/theme/_light.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

extend host
  src/assets/styles/_component.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

don't extend host
  src/assets/styles/_component.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

#740 setFocus on dismiss button method
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/panel/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Removed unnecessary Sass var definitions and _color.scss.
  src/assets/styles/_color.scss
  src/assets/styles/includes.scss
  src/assets/styles/theme/_dark.scss
  src/assets/styles/theme/_light.scss
Due: prettier --write, stylelint --fix

style: remove unnecessary sass vars
  src/assets/styles/_color.scss
  src/assets/styles/includes.scss
  src/assets/styles/theme/_dark.scss
  src/assets/styles/theme/_light.scss
Due: prettier --write, stylelint --fix

style fixes
  src/assets/styles/_component.scss
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

review fixes
  src/assets/styles/_component.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write, stylelint --fix

review fixes
  src/assets/styles/_component.scss
  src/assets/styles/_host.scss
  src/assets/styles/includes.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, stylelint --fix

only apply header/heading css if necessary.
  src/assets/styles/_component.scss
  src/assets/styles/_header.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write, stylelint --fix

restructure scss
  src/assets/styles/_animation.scss
  src/assets/styles/includes.scss
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/scss/README.md
  src/scss/global.scss
  src/scss/includes.scss
  src/scss/includes/_animation.scss
  src/scss/includes/_component.scss
  src/scss/includes/_header.scss
  src/scss/mixins/_mixins.scss
  src/scss/placeholders/_host.scss
  src/scss/placeholders/_layout.scss
  src/scss/placeholders/_shadow.scss
  src/scss/placeholders/_timing.scss
  src/scss/placeholders/_type.scss
  src/scss/placeholders/themes/_dark.scss
  src/scss/placeholders/themes/_light.scss
  stencil.config.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

rename file
  src/scss/README.md
  src/scss/injected.scss
  stencil.config.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

update tip stories. fix storybook config
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  stencil.storybook.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix slotted img styling
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write, stylelint --fix

fix shell tipmanager story
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

bump stencil core
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
