Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

Tidy up.
  src/demos/block/basic.html
Due: none

Tweak grid positioning for header.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

feat(block): drop open/close icon (#897)
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/block/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(block): use CSS grid to improve header layout (#895)
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

fix duplicate fab for storybook
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

WIP
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
  src/demos/action-bar/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions (#899)
  package-lock.json
  package.json
Due: prettier --write

More tweaks. needs cleanup.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/resources.ts
  src/demos/shell/layerlist.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(deps): drop classnames
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(fab): fix storybook in edge #898
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove prop
  src/components/calcite-action-pad/calcite-action-pad.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions (#901)
  package-lock.json
  package.json
Due: prettier --write

fix(flow-item): fix back button icon not showing up
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(flow-item): fix back button icon not showing up (#903)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

WIP
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build: fix release script
  package-lock.json
  package.json
Due: prettier --write

build: fix release script (#905)
  package-lock.json
  package.json
Due: prettier --write

review fixes
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup and usage
  src/components/calcite-action-bar/usage/tooltip.md
  src/components/calcite-action-pad/usage/tooltip.md
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
Due: prettier --write

block cases
  src/demos/shell/block-cases.html
Due: none

line-height
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix

handle tweak
  src/components/calcite-handle/calcite-handle.scss
Due: prettier --write, stylelint --fix

flow-item heading tweak
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix

Block: RTL, control div conditional
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Block styles after grid. Aligned handles, header, control
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

clean up
  src/demos/shell/block-configurations.html
  src/demos/shell/mvb-simulator-popup.html
  src/demos/shell/mvb-simulator.css
  src/demos/shell/mvb-simulator.html
Due: none

clean up.
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/shell/block-configurations.html
  src/demos/shell/layerlist.html
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

docs(changelog): amend note
  CHANGELOG.md
Due: prettier --write

demo apps
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-temp.css
Due: none

demo app
  src/demos/shell/demo-app-advanced-2.html
Due: none

fix slots
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-flow/usage/basic.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/demos/action-bar/basic.html
  src/demos/flow/adding-items.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

progress
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/usage/basic.md
  src/components/calcite-action/usage/basic.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/usage/basic.md
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Clean up.
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-temp.css
Due: prettier --write, stylelint --fix

docs: Fix slot usage for stories and markdown
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-flow/usage/basic.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/demos/action-bar/basic.html
  src/demos/flow/adding-items.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: Remove unnecessary usage of calcite-icon (#908)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/usage/basic.md
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/usage/basic.md
  src/components/calcite-action/usage/basic.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/usage/basic.md
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/usage/basic.md
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/usage/basic.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/calcite-value-list/usage/basic.md
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(action-bar,action-pad): Add tooltipExpand property (#904)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/usage/tooltip.md
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/usage/tooltip.md
  src/components/utils/CalciteExpandToggle.tsx
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
