Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "eslint --ext .ts,.tsx --fix", "prettier --write"]
}

getElementDir for filter
  src/components/calcite-pick-list/shared-list-render.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(calcite-filter): added rtl check and updated styles
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/demos/pick-list/advanced.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

TipManager. Focus UI tweak. (#945)
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write, stylelint --fix

fix(tip-manager) focus ring update
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write, stylelint --fix

preliminary addition
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/flow/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(changelog): use touch alternative
  package.json
Due: prettier --write

cool
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/demos/action-pad/basic.html
Due: prettier --write, stylelint --fix

chore(changelog): use touch alternative (#969)
  package.json
Due: prettier --write

docs: Add a11y to storybook (#963)
  .storybook/main.ts
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

Updated slot name. (#958)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/flow/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#970)
  package-lock.json
  package.json
Due: prettier --write

v6 changes
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/interfaces.ts
  src/components/utils/dom.ts
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app.html
  tsconfig.json
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added test for leading-actions slot. (#958)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/flow/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

added new slot example to demo
  src/demos/flow/basic.html
Due: none

added overloaded slot example
  src/demos/flow/basic.html
Due: none

Moved class to CSS const. (#958)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added e2e for empty leading-actions. (#958)
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(changelog): clean up temp files generated when creating the preview
  package.json
Due: prettier --write

Added additional e2e test. (#958)
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

refactor!: Remove deprecated properties and slots from components (#971)
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/interfaces.ts
  src/components/utils/dom.ts
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app.html
  tsconfig.json
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix build
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

cleanup
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

refactor: fix build errors (#974)
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(action-bar, action-pad): add tooltip-prop stories
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat(flow-item): added slot that hydrates header-leading-content of calcite-panel
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/flow/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(action-bar, action-pad): add tooltip-prop stories (#975)
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added e2e layout tests. (#967)
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(changelog): clean up temp files generated when creating the preview (#977)
  package.json
Due: prettier --write

Removed layout from action-group and associated styles and e2e. (#967)
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Added container and RTL stuff and updated related styles. (#967)
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/demos/action-pad/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Removed unnecessary selector. (#967)
  src/components/calcite-action-pad/calcite-action-pad.scss
Due: prettier --write, stylelint --fix

feat(action-pad): add horizontal layout
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/interfaces.ts
  src/demos/action-pad/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#979)
  package-lock.json
  package.json
Due: prettier --write

Initial styles. TODO cleanup (#978)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/demos/shell/demo-app-advanced.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Reset flex rule. Updated padding and added first-child border-top rule. (#978)
  src/components/calcite-pick-list/calcite-pick-list.scss
Due: prettier --write, stylelint --fix

Added appearance to pick-list. Removed from pick-list-item. Cleaned up demo.
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/demos/shell/demo-app-advanced.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

refactor(dom): enhance getSlotted to process direct children
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/utils/dom.spec.ts
  src/components/utils/dom.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix
