Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

RTL for list group (#767)
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

style update using template literal.
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

reset demo page.
  src/demos/shell/demo-app-full-window-reversed.html
Due: none

reset demo pages.
  src/demos/action-bar/add-action-after-init.html
  src/demos/shell/demo-app-full-window-reversed.html
Due: none

Nixed unnecessary classnames. (#767)
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(block): fix block toggling in Edge.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/demos/block/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

"@stencil/core": "1.9.0-13"
  package-lock.json
  package.json
Due: prettier --write

fix(block): fix block toggling in Edge. (#785)
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/demos/block/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Tidy up.
  .lintstagedrc.json
Due: prettier --write

chore(deps): Bump versions. (#786)
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

Set up eslint.
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

getting started
  PROJECT_GUIDELINES.md
Due: prettier --write

github
  PROJECT_GUIDELINES.md
Due: prettier --write

formatting
  PROJECT_GUIDELINES.md
Due: prettier --write

toc
  PROJECT_GUIDELINES.md
Due: prettier --write

code base
  PROJECT_GUIDELINES.md
Due: prettier --write

switching things around
  PROJECT_GUIDELINES.md
Due: prettier --write

chore(tests): update reflects test helper to handle camelCased properties
  src/tests/commonTests.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(tests): update reflects test helper to handle camelCased properties (#787)
  src/tests/commonTests.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

#782 remove position relative on shell-panel. Can't be removed from shell.scss since it needs zindex.
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

"@stencil/core": "1.9.0-14",
  package-lock.json
  package.json
Due: prettier --write

Bump versions (#789)
  package-lock.json
  package.json
Due: prettier --write

fix: Calcite-shell-panel remove position relative #782
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

fix(block): Avoid extra padding from slotted icon content.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

reporting a bug
  PROJECT_GUIDELINES.md
Due: prettier --write

enhancement to add scales to Action. (#759)
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Made default scale style explicit. (#759)
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

Added demos and styles for indicator and RTL indicator. (#759)
  src/components/calcite-action/calcite-action.scss
  src/demos/_assets/demos.css
  src/demos/action/basic.html
Due: prettier --write, stylelint --fix

Added scale knob to storybook. Added scale prop to readme. (#759)
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Removed compact knob from Action storybook. (#759)
  src/components/calcite-action/calcite-action.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

typo
  PROJECT_GUIDELINES.md
Due: prettier --write

feat(action): add scales to Action
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/demos/_assets/demos.css
  src/demos/action/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Follow up fix for `compact` prop.
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

fix(action): style updates for compact mode
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
