Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix

.lintstagedrc.json:

{
  "*.{json,md,scss}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project . --fix", "prettier --write", "git add"]
}

add clear button to filter
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
Due: prettier --write, tslint --project . --fix

flow-item & panel summary slot, node, and styles. TODO: fix stuff.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/calcite-flow.html
  src/demos/calcite-panel.html
Due: prettier --write, tslint --project . --fix

added moveNode dom utility
  src/components/utils/dom.ts
Due: prettier --write, tslint --project . --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions. (#576)
  package-lock.json
  package.json
Due: prettier --write

code review comments
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project . --fix

Added styles and reworks for demos.
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/demos/demos.css
  src/demos/toggles.template
Due: prettier --write

container bottom margin.
  src/demos/demos.css
Due: none

added tests to validate event data
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project . --fix

Issue #531: Tidy up.
  package.json
Due: prettier --write

Issue #552: Enhance common test helpers to take page setup options.
  src/tests/commonTests.ts
  src/tests/utils.ts
Due: prettier --write, tslint --project . --fix

Issue #552: Add block section a11y tests.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, tslint --project . --fix

Issue #552: Tidy up.
  src/tests/commonTests.ts
Due: prettier --write, tslint --project . --fix

shift deselect for lists
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project . --fix

test: added tests to validate event data (#578)
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Due: prettier --write, tslint --project . --fix

fix a11y on new filter button
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --project . --fix

capitalize
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --project . --fix

Issue #540: Refactor slot/content checking logic.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project . --fix

Issue #540: Tidy up.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project . --fix

Flow & Panel - adding summary and styles.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/demos/calcite-flow.html
  src/demos/calcite-shell-full-window.html
Due: prettier --write

updated bg-color and h1 style
  src/demos/demos.css
Due: none

Sticky nav for demos.
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/demos/demos.css
  src/demos/toggles.template
Due: prettier --write

change node version in travis.yml from latest-stable to latest-lts version
  .travis.yml
Due: none

ci: change node version in travis.yml from latest-stable to latest-lts version (#584)
  .travis.yml
Due: none

feat: add clear button to filter (#575)
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --project . --fix

move TEXT from picklist to filter resources
  src/components/calcite-filter/resources.ts
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --project . --fix

feat: removed text node from filter label. (#574)
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-pick-list/resources.ts
Due: prettier --write, tslint --project . --fix

duh.
  src/demos/demos.css
Due: none

feat: value list drag drop keyboard support 356 (#559)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/utils/array.ts
  src/components/utils/dom.ts
  src/demos/calcite-value-list-advanced.html
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --project . --fix

removed commented code
  src/components/calcite-pick-list/shared-list-logic.ts
Due: prettier --write, tslint --project . --fix

Added title to page. Associated heading styles.
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/demos.css
Due: prettier --write, tslint --project . --fix

Typography.
  src/demos/calcite-typography.html
  src/demos/demos.css
Due: none

Typography again!
  src/demos/calcite-typography.html
Due: none

prevent deselection for single-select lists
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

fix(block): hide collapse icon when a control is provided in Edge (#582)
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --project . --fix

Added styles and reworks for demos. (#577)
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-typography.html
  src/demos/demos.css
  src/demos/toggles.template
Due: prettier --write, tslint --project . --fix

es5 js files
  src/demos/demoPageReloader.js
  src/demos/head.js
Due: none

Pulled heading and summary slots out of panel. Moved related nodes to flow-item.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/calcite-flow.html
Due: prettier --write, tslint --project . --fix

docs: advanced demos 463 (#562)
  docs/demos/calcite-shell-full-window.html
  docs/demos/calcite-shell-panel.html
  docs/demos/calcite-shell-rtl.html
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/demos/advanced/block-with-value-list.html
  src/demos/advanced/flow-adding-items.html
  src/demos/advanced/shell-demo-app-full-window.html
  src/demos/advanced/shell-demo-app-rtl.html
  src/demos/advanced/shell-demo-app.html
  src/demos/advanced/shell-panel-with-action-bar.html
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-panel.html
  src/demos/calcite-pick-list-advanced.html
  src/demos/calcite-pick-list-simple.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-typography.html
  src/demos/calcite-value-list.html
  src/demos/demos.css
  src/demos/head.js
  src/demos/toggles.js
  src/demos/toggles.template
  support/demoPageSync.js
Due: prettier --write, tslint --project . --fix
