Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

add comment
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

moar comments
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Add text for browser support.
  README.md
Due: prettier --write

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

chore(linting): set up @stencil-eslint rules
  .eslintrc.json
  package-lock.json
  tsconfig-eslint.json
Due: prettier --write

chore(storybook): fix createComponentHTML storybook util
  .storybook/main.js
  .storybook/preview.js
  .storybook/resources.js
  .storybook/theme.js
  .storybook/utils.js
  .storybook/utils.ts
  .storybook/webpack.config.js
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(storybook): fix createComponentHTML storybook util (#933)
  .storybook/main.js
  .storybook/preview.js
  .storybook/resources.js
  .storybook/theme.js
  .storybook/utils.js
  .storybook/utils.ts
  .storybook/webpack.config.js
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor: drop classnames (#934)
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

refactor(pick-list-item): avoid setting icon when unselected (#918)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): bump versions (#928)
  package-lock.json
  package.json
Due: prettier --write

franco pr suggestions
  PROJECT_GUIDELINES.md
Due: prettier --write

project guidelines cleanup per francos comments
  PROJECT_GUIDELINES.md
Due: prettier --write

project guidelines: code base, contribution guidelines
  PROJECT_GUIDELINES.md
Due: prettier --write

a11y
  PROJECT_GUIDELINES.md
Due: prettier --write

build(deps): bump versions (#939)
  package-lock.json
  package.json
Due: prettier --write

Issue #923: Tweak @stencil/eslint rules and fix warnings/errors.
  .eslintrc.json
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(linting): set up @stencil-eslint rules (#932)
  .eslintrc.json
  package-lock.json
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  tsconfig-eslint.json
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

few spelling tweaks and url changes
  PROJECT_GUIDELINES.md
Due: prettier --write

docs: project guidelines (#790)
  PROJECT_GUIDELINES.md
Due: prettier --write

Slight tweak. (#886)
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

reset heading size in flow-item (#886)
  src/components/calcite-flow-item/calcite-flow-item.scss
Due: prettier --write, stylelint --fix

feat: typographic reduction and spacing updates
  LICENSING.md
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/interfaces.ts
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window.html
  src/scss/includes/_header.scss
  src/scss/mixins/variables/_typography.scss
  src/scss/mixins/variables/theme/_light.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

chore(build): revisit prepublish error messaging
  support/prepublish.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

icon changes for picklist and valuelist (#940)
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/pick-list/advanced.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(changelog): preview only shows most recent release
  package.json
Due: prettier --write

Keep full changelog preview script.
  package.json
Due: prettier --write

chore(build): revisit prepublish error messaging (#942)
  support/prepublish.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat: use less confusing icons in pick-list and value-list
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/pick-list/advanced.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Removed older focus ring mixin. Added mixin to match calcite-components. Replaced older mixin. Added new mixin where it was needed. (#945)
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/tip/basic.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

use var for animation speed
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

#935 add slot "bottom-panel" and deprecate "tip-manager" on shell
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/resources.ts
  src/components/calcite-shell/usage/advanced.md
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(block): loader UI bug
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

feat: replace focus ring mixin and added new mixin where needed
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/demos/tip/basic.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

fix(block): updated for loader UI bug
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

working but still some issues
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Adjustments to keep bottom-panel from pusing contextual-panel off frame.
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Added calcite-shell-center-row component and associated styles. TODO: collapsed event.
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Added content node in order to recieve the `hidden` attribute for the `collapsed` property.
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-center-row/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix
