Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

block doc updated
  src/components/calcite-block-content/readme.md
  src/components/calcite-block-header/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
Due: prettier --write

get debounce working
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

add filter to picker
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

revert lock file
  package-lock.json
Due: prettier --write

update lock file
  package-lock.json
Due: prettier --write

fix package lock
  package-lock.json
Due: prettier --write

Fix version for initial tag.
  package.json
Due: prettier --write

v0.0.0-alpha.0
  package-lock.json
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-example/readme.md
  src/components/calcite-floating-panel/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

update docs
  docs/build/calcite.esm.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-16q4i1yx.system.entry.js
  docs/build/p-a2evteoa.system.entry.js
  docs/build/p-csezsrla.system.entry.js
  docs/build/p-germgjgi.entry.js
  docs/build/p-hvzqkt87.entry.js
  docs/build/p-lmartogd.system.entry.js
  docs/build/p-namfn9fj.entry.js
  docs/build/p-qxx10qod.entry.js
  docs/demos/calcite-shell/index.html
Due: none

doc consistency
  docs/build/calcite.esm.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-csezsrla.system.entry.js
  docs/build/p-hvzqkt87.entry.js
  docs/build/p-lmartogd.system.entry.js
  docs/build/p-namfn9fj.entry.js
  docs/demos/calcite-action-bar.html
  docs/demos/calcite-action-pad.html
  docs/demos/calcite-action.html
  docs/demos/calcite-flow-item.html
  docs/demos/calcite-flow.html
  docs/demos/calcite-shell-panel.html
  docs/demos/calcite-shell.html
  docs/demos/calcite-shell/dark-side.html
  docs/demos/calcite-typography.html
  docs/demos/nav.js
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-shell/dark-side.html
  src/demos/calcite-typography.html
  src/demos/nav.js
Due: none

get nav working in edge
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/demos/nav.js
  src/index.html
Due: none

hopefully this merge works and i didnt screw up my branch! many doc updates for various components
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block-content/readme.md
  src/components/calcite-block-header/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/readme.md
Due: prettier --write, tslint --fix

wording
  src/components/calcite-action-bar/readme.md
Due: prettier --write

wording
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
Due: prettier --write, tslint --fix

words
  src/components/calcite-tip-manager/readme.md
Due: prettier --write

add placeholder text for the filter input
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

get filter working
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

picker sets icon attribute of rows
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

take2
  src/components/_support/CalciteIcon.tsx
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/demos/head.js
  src/demos/nav.js
  src/index.html
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

cleanup
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-action-bar.html
  src/demos/calcite-action-pad.html
  src/demos/calcite-action.html
  src/demos/calcite-block.html
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-shell-panel.html
  src/demos/calcite-shell.html
  src/demos/calcite-tip-manager.html
  src/demos/calcite-tip.html
  src/demos/calcite-typography.html
  src/index.html
Due: prettier --write, tslint --fix

#135 move `calcite-tip-group` into root component folder. use TEXT const for text.
  docs/build/calcite.esm.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-3uqvdfy7.system.entry.js
  docs/build/p-49dd4957.js
  docs/build/p-58ae39d2.system.js
  docs/build/p-79fd99b6.system.js
  docs/build/p-df0kxa9v.system.entry.js
  docs/build/p-e5f29ee9.js
  docs/build/p-j3s5j46m.system.entry.js
  docs/build/p-lpe7kgnu.entry.js
  docs/build/p-prnlqr9x.system.entry.js
  docs/build/p-qf2hngxn.entry.js
  docs/build/p-sxlaqjz5.entry.js
  docs/build/p-wkc9k4u7.entry.js
  src/components/calcite-tip-group/calcite-tip-group.e2e.ts
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

build & docs
  src/components/calcite-demo-nav/readme.md
  stencil.config.ts
Due: prettier --write, tslint --fix

Bump version for first milestone tag.
  package-lock.json
  package.json
Due: prettier --write

v1.0.0-alpha.0
  src/components/calcite-demo-nav/readme.md
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/readme.md
Due: prettier --write

update bundles
  stencil.config.ts
Due: prettier --write, tslint --fix

doc updated per jcf comments
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-group/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-floating-panel/readme.md
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/readme.md
Due: prettier --write, tslint --fix

updated styling description
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/readme.md
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/readme.md
Due: prettier --write, tslint --fix

update icons
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

correct headings
  src/demos/calcite-picker.html
Due: none

update nav
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

add shift click behavior
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

apply stash
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
