Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "eslint --ext .ts,.tsx --fix", "prettier --write"]
}

fix?
  .travis.yml
Due: none

test 2
  .travis.yml
Due: none

take3
  .travis.yml
Due: none

take 4
  .travis.yml
Due: none

take 6
  .travis.yml
Due: none

take 7
  .travis.yml
Due: none

revert
  .travis.yml
Due: none

chore: update travis CI to use Teams instead of Slack (#999)
  .travis.yml
Due: none

build(next): drop dry-run flag from next deployment script
  package.json
Due: prettier --write

6.0.1-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build(travis): use script deployment for @next
  .travis.yml
  package.json
  support/deployNextFromTravisBuild.sh
Due: prettier --write

build(travis): improve @next deployment setup
  .travis.yml
  CHANGELOG.md
  package.json
  support/deployNextFromTravisBuild.sh
Due: prettier --write

feat(pick-list-item): update to word-break
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/shell/demo-app-full-window.html
  src/scss/mixins/_utilities.scss
Due: prettier --write, stylelint --fix

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1001)
  package-lock.json
  package.json
Due: prettier --write

build(travis): move extra deployment steps to support script
  .travis.yml
  support/deployNextFromTravisBuild.sh
Due: none

build(travis): improve @next deployment scripts
  package.json
  support/deployNextFromTravisBuild.sh
Due: prettier --write

6.1.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

docs(pick-list): add story for nested items
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump versions (#1003)
  package-lock.json
  package.json
Due: prettier --write

prevent disabled actions from being clicked or tabbed to.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs(pick-list): add story for nested items (#1002)
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

remove unnecessary tabindex
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

add test
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(action): Prevent disabled buttons from being clicked or tabbed into (#1004)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

chore(types): inline type for panel focus ID
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(types): inline type for panel focus ID (#1005)
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.2
  package-lock.json
  package.json
Due: prettier --write

calcite-fab - issue with z-index #1000
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/panel/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

Enhancement: update menu-actions slot #1009
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

fix(value-list): ensure keyboard-enabled DND stays active when moving items around
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

review fixes!
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write, stylelint --fix

fix(panel, flow-item): Make sure the FAB is always stacked higher than slot content. (#1010)
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/panel/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.3
  package-lock.json
  package.json
Due: prettier --write

feat(flow-item): Use calcite-popover for menu actions #1011
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.1.0-beta.4
  package-lock.json
  package.json
Due: prettier --write

restore helper type
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix
