Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

hosts need display set so they are not inline.
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-demo-nav/calcite-demo-nav.scss
Due: prettier --write

demo nav sizing
  src/components/calcite-demo-nav/calcite-demo-nav.scss
Due: prettier --write

Update stencil to 1.5.3, fix tip manager test (needed key for h2) and fix issue #276
  package-lock.json
  package.json
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

fix test
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

await all zee clicks
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
Due: prettier --write, tslint --fix

WIP
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/demos/calcite-action.html
Due: prettier --write, tslint --fix

Change @esri/calcite-colors version to NPM package.
  package-lock.json
  package.json
  src/assets/styles/_color.scss
  src/assets/styles/includes.scss
Due: prettier --write

Bump deps.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump NPM deps.
  package-lock.json
  package.json
Due: prettier --write

Add dependency updater script.
  package-lock.json
  package.json
Due: prettier --write

add pre-select on componentDidLoad (#305)
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

update lock file
  package-lock.json
Due: prettier --write

replace npm install with npm ci in preversion script
  package.json
Due: prettier --write

feat: Filter Component (#142) for PickList
  package-lock.json
  package.json
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

minor fixes
  src/components/calcite-demo-nav/calcite-demo-nav.scss
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
Due: prettier --write, tslint --fix

fix css, add RTL demo
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-action.html
Due: prettier --write

update demos, replace text-enabled
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

update readme
  src/components/calcite-action/readme.md
Due: prettier --write

replace npm install with npm ci in preversion script (#316)
  package.json
Due: prettier --write

review fixes.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/calcite-action.html
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

update deprecation tag.
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

fix dupe id
  src/demos/calcite-value-list.html
Due: none

introduce filter to valueList
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

rename `textMode` to `textDisplay`
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/calcite-action.html
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: prettier --write, tslint --fix

fix build
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
Due: prettier --write, tslint --fix

fix package
  package-lock.json
  package.json
Due: prettier --write

rename classes
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
Due: prettier --write, tslint --fix

sticky example.
  src/demos/calcite-action.html
Due: none

remove container elements
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

#307 key navigation only works on specified target #306 allow scrolling via arrows inside content
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

update demo apps
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
Due: none

Issue #308: Ensure Block header focus outline is visible.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

Allow action bar to scroll. nix shell min height
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

Ignore dependencies managed by Stencil.
  package.json
Due: prettier --write

feat: sorting event emitter add a custom event that fires whenver the list sorting changes
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-value-list.html
Due: prettier --write, tslint --fix

refactor: rename textHeading to textLabel
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

update docs
  src/demos/calcite-pick-list.html
Due: none

add backwards compatibility
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

fix: spacebar on secondaryAction
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
