Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

Issue #828: Fix broken links to dependency components from Storybook notes.
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(storybook): fix docs content
  .storybook/config.ts
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Move base title page to main config.
  .storybook/config.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(storybook): fix docs content (#832)
  .storybook/config.ts
  .storybook/utils.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(storybook): fix broken links to components from Storybook notes (#831)
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(docs): migrate Storybook setup to latest (#830)
  .storybook/addons.ts
  .storybook/main.ts
  .storybook/presets.ts
  .storybook/preview.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

5.3.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-0nesvowv.system.entry.js
  docs/build/p-182d53e3.system.js
  docs/build/p-3h7qoaq1.system.entry.js
  docs/build/p-9ph5laew.entry.js
  docs/build/p-df4khido.system.entry.js
  docs/build/p-dikevia7.entry.js
  docs/build/p-dvbrezjb.system.entry.js
  docs/build/p-hxdc01c6.entry.js
  docs/build/p-jtdelv0v.system.entry.js
  docs/build/p-ldhb2xnt.entry.js
  docs/build/p-seq1kxkg.entry.js
  docs/build/p-sgighwvy.system.entry.js
  docs/build/p-yfuwlwvy.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.5fd4b338549f0c7dd436.bundle.js
  docs/main.93ef45221b5082140585.bundle.js
  docs/main.a434e4ed80133edbb1d2.bundle.js
  docs/main.a434e4ed80133edbb1d2.bundle.js.map
  docs/main.b76bc9e5f7fd4ff4694b.bundle.js
  docs/main.b76bc9e5f7fd4ff4694b.bundle.js.map
  docs/runtime~main.a434e4ed80133edbb1d2.bundle.js
  docs/runtime~main.a434e4ed80133edbb1d2.bundle.js.map
  docs/runtime~main.b76bc9e5f7fd4ff4694b.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.24c1823bbb2fac2fec0e.bundle.js
  docs/vendors~main.a434e4ed80133edbb1d2.bundle.js
  docs/vendors~main.a434e4ed80133edbb1d2.bundle.js.LICENSE.txt
  docs/vendors~main.a434e4ed80133edbb1d2.bundle.js.map
  docs/vendors~main.b76bc9e5f7fd4ff4694b.bundle.js
  docs/vendors~main.b76bc9e5f7fd4ff4694b.bundle.js.map
  package-lock.json
  package.json
Due: prettier --write

refactor: Add responsive breakpoints (#811)
  src/scss/injected.scss
  src/scss/mixins/variables/_breakpoints.scss
Due: prettier --write, stylelint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

remove --out
  package.json
Due: prettier --write

revert jest version. opened ticket for the bug.
  package-lock.json
  package.json
Due: prettier --write

chore: bump versions (#833)
  package-lock.json
  package.json
Due: prettier --write

Fab styling and demos.
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/demos/flow/basic.html
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

UI refresh. Don't freak out.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/shell/demo-app-full-window.html
  src/scss/includes/_header.scss
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

review fixes
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

WIP
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: fix broken storybook build
  docs/iframe.html
Due: none

docs: fix broken storybook build (#835)
  docs/iframe.html
Due: none

Allow SVGs to be input into the calcite-action again. At least temporarily until we can figure out a way to determine if the default slot is populated with an element.
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Add ability to display icon using icon string.
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove dependency
  package-lock.json
  package.json
  src/components/calcite-fab/calcite-fab.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix tests.
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Clean up and box-shadow last-of-type that is not working.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/scss/mixins/variables/_typography.scss
Due: prettier --write, stylelint --fix

add test and demo snippet
  src/components/calcite-action/calcite-action.e2e.ts
  src/demos/action/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(Action): Allow SVGs to be slotted into the calcite-action. (#836)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): pin storybook to last stable version
  package-lock.json
  package.json
Due: prettier --write

build(deps): pin storybook to last stable version (#838)
  package-lock.json
  package.json
Due: prettier --write

rename locale to intl
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/intl/en-us.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

readmes
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
Due: prettier --write

add tests, story, docs
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Ensure storybook build has proper script tags.
  package-lock.json
  package.json
  support/ensureStorybookBuildHasModuleScripts.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Restore previous storybook dep versions.
  package-lock.json
  package.json
Due: prettier --write

build: ensure storybook build has proper module script tags (#840)
  package-lock.json
  package.json
  support/ensureStorybookBuildHasModuleScripts.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Enhancement: calcite-flow-item needs an onscroll event #841
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/flow-item/basic.html
  src/demos/panel/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove debug statement
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

make removable prop optional
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

move hardcoded strings to resources.
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix
