Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "eslint --ext .ts,.tsx --fix", "prettier --write"]
}

audit fix
  package-lock.json
Due: prettier --write

build(deps): bump versions (#1051)
  package-lock.json
  package.json
Due: prettier --write

feat(panel): Add tooling to test onscroll event for FlowItem and Panel #842 #859 (#1050)
  src/components/calcite-panel/calcite-panel.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.2.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

docs: fix boolean attribute generation in story util
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs: fix boolean attribute generation in story util (#1053)
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

chore(deps): tidy up
  package-lock.json
  package.json
Due: prettier --write

chore(deps): tidy up (#1054)
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#1058)
  package-lock.json
  package.json
Due: prettier --write

tidy up value-list demos
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: none

add dnd test util
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat(value-list): allow dragging items between lists
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

add unit test for dragging between lists
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

unskip existing dnd tests
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat(value-list): allow dragging items between lists (#1059)
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/tests/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.3.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

feat(pick-list-group, pick-list-item, tip-group, tip-manager, value-list-item): add replacement text props
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

bump stencil to v2
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build(deps): bump deps + stencil v2 (#1061)
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

build: restore Stencil v1 dist output
  stencil.config.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

add replacement for textFilterPlaceholder
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

feat(pick-list-group, pick-list-item, tip-group, tip-manager, value-list-item): add replacement text props (#1060)
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

6.3.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

chore(storybook): migrate to Storybook 6
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/theme.ts
  .storybook/utils.ts
  .storybook/utils.tsx
  .storybook/webpack.config.ts
  src/1-introduction.stories.mdx
  src/2-getting-started.stories.mdx
  src/3-contributing.stories.mdx
  src/4-code-of-conduct.stories.mdx
  src/5-licensing.stories.mdx
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix, eslint --ext .ts,.tsx --fix

docs: add deprecation notice
  README.md
Due: prettier --write

docs: fix deprecation notice URL
  README.md
Due: prettier --write
