Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

2.3.0
  package-lock.json
  package.json
Due: prettier --write

refactor: remove tabindex @Prop Preserve arrow navigation functionality
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

doc edit and demo edit
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --fix

start doc
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/readme.md
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/readme.md
Due: prettier --write, tslint --fix

wording
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/readme.md
Due: prettier --write, tslint --fix

cleanup interface
  src/components/calcite-popover/calcite-popover.tsx
  src/components/interfaces.ts
Due: prettier --write, tslint --fix

#269
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

cleanup typing cc @jcfranco
  src/tests/commonTests.ts
Due: prettier --write, tslint --fix

Issue 192: Use JSDoc for slots.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/readme.md
Due: prettier --write, tslint --fix

words
  src/components/calcite-pick-list/readme.md
Due: prettier --write

link to pick-list on master readme
  README.md
Due: prettier --write

picklist group readme
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/readme.md
Due: prettier --write, tslint --fix

Update component READMEs.
  src/components/calcite-action-bar/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
  src/components/calcite-tip/readme.md
Due: prettier --write

copy pickList files
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-row.e2e.ts
  src/components/calcite-value-list-item/resources.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

fix: pre-populate state with preselected items
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

add test for preselection
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --fix

fix: PickList pre-populate state with pre-selected items (#275)
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

re: #268. PickList initial style updates. Ignoring configuration mode.
  src/assets/styles/_color.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_mixins.scss
  src/assets/styles/_type.scss
  src/assets/styles/includes.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

fix: flow demo chang width to max-width
  src/demos/calcite-flow.html
Due: none

add disabled prop
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

re: #268. Structural adjustments. Typography tweaks. Added fill=currentColor to CalciteIcon.
  src/assets/styles/_base.scss
  src/assets/styles/_color.scss
  src/assets/styles/_layout.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/utils/CalciteIcon.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

re: #268. transition. TODO: label width.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

rename test file
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
Due: prettier --write, tslint --fix

re: @268. Big lotsa updates. PickListGroup node adjustments. Icon size and line-height. Truncation tweaks. Demo page updates.
  src/assets/styles/_layout.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

move tabindex to wrapping element.
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

feat: Use a custom attribute for rtl styling
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

initial work for keyboard events to navigate menu
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

Remove popover
  src/components/calcite-demo-nav/calcite-demo-nav.tsx
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/components/calcite-popover/resources.ts
  src/demos/calcite-popover-rtl.html
  src/demos/calcite-popover.html
  src/demos/calcite-shell-rtl.html
  src/demos/calcite-shell.html
  stencil.config.ts
Due: prettier --write, tslint --fix

remove dependency
  package-lock.json
  package.json
Due: prettier --write

re: #268. Made lineClamp mixin. Removed unnecessary array.
  src/assets/styles/_mixins.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-row.e2e.ts
Due: prettier --write, tslint --fix

refactored to work with renamed components
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-picker-group/calcite-picker-group.tsx
  src/components/calcite-picker-group/calcite-picker-row.e2e.ts
  src/components/calcite-picker-group/resources.ts
  src/components/calcite-picker-item/calcite-picker-item.scss
  src/components/calcite-picker-item/calcite-picker-item.tsx
  src/components/calcite-picker-item/calcite-picker-row.e2e.ts
  src/components/calcite-picker-item/resources.ts
  src/components/calcite-picker/calcite-picker.e2e.ts
  src/components/calcite-picker/calcite-picker.scss
  src/components/calcite-picker/calcite-picker.tsx
  src/components/calcite-picker/resources.ts
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

re #268 added comment for line-clamp
  src/assets/styles/_mixins.scss
Due: prettier --write

minor fixes
  package.json
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

re #268. margin-bottom
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

re: #268. Explicit flex values.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write

Skipping pick-list-item test.
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
Due: prettier --write, tslint --fix

WIP
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --fix

fix el state to use correct element typing
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-example/calcite-example.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
Due: prettier --write, tslint --fix

changelog
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
