Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project . --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.{ts,tsx}": ["tslint --project . --fix", "prettier --write", "git add"]
}

fix: prevent deselection for single-select lists (#585)
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

removing @internal
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --project . --fix

Feature. ShellPanel. Add property to display content node as floating. (#590)
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

Feature. ShellPanel. Converted Sass vars into scoped CSS vars. (#590)
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, stylelint --fix

review fixes
  src/demos/demoPageReloader.js
Due: none

review fix
  src/demos/head.js
Due: none

websocket detection
  src/demos/demoPageReloader.js
Due: none

review fix cleanup
  src/demos/demoPageReloader.js
Due: none

newline
  src/demos/demoPageReloader.js
Due: none

fix: Convert js files from es6 to es5 (#589)
  src/demos/demoPageReloader.js
  src/demos/head.js
Due: none

Feature. Shell Panel. Added height rules to retain full-height behavior.
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

Feature. Shell Panel. Added fix for keeping sticky header/footer when containing flow-item. (#590)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

fix type errors by identifying optional params
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

Feature. Shell Panel. Renamed prop to contentDetatched
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/demos/advanced/shell-demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project . --fix

Refactor. Typography. Updated to use rems instead of pixels.
  src/assets/styles/_base.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_type.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/demos/demos.css
Due: prettier --write, stylelint --fix

Issue #587: Wire up missing accessible tests.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --project . --fix

Enable more style linting rules.
  .stylelintrc.json
Due: prettier --write

Make flow-item accessible when no heading is present.
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project . --fix

Make sure aria attributes that are boolean end up as strings. @jcfranco can we maybe have some accessibility test for this? Or maybe a tslint rule?
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

cleanup action
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project . --fix

test(a11y): wire up missing accessible tests. (#596)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

chore(linting): enable more style linting rules. (#598)
  .stylelintrc.json
Due: prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions. (#600)
  package-lock.json
  package.json
Due: prettier --write

fix build error
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
Due: prettier --write, tslint --project . --fix

Refactor. Typography. Couple of missed rules. (#601)
  src/assets/styles/_base.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
Due: prettier --write, stylelint --fix

Refactor. Typography. Updated font scale to match calcite-components (#601)
  src/assets/styles/_type.scss
Due: prettier --write, stylelint --fix

fix inconsistencies in docs config
  stencil.docs.config.ts
  tsconfig.json
Due: prettier --write, tslint --project . --fix

Move type to interfaces
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

Move type to interfaces (#604)
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

update optional props
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --project . --fix

optional property
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix

move interface
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

arrange includes
  tsconfig.json
Due: prettier --write

moved action type to interfaces folder
  src/components/calcite-action/calcite-action.tsx
  src/components/interfaces.ts
Due: prettier --write, tslint --project . --fix

fix: PickList and ValueList shift deselect list items now working 551 (#581)
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project . --fix
