Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["tslint --project tsconfig-tslint.json --fix", "prettier --write"]
}

Added genearl styles for secondary-action slot. Added gender nuetral string.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/value-list/doubleAction.html
Due: prettier --write, stylelint --fix

feat: multiple actions appear side-by-side (#798)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/value-list/doubleAction.html
Due: prettier --write, stylelint --fix

docs: update (#803)
  docs/iframe.html
  docs/main.1eb3b4d565b29bfb7b0f.bundle.js
  docs/main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/main.6ed89cf18aa0fc32c807.bundle.js
  docs/main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/runtime~main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/runtime~main.6ed89cf18aa0fc32c807.bundle.js
  docs/runtime~main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/vendors~main.1eb3b4d565b29bfb7b0f.bundle.js
  docs/vendors~main.1eb3b4d565b29bfb7b0f.bundle.js.map
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js.LICENSE
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js.map
Due: none

Issue #801: Toggle section (with switch) when the header receives Enter/Space keys.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/block/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix: Replace shadowroot querying with textInput reference. (#799)
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

5.2.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-4gsepcis.system.entry.js
  docs/build/p-9elatzth.system.entry.js
  docs/build/p-b77d79ed.system.js
  docs/build/p-boeqs3xb.entry.js
  docs/build/p-iz447tlc.entry.js
  docs/build/p-pqrkoyb9.entry.js
  docs/build/p-tbfubelm.system.entry.js
  docs/build/p-v72mrutg.system.entry.js
  docs/build/p-wlyhrdjt.entry.js
  docs/iframe.html
  docs/index.html
  docs/main.5fd4b338549f0c7dd436.bundle.js
  docs/main.6ed89cf18aa0fc32c807.bundle.js
  docs/main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/main.c426e1e88a27a7faade0.bundle.js
  docs/main.d84788c689107d52e22e.bundle.js
  docs/main.d84788c689107d52e22e.bundle.js.map
  docs/runtime~main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/runtime~main.d84788c689107d52e22e.bundle.js
  docs/runtime~main.d84788c689107d52e22e.bundle.js.map
  docs/vendors~main.6330ccf8a1351923c827.bundle.js
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js
  docs/vendors~main.6ed89cf18aa0fc32c807.bundle.js.map
  docs/vendors~main.79149d3950cda8db5125.bundle.js
  docs/vendors~main.d84788c689107d52e22e.bundle.js
  docs/vendors~main.d84788c689107d52e22e.bundle.js.LICENSE
  docs/vendors~main.d84788c689107d52e22e.bundle.js.map
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions. (#805)
  package-lock.json
  package.json
Due: prettier --write

feature. Panel and FlowItem. Better header layout (#807). Header retains summary when panel is short (#807).
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/demos/flow/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

feat(Panel, FlowItem): better header layout and header retains summary when panel is short
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.scss
  src/demos/flow/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Issue #801: Fix test.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Issue #801: Prevent switch interaction.
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix(block-section): toggle section (with toggleDisplay=switch) when Enter or Space key is pressed (#809)
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/demos/block/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

Fix display for text without icon. Previously, there was some padding to the left of the text for no reason.
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/basic.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix rtl styling
  src/components/calcite-action/calcite-action.scss
Due: prettier --write, stylelint --fix

commits, formatting per francos comments
  PROJECT_GUIDELINES.md
Due: prettier --write

prs and punctuation per franco comments
  PROJECT_GUIDELINES.md
Due: prettier --write

fixing typos
  PROJECT_GUIDELINES.md
Due: prettier --write

fix for edge
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

default slot doc
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

reporting bugs section
  PROJECT_GUIDELINES.md
Due: prettier --write

moved report bug to under conventions
  PROJECT_GUIDELINES.md
Due: prettier --write

fix tests
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

cleanup
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

testing
  PROJECT_GUIDELINES.md
Due: prettier --write

responsive prototype start
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/scss/injected.scss
  src/scss/mixins/variables/_breakpoints.scss
Due: prettier --write, stylelint --fix

issues and gotchas
  PROJECT_GUIDELINES.md
Due: prettier --write

formatting
  PROJECT_GUIDELINES.md
Due: prettier --write

gotchas link to stencil wiki
  PROJECT_GUIDELINES.md
Due: prettier --write

added cac readme
  PROJECT_GUIDELINES.md
Due: prettier --write

removing weird line break again
  PROJECT_GUIDELINES.md
Due: prettier --write

general section of components with matts comments
  PROJECT_GUIDELINES.md
Due: prettier --write

documentation section for matts additions
  PROJECT_GUIDELINES.md
Due: prettier --write

removed semantic section
  PROJECT_GUIDELINES.md
Due: prettier --write

ts and components changes
  PROJECT_GUIDELINES.md
Due: prettier --write

bp and ts
  PROJECT_GUIDELINES.md
Due: prettier --write

added more specific linke to stencils styleguide for structure
  PROJECT_GUIDELINES.md
Due: prettier --write

styling makeover
  PROJECT_GUIDELINES.md
Due: prettier --write

components description
  PROJECT_GUIDELINES.md
Due: prettier --write

TypeScript section
  PROJECT_GUIDELINES.md
Due: prettier --write
