Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

add group element
  src/components/calcite-picker/calcite-picker-group/calcite-picker-group.tsx
Due: prettier --write, tslint --fix

update text properties to use prefix
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
Due: prettier --write, tslint --fix

add drag and drop behavior
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

add new config mode demo with dragEnabled
  src/demos/calcite-picker.html
Due: none

fix weird bugs
  package-lock.json
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/demos/calcite-tip-manager.html
Due: prettier --write, tslint --fix

cleanup
  src/demos/calcite-tip-manager.html
Due: none

new test for removing active tip
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

use closest and don't use getAttribute to maintain typings
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

re #105. Organized font sizes. Cleaned up unused classes from CSS objects.
  src/assets/styles/_base.scss
  src/assets/styles/_type.scss
  src/components/calcite-block-header/resources.ts
  src/components/calcite-block-section/resources.ts
  src/components/calcite-shell-panel/resources.ts
Due: prettier --write, tslint --fix

update drag demo
  src/demos/calcite-picker.html
Due: none

add public method for getting selectedvalues
  src/components/calcite-picker/calcite-picker.tsx
Due: prettier --write, tslint --fix

docs & build
  docs/build/calcite.esm.js
  docs/build/p-0s0v4cgu.system.entry.js
  docs/build/p-16d14bb8.system.js
  docs/build/p-2hqjj4da.entry.js
  docs/build/p-3rkrj6at.entry.js
  docs/build/p-bwxkepvx.system.entry.js
  docs/build/p-cg2doitt.entry.js
  docs/build/p-hvjpr9vl.system.entry.js
  docs/build/p-ravps2wg.entry.js
  docs/build/p-rl371rdc.entry.js
  docs/build/p-sm731l02.system.entry.js
  docs/build/p-xli7ihcr.entry.js
  docs/build/p-xxmlvvlr.system.entry.js
  docs/build/p-xyuzcnqm.system.entry.js
  docs/demos/calcite-shell-panel/index.html
  docs/demos/calcite-shell/index.html
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-floating-panel/readme.md
  src/components/calcite-shell-panel/readme.md
Due: prettier --write

re #105. font vars and settings cleaned up
  src/assets/styles/_base.scss
  src/assets/styles/_type.scss
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

re: #105. Updated font var names to include --calcite-app- prefix. flow-item .heading more specific.
  src/assets/styles/_base.scss
  src/assets/styles/_type.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-header/calcite-block-header.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Due: prettier --write

re: #105. Added typography doc page.
  src/demos/calcite-typography/index.html
  src/demos/nav.js
Due: none

code review changes
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/demos/calcite-tip-manager.html
Due: prettier --write, tslint --fix

re: #105. Updated "bold" to "demi". Updated typography demo page.
  src/assets/styles/_base.scss
  src/assets/styles/_type.scss
  src/demos/calcite-typography/index.html
Due: prettier --write

Issue #117: Simplify calcite-block usage.
  src/components/calcite-block-content/calcite-block-content.e2e.ts
  src/components/calcite-block-content/calcite-block-content.scss
  src/components/calcite-block-content/calcite-block-content.tsx
  src/components/calcite-block-content/readme.md
  src/components/calcite-block-header/calcite-block-header.e2e.ts
  src/components/calcite-block-header/calcite-block-header.scss
  src/components/calcite-block-header/calcite-block-header.tsx
  src/components/calcite-block-header/readme.md
  src/components/calcite-block-header/resources.ts
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Issue #117: Handle case where slot may not be rendered when clicked.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

Issue #117: Tidy up.
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

fixed block-section e2e
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --fix

Issue #119: Change how block content is visually toggled.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
Due: prettier --write, tslint --fix

Update doc.
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
Due: prettier --write

post master merge demo fix re: block structure
  src/demos/calcite-shell/index.html
Due: none

action indicator start
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-shell/index.html
Due: prettier --write

reworded floating panel doc
  src/components/calcite-floating-panel/readme.md
Due: prettier --write

Update package.json.
  package-lock.json
  package.json
Due: prettier --write

post master merge. Tip Manager style fix
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/demos/calcite-tip-manager.html
Due: prettier --write

nested selectors in action
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

indicator style updates re: #123
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

get edit mode working
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.scss
  src/components/calcite-picker/calcite-picker-row/calcite-picker-row.tsx
  src/components/calcite-picker/calcite-picker.tsx
  src/demos/calcite-picker.html
Due: prettier --write, tslint --fix

re: #123. text-enabled indicator style. :hover style.
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-shell/index.html
Due: prettier --write

Tidy up calcite-block-section test suite.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
Due: prettier --write, tslint --fix

updated doc block/section shell/panel
  src/components/calcite-block-section/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/readme.md
Due: prettier --write

re #105. Removed block-header
  src/components/calcite-block-header/calcite-block-header.scss
  src/components/calcite-block-header/resources.ts
Due: prettier --write, tslint --fix

Make block tests similar.
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block/calcite-block.e2e.ts
Due: prettier --write, tslint --fix

wip on filter component
  package-lock.json
  package.json
  src/components/calcite-filter/calcite-filter.tsx
  src/demos/calcite-filter.html
  src/demos/nav.js
Due: prettier --write, tslint --fix

added css file and updated demo
  src/components/calcite-filter/calcite-filter.scss
  src/demos/calcite-filter.html
Due: prettier --write

added indicator example for contextual action-bar
  src/demos/calcite-shell/index.html
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
