Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{json,md,scss}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["tslint --fix", "prettier --write", "git add"]
  }
}

feat(value-list): using Scrim for loading and disabled.
  src/components/calcite-value-list/calcite-value-list.scss
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

feat(value-list): removed aria-disabled.
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

stuffz
  src/demos/calcite-flow-item.html
Due: none

style(action): added animations for interactive (#391)
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

fix(panel): moved position:relative to :host
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

feat(value-list): added container. move attr out of host
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
Due: prettier --write, tslint --fix

Bug: calcite-flow-item shows header-trailing-content without having menu-actions #409
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --fix

#385 accessible action components
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --fix

calcite flow tests #385
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
Due: prettier --write, tslint --fix

#385 accessible testing for panel components
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell/calcite-shell.e2e.ts
Due: prettier --write, tslint --fix

always render slot containers. #354
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --fix

#360 remove loading prop from shell-panel.
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
Due: prettier --write, tslint --fix

#398 fix tip background color.
  src/components/calcite-tip/calcite-tip.scss
Due: prettier --write

update calcite components and npm audit fix
  package-lock.json
  package.json
Due: prettier --write

bug(flow-item): Updated demos to test header text overflow (#414)
  src/components/calcite-panel/calcite-panel.scss
  src/demos/calcite-flow-item.html
  src/demos/calcite-flow.html
  src/demos/calcite-pick-list.html
Due: prettier --write

#393 remove shell min-width
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

bug(value-list): nixed disabled prop from destruct (#424)
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

bug(pick-list-item): nixed unused imports.
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

remove console log
  src/demos/calcite-value-list.html
Due: none

fix build errors
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

update stencil.js to 1.7.3
  package-lock.json
  package.json
Due: prettier --write

bug(flow-item, panel): header overflow issue fixed. Moved styles from flow-item to panel. (#414)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
Due: prettier --write

add a console warn and simpler demo file
  src/components/calcite-filter/calcite-filter.tsx
  src/demos/calcite-pick-list-simple.html
Due: prettier --write, tslint --fix

fix jsdoc tslint errors.
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

nix shadowed variables.
  src/components/calcite-filter/calcite-filter.tsx
Due: prettier --write, tslint --fix

style(panel, value-list): spacing tweak for panel and related tweak for value-list. (#418)
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write

added readme and title to pick list demo
  src/demos/calcite-pick-list.html
Due: none

link to value-list demo & spacing cleanup
  src/demos/calcite-flow.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-value-list.html
Due: none

review fixes. Moved event to label as well. Also removed unnecessary check for slot on event now that its on the label.
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

ran the build for docs
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/readme.md
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/readme.md
Due: prettier --write, tslint --fix

fix tabindex to tabIndex
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Due: prettier --write, tslint --fix

#215 note shell supports tablet as smallest screen
  src/components/calcite-shell/readme.md
  src/demos/calcite-shell.html
Due: prettier --write

wording for disabled description in all comps
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
Due: prettier --write, tslint --fix

Set vars for dark theme.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

style(panel, flow-item, value-list, demos): styles for menu-actions in pick and value lists. A few other style tweaks. Demo updates. (#417)
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/calcite-pick-list.html
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-value-list.html
Due: prettier --write

review fixes
  src/assets/styles/_base.scss
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

Revert to stencil 1.6.1
  package-lock.json
  package.json
Due: prettier --write

chore(README): fix deployment step typo
  README.md
Due: prettier --write
