Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

remove Edge's nonStandard broken clear btn
  src/components/calcite-filter/calcite-filter.scss
Due: prettier --write

add accessible tests to tips
  src/components/calcite-tip-group/calcite-tip-group.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
Due: prettier --write, tslint --fix

refactor: use CSS vars for layout values
  src/assets/styles/_layout.scss
Due: prettier --write

Style. Updating base spacing to 16px. Also sneaking in setting the animation var correctly. (#519)
  src/assets/styles/_animation.scss
  src/assets/styles/_layout.scss
Due: prettier --write

split valueList demos into simple and adv
  src/demos/calcite-value-list-advanced.html
  src/demos/calcite-value-list.html
Due: none

add unique id for sorting
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

get keyboard sorting working.
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/utils/dom.ts
Due: prettier --write, tslint --fix

re-focus the sorted element.
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --fix

fix: Shell styling for TipManager (#514)
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/demos/calcite-shell-full-window.html
  src/demos/calcite-shell.html
Due: prettier --write

add stale issue config
  .github/stale.yml
Due: none

Add Semantic PR readme/info #523
  README.md
Due: prettier --write

cleanup
  README.md
Due: prettier --write

minor cleanup/wording
  README.md
Due: prettier --write

chore: Update issue templates to add new label for new issues
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

move to contributing file
  CONTRIBUTING.md
  README.md
Due: prettier --write

Provide type info to TSLint.
  .lintstagedrc.json
  package.json
Due: prettier --write

Auto-fix unused variables.
  tslint.json
Due: prettier --write

docs: Add Semantic PR readme/info (#525)
  CONTRIBUTING.md
Due: prettier --write

Simplify template questions
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Due: prettier --write

fix: remove Edge's non-standard broken clear btn from filter (#522)
  src/components/calcite-filter/calcite-filter.scss
Due: prettier --write

add drag and drop e2e tests
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

remove sticky prop
  src/demos/calcite-pick-list.html
Due: none

style: update base spacing size to 16px
  src/assets/styles/_animation.scss
  src/assets/styles/_layout.scss
Due: prettier --write

- Add `closed` property to TipManager - Add container class for div - Add new event and deprecate old event - Update tests - Fix shadowed var
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
Due: prettier --write, tslint --fix

update test app, cleanup css, fix direction
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/demos/calcite-shell-full-window.html
Due: prettier --write, tslint --fix

added a11y tests for picklist components
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --fix

added value list a11y test
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

feat: picklist sticky filter 503 (#509)
  README.md
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-value-list/calcite-value-list.scss
Due: prettier --write, tslint --fix

shadow var
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
Due: prettier --write, tslint --fix

Style. Explicit values for flex shorthand (#302)
  src/assets/styles/_base.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

Style. border-box ALL THE THINGS
  src/assets/styles/_base.scss
Due: prettier --write

demo asset to CDN.
  README.md
  src/assets/view-it-live.png
  src/index.html
Due: prettier --write

Style. action > slot-container style for centering icon.
  src/components/calcite-action/calcite-action.scss
Due: prettier --write

Style. calcite-value-list-item. remove box shadow (border) from last child. (#517)
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

style: explicit values for flex shorthand
  src/assets/styles/_base.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell/calcite-shell.scss
Due: prettier --write

simplify action-bar demo
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/demos/calcite-action-bar.html
Due: prettier --write

mutable select prop testing
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --fix

style(calcite-value-list-item): remove box shadow border from last child
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

add a11y issue template
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
Due: prettier --write

test: Added missing a11y e2e tests 385 (#532)
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-tip-group/calcite-tip-group.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
