Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

fix circle filled icon
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(pick-list, value-list): Fix icon for selected circle #911
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove calcite-icon if possible
  src/demos/action-bar/add-action-after-init.html
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow/adding-items.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/demos/value-list/double-action.html
  src/demos/value-list/value-update.html
Due: none

chore: remove use of calcite-icon if possible #912
  src/demos/action-bar/add-action-after-init.html
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow/adding-items.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/demos/value-list/double-action.html
  src/demos/value-list/value-update.html
Due: none

support adding icon slot in action after initialization
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/add-action-icon-after-init.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

add test
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

decrease delay
  src/components/calcite-action/calcite-action.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix test app
  src/demos/value-list/advanced.html
Due: none

chore: fix test app
  src/demos/value-list/advanced.html
Due: none

fix(action): Support slotting icon after initialization (#913)
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
  src/demos/action/add-action-icon-after-init.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

use the force
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: use the force #915
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

build(deps): fix NPM audit
  package-lock.json
Due: prettier --write

fix audit!
  package-lock.json
Due: prettier --write

chore: remove workaround lint-staged config override
  .lintstagedrc
Due: none

build(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

build(deps): bump versions (#917)
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

Clean up.
  src/components/calcite-block/calcite-block.scss
  src/demos/shell/block-configurations.html
Due: prettier --write, stylelint --fix

refactor(pick-list-item): avoid setting icon when unselected
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(action, flow, pick-list, sortable-list, tip-manager, value-list): react to DOM mutations earlier to avoid stagnant renders
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Update flow.
  src/components/calcite-flow/calcite-flow.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(action, flow, pick-list, sortable-list, tip-manager, value-list): react to DOM mutations earlier to avoid stagnant renders (#920)
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(value-list): restore DND setup
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(value-list): restore DND setup (#921)
  src/components/calcite-value-list/calcite-value-list.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix(pick-list-item): update filled circle icon setup
  package-lock.json
  package.json
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

bump calcite-components
  package-lock.json
  package.json
Due: prettier --write

fix(pick-list-item): update filled circle icon setup (#922)
  package-lock.json
  package.json
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

document supported browsers #924
  README.md
Due: prettier --write

fix edge legacy stories.
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix flickering of action text in Edge legacy
  src/components/calcite-action/calcite-action.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(action,fab): fix edge legacy stories. #926
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: document supported browsers #924 (#925)
  README.md
Due: prettier --write

Fix edge errors with flow item
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove keys
  src/components/calcite-flow-item/calcite-flow-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

remove class
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
