Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

icon scale
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

icon resources
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix value list
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

fix zee tests
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

package lock
  package-lock.json
Due: prettier --write

chore: Remove CalciteIcon Helpers (#680)
  .storybook/resources.ts
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/resources.ts
  src/components/utils/CalciteIcon.spec.ts
  src/components/utils/CalciteIcon.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(demos): update HTML helper to add missing quotes for attribute values
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Fix linting error.
  src/components/calcite-block/calcite-block.scss
Due: prettier --write, stylelint --fix

chore(linting): enable no-descending-specificity rule (#679)
  .stylelintrc.json
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-filter/calcite-filter.scss
Due: prettier --write, stylelint --fix

fix: #524 updated action appearance (#678)
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: cleanup stories
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

organize demos
  src/demos/_assets/demoPageReloader.ts
  src/demos/_assets/demos.css
  src/demos/_assets/head.ts
  src/demos/_assets/toggles.template
  src/demos/_assets/toggles.ts
  src/demos/action-bar/basic.html
  src/demos/action-pad/calcite-action-pad.html
  src/demos/action/calcite-action.html
  src/demos/block/block-with-value-list.html
  src/demos/block/calcite-block.html
  src/demos/calcite-typography.html
  src/demos/flow-item/calcite-flow-item.html
  src/demos/flow/calcite-flow.html
  src/demos/flow/flow-adding-items.html
  src/demos/panel/calcite-panel.html
  src/demos/pick-list/calcite-pick-list-advanced.html
  src/demos/pick-list/calcite-pick-list-simple.html
  src/demos/pick-list/calcite-pick-list.html
  src/demos/shell-panel/calcite-shell-panel.html
  src/demos/shell/calcite-shell.html
  src/demos/shell/shell-demo-app-full-window.html
  src/demos/shell/shell-demo-app-rtl.html
  src/demos/shell/shell-demo-app.html
  src/demos/shell/shell-panel-with-action-bar.html
  src/demos/tip-manager/calcite-tip-manager.html
  src/demos/tip/calcite-tip.html
  src/demos/value-list/calcite-value-list-advanced.html
  src/demos/value-list/calcite-value-list.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

rename files
  src/demos/action-pad/basic.html
  src/demos/action/basic.html
  src/demos/block/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/panel/basic.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell-panel/basic.html
  src/demos/shell/basic.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/tip-manager/basic.html
  src/demos/tip/basic.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: none

missed files
  src/demos/block/with-value-list.html
  src/demos/flow/adding-items.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
Due: none

remove comment
  src/demos/_assets/demos.css
Due: none

docs(demos): update HTML helper to add missing quotes for attribute values (#681)
  .storybook/utils.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: update storybook docs
  docs/build/calcite-app.esm.js
  docs/build/p-6gt9zn8d.entry.js
  docs/build/p-7824e91f.system.js
  docs/build/p-bfyltwiv.entry.js
  docs/build/p-feodshay.system.entry.js
  docs/build/p-h4jjrbfs.system.entry.js
  docs/build/p-okxabjya.system.entry.js
  docs/build/p-rvgxpgxo.system.entry.js
  docs/build/p-sesfzbo1.entry.js
  docs/build/p-talnwizs.entry.js
  docs/iframe.html
  docs/main.636f310e646c035c52bc.bundle.js
  docs/main.636f310e646c035c52bc.bundle.js.map
  docs/main.cbbd4e314f00bcbb4216.bundle.js
  docs/main.cbbd4e314f00bcbb4216.bundle.js.map
  docs/runtime~main.636f310e646c035c52bc.bundle.js.map
  docs/runtime~main.cbbd4e314f00bcbb4216.bundle.js
  docs/runtime~main.cbbd4e314f00bcbb4216.bundle.js.map
  docs/vendors~main.636f310e646c035c52bc.bundle.js.map
  docs/vendors~main.cbbd4e314f00bcbb4216.bundle.js
  docs/vendors~main.cbbd4e314f00bcbb4216.bundle.js.map
Due: none

fixed footer actions slot doc to use button #660"
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

multiple buttons not uh button
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs: fixed footer actions slot doc to use button #660" (#684)
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

feat(shell-panel, action): Add content-detached property to ShellPanel
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/demos/shell/demo-app-full-window.html
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

tests: remove .only (#672)
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

docs(demos): hide duplicate title from docs tab
  .storybook/utils.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore(demos): replace inlined SVGs with calcite-icon
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
  src/demos/action/basic.html
  src/demos/block/with-value-list.html
  src/demos/flow/adding-items.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/pick-list/simple.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

Enhancement: ShellPanel. Add tests and stories for detached mode and panel heigh-scale prop #686
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

progress
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/utils/ExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

chore: Panels knobs and test #689
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

calcite-action cleanup
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

action-bar cleanup
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

action-group cleanup
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-group/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

action-pad cleanup
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/readme.md
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

progress
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

cleanup + Progress
  .storybook/resources.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/resources.ts
Due: prettier --write, stylelint --fix, tslint --project tsconfig-tslint.json --fix

no message
  .storybook/resources.ts
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

all setup
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/utils/CalciteExpandToggle.tsx
Due: prettier --write, tslint --project tsconfig-tslint.json --fix

block cleanup
  src/components/calcite-block/readme.md
Due: prettier --write

block-section cleanup
  src/components/calcite-block-section/readme.md
Due: prettier --write

Fix for flex-flow on shell-panel > content div. Added similar styles to panel > .content-container for consistent styles. Also a tweak to tighten up block spacing.
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.scss)) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.scss
  tslint --project tsconfig-tslint.json --fix: any of: *.{ts,tsx}
