Repository Esri/calcite-app-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

update changelog
  CHANGELOG.md
Due: prettier --write

Issue #441: Clean up generated d.ts files before running docs.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

Revert "Issue #441: Clean up generated d.ts files before running docs."
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Revert bump versions.
  package-lock.json
  package.json
Due: prettier --write

Issue #431: Include linting in CI.
  .travis.yml
Due: none

Issue #431: Run lint script.
  .travis.yml
Due: none

Issue #431: Fix lint-script file glob pattern.
  package.json
Due: prettier --write

Issue #431: Run tests.
  .travis.yml
Due: none

Remove conflict addition
  package.json
Due: prettier --write

Try icons v2.5.3
  package.json
Due: prettier --write

style(pick-list-item): disable text-description when compact. initial associated styles. (#447 #390)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list-item/resources.ts
Due: prettier --write, tslint --fix

Add summary property to calcite-flow-item
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/resources.ts
  src/demos/calcite-flow-item.html
Due: prettier --write, tslint --fix

move setup code to componentDidLoad
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

pre-select first item in the demo
  src/demos/calcite-pick-list.html
Due: none

fix(pick-list-item): fix text wrapping and not wrapping. Reset unrelated change. (#430 #439)
  src/assets/styles/_mixins.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

fix: filter items not working with maquette
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

4.3.1
  CHANGELOG.md
  docs/build/calcite-app.esm.js
  docs/build/p-6ce807db.system.js
  docs/build/p-9p9svaei.entry.js
  docs/build/p-ld22ghhd.system.entry.js
  docs/build/p-lerxiyjf.system.entry.js
  docs/build/p-u65n3khm.entry.js
  docs/demos/calcite-pick-list.html
  package-lock.json
  package.json
Due: prettier --write

fix(pick-list-item): revert word-break. clean up. demo with long strings. (#430 #439)
  src/assets/styles/_mixins.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/demos/calcite-pick-list.html
Due: prettier --write, tslint --fix

demo update
  src/demos/calcite-pick-list.html
Due: none

Include demo pages in dev workflow.
  package.json
  src/demos/demoPageReloader.js
  src/demos/head.js
  support/demoPageSync.js
Due: prettier --write

fix(value-list-item): removed redundant padding. (#456).
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Due: prettier --write

Issue #404: Add calcite header icon slot.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Issue #404: Tweak test.
  src/components/calcite-block/calcite-block.e2e.ts
Due: prettier --write, tslint --fix

Issue #404: Revert minor test page change.
  src/demos/calcite-block.html
Due: none

Issue #403: Allow control only when block is non-collapsible.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Fixed block caret icon size change when title is long. (#453)
  src/components/calcite-block/calcite-block.scss
Due: prettier --write

exclude text-description when in compact mode. Added some margin to action to retain a min height. (#447)
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

Issue #244: Create GH release after publishing.
  package-lock.json
  package.json
  support/githubReleaseFromChangelog.js
Due: prettier --write

Issue #403: Hide collapsible icon when control is provided.
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/demos/calcite-block.html
Due: prettier --write, tslint --fix

Issue #403: Tweak demo page.
  src/demos/calcite-block.html
Due: none

3 new tests for filter. metadata wip
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --fix

change filter data from to selected properties. Prior was using all attributes.
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

add event for modified properties filter depends on
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
Due: prettier --write, tslint --fix

split filter setup so it can called on prop change
  src/components/calcite-pick-list/calcite-pick-list.tsx
Due: prettier --write, tslint --fix

fix bug in tests
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,scss}) or (any of: *.{ts,tsx})
  tslint --fix: any of: *.{ts,tsx}
